{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 41 – Curitiba
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">41 – Adrianópolis – PR</p>
        </li>
        <li>
          <p class="lead">41 – Agudos Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">41 – Almirante Tamandaré – PR</p>
        </li>
        <li>
          <p class="lead">41 – Antonina – PR</p>
        </li>
        <li>
          <p class="lead">41 – Araucária – PR</p>
        </li>
        <li>
          <p class="lead">41 – Balsa Nova – PR</p>
        </li>
        <li>
          <p class="lead">41 – Bocaiúva Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">41 – Campina Grande Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">41 – Campo Do Tenente – PR</p>
        </li>
        <li>
          <p class="lead">41 – Campo Largo – PR</p>
        </li>
        <li>
          <p class="lead">41 – Campo Magro – PR</p>
        </li>
        <li>
          <p class="lead">41 – Cerro Azul – PR</p>
        </li>
        <li>
          <p class="lead">41 – Colombo – PR</p>
        </li>
        <li>
          <p class="lead">41 – Contenda – PR</p>
        </li>
        <li>
          <p class="lead">41 – Curitiba – PR</p>
        </li>
        <li>
          <p class="lead">41 – Doutor Ulysses – PR</p>
        </li>
        <li>
          <p class="lead">41 – Fazenda Rio Grande – PR</p>
        </li>
        <li>
          <p class="lead">41 – Guaraqueçaba – PR</p>
        </li>
        <li>
          <p class="lead">41 – Guaratuba – PR</p>
        </li>
        <li>
          <p class="lead">41 – Itaperuçu – PR</p>
        </li>
        <li>
          <p class="lead">41 – Lapa – PR</p>
        </li>
        <li>
          <p class="lead">41 – Mandirituba – PR</p>
        </li>
        <li>
          <p class="lead">41 – Matinhos – PR</p>
        </li>
        <li>
          <p class="lead">41 – Morretes – PR</p>
        </li>
        <li>
          <p class="lead">41 – Paranaguá – PR</p>
        </li>
        <li>
          <p class="lead">41 – Piên – PR</p>
        </li>
        <li>
          <p class="lead">41 – Pinhais – PR</p>
        </li>
        <li>
          <p class="lead">41 – Piraquara – PR</p>
        </li>
        <li>
          <p class="lead">41 – Pontal Do Paraná – PR</p>
        </li>
        <li>
          <p class="lead">41 – Quatro Barras – PR</p>
        </li>
        <li>
          <p class="lead">41 – Quitandinha – PR</p>
        </li>
        <li>
          <p class="lead">41 – Rio Branco Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">41 – Rio Negro – PR</p>
        </li>
        <li>
          <p class="lead">41 – São José Dos Pinhais – PR</p>
        </li>
        <li>
          <p class="lead">41 – Tijucas Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">41 – Tunas Do Paraná – PR</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}