{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 42 – Ponta Grossa
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">42 – Antônio Olinto – PR</p>
        </li>
        <li>
          <p class="lead">42 – Bituruna – PR</p>
        </li>
        <li>
          <p class="lead">42 – Boa Ventura De São Roque – PR</p>
        </li>
        <li>
          <p class="lead">42 – Campina Do Simão – PR</p>
        </li>
        <li>
          <p class="lead">42 – Candói – PR</p>
        </li>
        <li>
          <p class="lead">42 – Cantagalo – PR</p>
        </li>
        <li>
          <p class="lead">42 – Carambeí – PR</p>
        </li>
        <li>
          <p class="lead">42 – Castro – PR</p>
        </li>
        <li>
          <p class="lead">42 – Cruz Machado – PR</p>
        </li>
        <li>
          <p class="lead">42 – Fernandes Pinheiro – PR</p>
        </li>
        <li>
          <p class="lead">42 – Foz Do Jordão – PR</p>
        </li>
        <li>
          <p class="lead">42 – General Carneiro – PR</p>
        </li>
        <li>
          <p class="lead">42 – Goioxim – PR</p>
        </li>
        <li>
          <p class="lead">42 – Guamiranga – PR</p>
        </li>
        <li>
          <p class="lead">42 – Guarapuava – PR</p>
        </li>
        <li>
          <p class="lead">42 – Imbaú – PR</p>
        </li>
        <li>
          <p class="lead">42 – Imbituva – PR</p>
        </li>
        <li>
          <p class="lead">42 – Inácio Martins – PR</p>
        </li>
        <li>
          <p class="lead">42 – Ipiranga – PR</p>
        </li>
        <li>
          <p class="lead">42 – Irati – PR</p>
        </li>
        <li>
          <p class="lead">42 – Ivaí – PR</p>
        </li>
        <li>
          <p class="lead">42 – Laranjal – PR</p>
        </li>
        <li>
          <p class="lead">42 – Laranjeiras Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">42 – Mallet – PR</p>
        </li>
        <li>
          <p class="lead">42 – Marquinho – PR</p>
        </li>
        <li>
          <p class="lead">42 – Mato Rico – PR</p>
        </li>
        <li>
          <p class="lead">42 – Nova Laranjeiras – PR</p>
        </li>
        <li>
          <p class="lead">42 – Nova Tebas – PR</p>
        </li>
        <li>
          <p class="lead">42 – Ortigueira – PR</p>
        </li>
        <li>
          <p class="lead">42 – Palmeira – PR</p>
        </li>
        <li>
          <p class="lead">42 – Palmital – PR</p>
        </li>
        <li>
          <p class="lead">42 – Paula Freitas – PR</p>
        </li>
        <li>
          <p class="lead">42 – Paulo Frontin – PR</p>
        </li>
        <li>
          <p class="lead">42 – Pinhão – PR</p>
        </li>
        <li>
          <p class="lead">42 – Piraí Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">42 – Pitanga – PR</p>
        </li>
        <li>
          <p class="lead">42 – Ponta Grossa – PR</p>
        </li>
        <li>
          <p class="lead">42 – Porto Amazonas – PR</p>
        </li>
        <li>
          <p class="lead">42 – Porto Barreiro – PR</p>
        </li>
        <li>
          <p class="lead">42 – Porto União – SC
          
          
          <li>
            <p class="lead">42 – Porto Vitória – PR</p>
          </li>
          <li>
            <p class="lead">42 – Pr</p>
          </li>udentópolis – PR</p>
      </li>
      <li>
        <p class="lead">42 – Rebouças – PR</p>
      </li>
      <li>
        <p class="lead">42 – Reserva – PR</p>
      </li>
      <li>
        <p class="lead">42 – Reserva Do Iguaçu – PR</p>
      </li>
      <li>
        <p class="lead">42 – Rio Azul – PR</p>
      </li>
      <li>
        <p class="lead">42 – Rio Bonito Do Iguaçu – PR</p>
      </li>
      <li>
        <p class="lead">42 – Santa Maria Do Oeste – PR</p>
      </li>
      <li>
        <p class="lead">42 – São João Do Triunfo – PR</p>
      </li>
      <li>
        <p class="lead">42 – São Mateus Do Sul – PR</p>
      </li>
      <li>
        <p class="lead">42 – Teixeira Soares – PR</p>
      </li>
      <li>
        <p class="lead">42 – Telêmaco Borba – PR</p>
      </li>
      <li>
        <p class="lead">42 – Tibagi – PR</p>
      </li>
      <li>
        <p class="lead">42 – Turvo – PR</p>
      </li>
      <li>
        <p class="lead">42 – União Da Vitória – PR</p>
      </li>
      <li>
        <p class="lead">42 – Ventania – PR</p>
      </li>
      <li>
        <p class="lead">42 – Virmond – PR</p>
      </li>
    </ul>
  </div>
  {% include "history/states.njk" %}
</div>
{% endblock %}
</body>

</html>