<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 43 – Londrina
      </h2>
      <br>
      <br>
      <ul> 
          <li><p class="lead">43 – Abatiá – PR</p></li>
          <li><p class="lead">43 – Alvorada Do Sul – PR</p></li>
          <li><p class="lead">43 – Andirá – PR</p></li>
          <li><p class="lead">43 – Apucarana – PR</p></li>
          <li><p class="lead">43 – Arapongas – PR</p></li>
          <li><p class="lead">43 – Arapoti – PR</p></li>
          <li><p class="lead">43 – Arapuã – PR</p></li>
          <li><p class="lead">43 – Ariranha Do Ivaí – PR</p></li>
          <li><p class="lead">43 – Assaí – PR</p></li>
          <li><p class="lead">43 – Bandeirantes – PR</p></li>
          <li><p class="lead">43 – Barra Do Jacaré – PR</p></li>
          <li><p class="lead">43 – Bela Vista Do Paraíso – PR</p></li>
          <li><p class="lead">43 – Bom Sucesso – PR</p></li>
          <li><p class="lead">43 – Borrazópolis – PR</p></li>
          <li><p class="lead">43 – Cafeara – PR</p></li>
          <li><p class="lead">43 – Califórnia – PR</p></li>
          <li><p class="lead">43 – Cambará – PR</p></li>
          <li><p class="lead">43 – Cambé – PR</p></li>
          <li><p class="lead">43 – Cambira – PR</p></li>
          <li><p class="lead">43 – Cândido De Abreu – PR</p></li>
          <li><p class="lead">43 – Carlópolis – PR</p></li>
          <li><p class="lead">43 – Centenário Do Sul – PR</p></li>
          <li><p class="lead">43 – Congonhinhas – PR</p></li>
          <li><p class="lead">43 – Conselheiro Mairinck – PR</p></li>
          <li><p class="lead">43 – Cornélio Procópio – PR</p></li>
          <li><p class="lead">43 – Cruzmaltina – PR</p></li>
          <li><p class="lead">43 – Curiúva – PR</p></li>
          <li><p class="lead">43 – Faxinal – PR</p></li>
          <li><p class="lead">43 – Figueira – PR</p></li>
          <li><p class="lead">43 – Florestópolis – PR</p></li>
          <li><p class="lead">43 – Godoy Moreira – PR</p></li>
          <li><p class="lead">43 – Grandes Rios – PR</p></li>
          <li><p class="lead">43 – Guapirama – PR</p></li>
          <li><p class="lead">43 – Guaraci – PR</p></li>
          <li><p class="lead">43 – Ibaiti – PR</p></li>
          <li><p class="lead">43 – Ibiporã – PR</p></li>
          <li><p class="lead">43 – Itambaracá – PR</p></li>
          <li><p class="lead">43 – Ivaiporã – PR</p></li>
          <li><p class="lead">43 – Jaboti – PR</p></li>
          <li><p class="lead">43 – Jacarezinho – PR</p></li>
          <li><p class="lead">43 – Jaguapitã – PR</p></li>
          <li><p class="lead">43 – Jaguariaíva – PR</p></li>
          <li><p class="lead">43 – Jandaia Do Sul – PR</p></li>
          <li><p class="lead">43 – Japira – PR</p></li>
          <li><p class="lead">43 – Jardim Alegre – PR</p></li>
          <li><p class="lead">43 – Jataizinho – PR</p></li>
          <li><p class="lead">43 – Joaquim Távora – PR</p></li>
          <li><p class="lead">43 – Jundiaí Do Sul – PR</p></li>
          <li><p class="lead">43 – Kaloré – PR</p></li>
          <li><p class="lead">43 – Leópolis – PR</p></li>
          <li><p class="lead">43 – Lidianópolis – PR</p></li>
          <li><p class="lead">43 – Londrina – PR</p></li>
          <li><p class="lead">43 – Lunardelli – PR</p></li>
          <li><p class="lead">43 – Lupionópolis – PR</p></li>
          <li><p class="lead">43 – Manoel Ribas – PR</p></li>
          <li><p class="lead">43 – Marilândia Do Sul – PR</p></li>
          <li><p class="lead">43 – Marumbi – PR</p></li>
          <li><p class="lead">43 – Mauá Da Serra – PR</p></li>
          <li><p class="lead">43 – Miraselva – PR</p></li>
          <li><p class="lead">43 – Nova América Da Colina – PR</p></li>
          <li><p class="lead">43 – Nova Fátima – PR</p></li>
          <li><p class="lead">43 – Nova Santa Bárbara – PR</p></li>
          <li><p class="lead">43 – Novo Itacolomi – PR</p></li>
          <li><p class="lead">43 – Pinhalão – PR</p></li>
          <li><p class="lead">43 – Pitangueiras – PR</p></li>
          <li><p class="lead">43 – Porecatu – PR</p></li>
          <li><p class="lead">43 – Pr</p></li>ado Ferreira – PR</p></li>
          <li><p class="lead">43 – Pr</p></li>imeiro De Maio – PR</p></li>
          <li><p class="lead">43 – Quatiguá – PR</p></li>
          <li><p class="lead">43 – Rancho Alegre – PR</p></li>
          <li><p class="lead">43 – Ribeirão Claro – PR</p></li>
          <li><p class="lead">43 – Ribeirão Do Pinhal – PR</p></li>
          <li><p class="lead">43 – Rio Bom – PR</p></li>
          <li><p class="lead">43 – Rio Branco Do Ivaí – PR</p></li>
          <li><p class="lead">43 – Rolândia – PR</p></li>
          <li><p class="lead">43 – Rosário Do Ivaí – PR</p></li>
          <li><p class="lead">43 – Sabáudia – PR</p></li>
          <li><p class="lead">43 – Salto Do Itararé – PR</p></li>
          <li><p class="lead">43 – Santa Amélia – PR</p></li>
          <li><p class="lead">43 – Santa Cecília Do Pavão – PR</p></li>
          <li><p class="lead">43 – Santa Mariana – PR</p></li>
          <li><p class="lead">43 – Santana Do Itararé – PR</p></li>
          <li><p class="lead">43 – Santo Antônio Da Platina – PR</p></li>
          <li><p class="lead">43 – Santo Antônio Do Paraíso – PR</p></li>
          <li><p class="lead">43 – São Jerônimo Da Serra – PR</p></li>
          <li><p class="lead">43 – São João Do Ivaí – PR</p></li>
          <li><p class="lead">43 – São José Da Boa Vista – PR</p></li>
          <li><p class="lead">43 – São Pedro Do Ivaí – PR</p></li>
          <li><p class="lead">43 – São Sebastião Da Amoreira – PR</p></li>
          <li><p class="lead">43 – Sapopema – PR</p></li>
          <li><p class="lead">43 – Sengés – PR</p></li>
          <li><p class="lead">43 – Sertaneja – PR</p></li>
          <li><p class="lead">43 – Sertanópolis – PR</p></li>
          <li><p class="lead">43 – Siqueira Campos – PR</p></li>
          <li><p class="lead">43 – Tamarana – PR</p></li>
          <li><p class="lead">43 – Tomazina – PR</p></li>
          <li><p class="lead">43 – Uraí – PR</p></li>
          <li><p class="lead">43 – Wenceslau Braz – PR</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>