<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 44 – Maringá
      </h2>
      <br>
      <br>
      <ul> 
          <li><p class="lead">44 – Altamira Do Paraná – PR</p></li>
          <li><p class="lead">44 – Alto Paraná – PR</p></li>
          <li><p class="lead">44 – Alto Piquiri – PR</p></li>
          <li><p class="lead">44 – Altônia – PR</p></li>
          <li><p class="lead">44 – Amaporã – PR</p></li>
          <li><p class="lead">44 – Ângulo – PR</p></li>
          <li><p class="lead">44 – Araruna – PR</p></li>
          <li><p class="lead">44 – Assis Chateaubriand – PR</p></li>
          <li><p class="lead">44 – Astorga – PR</p></li>
          <li><p class="lead">44 – Atalaia – PR</p></li>
          <li><p class="lead">44 – Barbosa Ferraz – PR</p></li>
          <li><p class="lead">44 – Boa Esperança – PR</p></li>
          <li><p class="lead">44 – Brasilândia Do Sul – PR</p></li>
          <li><p class="lead">44 – Cafezal Do Sul – PR</p></li>
          <li><p class="lead">44 – Campina Da Lagoa – PR</p></li>
          <li><p class="lead">44 – Campo Mourão – PR</p></li>
          <li><p class="lead">44 – Cianorte – PR</p></li>
          <li><p class="lead">44 – Cidade Gaúcha – PR</p></li>
          <li><p class="lead">44 – Colorado – PR</p></li>
          <li><p class="lead">44 – Corumbataí Do Sul – PR</p></li>
          <li><p class="lead">44 – Cruzeiro Do Oeste – PR</p></li>
          <li><p class="lead">44 – Cruzeiro Do Sul – PR</p></li>
          <li><p class="lead">44 – Diamante Do Norte – PR</p></li>
          <li><p class="lead">44 – Douradina – PR</p></li>
          <li><p class="lead">44 – Doutor Camargo – PR</p></li>
          <li><p class="lead">44 – Engenheiro Beltrão – PR</p></li>
          <li><p class="lead">44 – Esperança Nova – PR</p></li>
          <li><p class="lead">44 – Farol – PR</p></li>
          <li><p class="lead">44 – Fênix – PR</p></li>
          <li><p class="lead">44 – Floraí – PR</p></li>
          <li><p class="lead">44 – Floresta – PR</p></li>
          <li><p class="lead">44 – Flórida – PR</p></li>
          <li><p class="lead">44 – Formosa Do Oeste – PR</p></li>
          <li><p class="lead">44 – Francisco Alves – PR</p></li>
          <li><p class="lead">44 – Goioerê – PR</p></li>
          <li><p class="lead">44 – Guaíra – PR</p></li>
          <li><p class="lead">44 – Guairaçá – PR</p></li>
          <li><p class="lead">44 – Guaporema – PR</p></li>
          <li><p class="lead">44 – Icaraíma – PR</p></li>
          <li><p class="lead">44 – Iguaraçu – PR</p></li>
          <li><p class="lead">44 – Inajá – PR</p></li>
          <li><p class="lead">44 – Indianópolis – PR</p></li>
          <li><p class="lead">44 – Iporã – PR</p></li>
          <li><p class="lead">44 – Iracema Do Oeste – PR</p></li>
          <li><p class="lead">44 – Iretama – PR</p></li>
          <li><p class="lead">44 – Itaguajé – PR</p></li>
          <li><p class="lead">44 – Itambé – PR</p></li>
          <li><p class="lead">44 – Itaúna Do Sul – PR</p></li>
          <li><p class="lead">44 – Ivaté – PR</p></li>
          <li><p class="lead">44 – Ivatuba – PR</p></li>
          <li><p class="lead">44 – Janiópolis – PR</p></li>
          <li><p class="lead">44 – Japurá – PR</p></li>
          <li><p class="lead">44 – Jardim Olinda – PR</p></li>
          <li><p class="lead">44 – Jesuítas – PR</p></li>
          <li><p class="lead">44 – Juranda – PR</p></li>
          <li><p class="lead">44 – Jussara – PR</p></li>
          <li><p class="lead">44 – Loanda – PR</p></li>
          <li><p class="lead">44 – Lobato – PR</p></li>
          <li><p class="lead">44 – Luiziana – PR</p></li>
          <li><p class="lead">44 – Mamborê – PR</p></li>
          <li><p class="lead">44 – Mandaguaçu – PR</p></li>
          <li><p class="lead">44 – Mandaguari – PR</p></li>
          <li><p class="lead">44 – Maria Helena – PR</p></li>
          <li><p class="lead">44 – Marialva – PR</p></li>
          <li><p class="lead">44 – Marilena – PR</p></li>
          <li><p class="lead">44 – Mariluz – PR</p></li>
          <li><p class="lead">44 – Maringá – PR</p></li>
          <li><p class="lead">44 – Maripá – PR</p></li>
          <li><p class="lead">44 – Mirador – PR</p></li>
          <li><p class="lead">44 – Moreira Sales – PR</p></li>
          <li><p class="lead">44 – Munhoz De Melo – PR</p></li>
          <li><p class="lead">44 – Nossa Senhora Das Graças – PR</p></li>
          <li><p class="lead">44 – Nova Aliança Do Ivaí – PR</p></li>
          <li><p class="lead">44 – Nova Cantu – PR</p></li>
          <li><p class="lead">44 – Nova Esperança – PR</p></li>
          <li><p class="lead">44 – Nova Londrina – PR</p></li>
          <li><p class="lead">44 – Nova Olímpia – PR</p></li>
          <li><p class="lead">44 – Ourizona – PR</p></li>
          <li><p class="lead">44 – Paiçandu – PR</p></li>
          <li><p class="lead">44 – Palotina – PR</p></li>
          <li><p class="lead">44 – Paraíso Do Norte – PR</p></li>
          <li><p class="lead">44 – Paranacity – PR</p></li>
          <li><p class="lead">44 – Paranapoema – PR</p></li>
          <li><p class="lead">44 – Paranavaí – PR</p></li>
          <li><p class="lead">44 – Peabiru – PR</p></li>
          <li><p class="lead">44 – Perobal – PR</p></li>
          <li><p class="lead">44 – Pérola – PR</p></li>
          <li><p class="lead">44 – Planaltina Do Paraná – PR</p></li>
          <li><p class="lead">44 – Porto Rico – PR</p></li>
          <li><p class="lead">44 – Pr</p></li>esidente Castelo Branco – PR</p></li>
          <li><p class="lead">44 – Quarto Centenário – PR</p></li>
          <li><p class="lead">44 – Querência Do Norte – PR</p></li>
          <li><p class="lead">44 – Quinta Do Sol – PR</p></li>
          <li><p class="lead">44 – Rancho Alegre D’oeste – PR</p></li>
          <li><p class="lead">44 – Roncador – PR</p></li>
          <li><p class="lead">44 – Rondon – PR</p></li>
          <li><p class="lead">44 – Santa Cruz De Monte Castelo – PR</p></li>
          <li><p class="lead">44 – Santa Fé – PR</p></li>
          <li><p class="lead">44 – Santa Inês – PR</p></li>
          <li><p class="lead">44 – Santa Isabel Do Ivaí – PR</p></li>
          <li><p class="lead">44 – Santa Mônica – PR</p></li>
          <li><p class="lead">44 – Santo Antônio Do Caiuá – PR</p></li>
          <li><p class="lead">44 – Santo Inácio – PR</p></li>
          <li><p class="lead">44 – São Carlos Do Ivaí – PR</p></li>
          <li><p class="lead">44 – São João Do Caiuá – PR</p></li>
          <li><p class="lead">44 – São Jorge Do Ivaí – PR</p></li>
          <li><p class="lead">44 – São Jorge Do Patrocínio – PR</p></li>
          <li><p class="lead">44 – São Manoel Do Paraná – PR</p></li>
          <li><p class="lead">44 – São Pedro Do Paraná – PR</p></li>
          <li><p class="lead">44 – São Tomé – PR</p></li>
          <li><p class="lead">44 – Sarandi – PR</p></li>
          <li><p class="lead">44 – Tamboara – PR</p></li>
          <li><p class="lead">44 – Tapejara – PR</p></li>
          <li><p class="lead">44 – Tapira – PR</p></li>
          <li><p class="lead">44 – Terra Boa – PR</p></li>
          <li><p class="lead">44 – Terra Rica – PR</p></li>
          <li><p class="lead">44 – Terra Roxa – PR</p></li>
          <li><p class="lead">44 – Tuneiras Do Oeste – PR</p></li>
          <li><p class="lead">44 – Tupãssi – PR</p></li>
          <li><p class="lead">44 – Ubiratã – PR</p></li>
          <li><p class="lead">44 – Umuarama – PR</p></li>
          <li><p class="lead">44 – Uniflor – PR</p></li>
          <li><p class="lead">44 – Vila Alta – PR</p></li>
          <li><p class="lead">44 – Xambrê – PR</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>