{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 45 – Foz do Iguaçu
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">45 – Anahy – PR</p>
        </li>
        <li>
          <p class="lead">45 – Boa Vista Da Aparecida – PR</p>
        </li>
        <li>
          <p class="lead">45 – Braganey – PR</p>
        </li>
        <li>
          <p class="lead">45 – Cafelândia – PR</p>
        </li>
        <li>
          <p class="lead">45 – Campo Bonito – PR</p>
        </li>
        <li>
          <p class="lead">45 – Capitão Leônidas Marques – PR</p>
        </li>
        <li>
          <p class="lead">45 – Cascavel – PR</p>
        </li>
        <li>
          <p class="lead">45 – Catanduvas – PR</p>
        </li>
        <li>
          <p class="lead">45 – Céu Azul – PR</p>
        </li>
        <li>
          <p class="lead">45 – Corbélia – PR</p>
        </li>
        <li>
          <p class="lead">45 – Diamante Do Sul – PR</p>
        </li>
        <li>
          <p class="lead">45 – Diamante D’oeste – PR</p>
        </li>
        <li>
          <p class="lead">45 – Entre Rios Do Oeste – PR</p>
        </li>
        <li>
          <p class="lead">45 – Foz Do Iguaçu – PR</p>
        </li>
        <li>
          <p class="lead">45 – Guaraniaçu – PR</p>
        </li>
        <li>
          <p class="lead">45 – Ibema – PR</p>
        </li>
        <li>
          <p class="lead">45 – Iguatu – PR</p>
        </li>
        <li>
          <p class="lead">45 – Itaipulândia – PR</p>
        </li>
        <li>
          <p class="lead">45 – Lindoeste – PR</p>
        </li>
        <li>
          <p class="lead">45 – Marechal Cândido Rondon – PR</p>
        </li>
        <li>
          <p class="lead">45 – Matelândia – PR</p>
        </li>
        <li>
          <p class="lead">45 – Medianeira – PR</p>
        </li>
        <li>
          <p class="lead">45 – Mercedes – PR</p>
        </li>
        <li>
          <p class="lead">45 – Missal – PR</p>
        </li>
        <li>
          <p class="lead">45 – Nova Aurora – PR</p>
        </li>
        <li>
          <p class="lead">45 – Nova Santa Rosa – PR</p>
        </li>
        <li>
          <p class="lead">45 – Ouro Verde Do Oeste – PR</p>
        </li>
        <li>
          <p class="lead">45 – Pato Bragado – PR</p>
        </li>
        <li>
          <p class="lead">45 – Quatro Pontes – PR</p>
        </li>
        <li>
          <p class="lead">45 – Ramilândia – PR</p>
        </li>
        <li>
          <p class="lead">45 – Santa Helena – PR</p>
        </li>
        <li>
          <p class="lead">45 – Santa Lúcia – PR</p>
        </li>
        <li>
          <p class="lead">45 – Santa Tereza Do Oeste – PR</p>
        </li>
        <li>
          <p class="lead">45 – Santa Terezinha De Itaipu – PR</p>
        </li>
        <li>
          <p class="lead">45 – São José Das Palmeiras – PR</p>
        </li>
        <li>
          <p class="lead">45 – São Miguel Do Iguaçu – PR</p>
        </li>
        <li>
          <p class="lead">45 – São Pedro Do Iguaçu – PR</p>
        </li>
        <li>
          <p class="lead">45 – Serranópolis Do Iguaçu – PR</p>
        </li>
        <li>
          <p class="lead">45 – Toledo – PR</p>
        </li>
        <li>
          <p class="lead">45 – Três Barras Do Paraná – PR</p>
        </li>
        <li>
          <p class="lead">45 – Vera Cruz Do Oeste – PR</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}