<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 46 – Francisco Beltrão
      </h2>
      <br>
      <br>
      <ul> 
            <li><p class="lead">46 – Ampére – PR</p></li>
            <li><p class="lead">46 – Barracão – PR</p></li>
            <li><p class="lead">46 – Bela Vista Da Caroba – PR</p></li>
            <li><p class="lead">46 – Boa Esperança Do Iguaçu – PR</p></li>
            <li><p class="lead">46 – Bom Jesus Do Sul – PR</p></li>
            <li><p class="lead">46 – Bom Sucesso Do Sul – PR</p></li>
            <li><p class="lead">46 – Capanema – PR</p></li>
            <li><p class="lead">46 – Chopinzinho – PR</p></li>
            <li><p class="lead">46 – Clevelândia – PR</p></li>
            <li><p class="lead">46 – Coronel Domingos Soares – PR</p></li>
            <li><p class="lead">46 – Coronel Vivida – PR</p></li>
            <li><p class="lead">46 – Cruzeiro Do Iguaçu – PR</p></li>
            <li><p class="lead">46 – Dois Vizinhos – PR</p></li>
            <li><p class="lead">46 – Enéas Marques – PR</p></li>
            <li><p class="lead">46 – Espigão Alto Do Iguaçu – PR</p></li>
            <li><p class="lead">46 – Flor Da Serra Do Sul – PR</p></li>
            <li><p class="lead">46 – Francisco Beltrão – PR</p></li>
            <li><p class="lead">46 – Honório Serpa – PR</p></li>
            <li><p class="lead">46 – Itapejara D’oeste – PR</p></li>
            <li><p class="lead">46 – Manfrinópolis – PR</p></li>
            <li><p class="lead">46 – Mangueirinha – PR</p></li>
            <li><p class="lead">46 – Mariópolis – PR</p></li>
            <li><p class="lead">46 – Marmeleiro – PR</p></li>
            <li><p class="lead">46 – Nova Esperança Do Sudoeste – PR</p></li>
            <li><p class="lead">46 – Nova Prata Do Iguaçu – PR</p></li>
            <li><p class="lead">46 – Palmas – PR</p></li>
            <li><p class="lead">46 – Pato Branco – PR</p></li>
            <li><p class="lead">46 – Pérola D’oeste – PR</p></li>
            <li><p class="lead">46 – Pinhal De São Bento – PR</p></li>
            <li><p class="lead">46 – Planalto – PR</p></li>
            <li><p class="lead">46 – Pr</p></li>anchita – PR</p></li>
            <li><p class="lead">46 – Quedas Do Iguaçu – PR</p></li>
            <li><p class="lead">46 – Realeza – PR</p></li>
            <li><p class="lead">46 – Renascença – PR</p></li>
            <li><p class="lead">46 – Salgado Filho – PR</p></li>
            <li><p class="lead">46 – Salto Do Lontra – PR</p></li>
            <li><p class="lead">46 – Santa Izabel Do Oeste – PR</p></li>
            <li><p class="lead">46 – Santo Antônio Do Sudoeste – PR</p></li>
            <li><p class="lead">46 – São João – PR</p></li>
            <li><p class="lead">46 – São Jorge D’oeste – PR</p></li>
            <li><p class="lead">46 – Saudade Do Iguaçu – PR</p></li>
            <li><p class="lead">46 – Sulina – PR</p></li>
            <li><p class="lead">46 – Verê – PR</p></li>
            <li><p class="lead">46 – Vitorino – PR</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>