{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 82 – Maceió
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">82 – Água Branca – AL</p>
        </li>
        <li>
          <p class="lead">82 – Anadia – AL</p>
        </li>
        <li>
          <p class="lead">82 – Arapiraca – AL</p>
        </li>
        <li>
          <p class="lead">82 – Atalaia – AL</p>
        </li>
        <li>
          <p class="lead">82 – Barra De Santo Antônio – AL</p>
        </li>
        <li>
          <p class="lead">82 – Barra De São Miguel – AL</p>
        </li>
        <li>
          <p class="lead">82 – Batalha – AL</p>
        </li>
        <li>
          <p class="lead">82 – Belém – AL</p>
        </li>
        <li>
          <p class="lead">82 – Belo Monte – AL</p>
        </li>
        <li>
          <p class="lead">82 – Boca Da Mata – AL</p>
        </li>
        <li>
          <p class="lead">82 – Branquinha – AL</p>
        </li>
        <li>
          <p class="lead">82 – Cacimbinhas – AL</p>
        </li>
        <li>
          <p class="lead">82 – Cajueiro – AL</p>
        </li>
        <li>
          <p class="lead">82 – Campestre – AL</p>
        </li>
        <li>
          <p class="lead">82 – Campo Alegre – AL</p>
        </li>
        <li>
          <p class="lead">82 – Campo Grande – AL</p>
        </li>
        <li>
          <p class="lead">82 – Canapi – AL</p>
        </li>
        <li>
          <p class="lead">82 – Capela – AL</p>
        </li>
        <li>
          <p class="lead">82 – Carneiros – AL</p>
        </li>
        <li>
          <p class="lead">82 – Chã Preta – AL</p>
        </li>
        <li>
          <p class="lead">82 – Coité Do Nóia – AL</p>
        </li>
        <li>
          <p class="lead">82 – Colônia Leopoldina – AL</p>
        </li>
        <li>
          <p class="lead">82 – Coqueiro Seco – AL</p>
        </li>
        <li>
          <p class="lead">82 – Coruripe – AL</p>
        </li>
        <li>
          <p class="lead">82 – Craíbas – AL</p>
        </li>
        <li>
          <p class="lead">82 – Delmiro Gouveia – AL</p>
        </li>
        <li>
          <p class="lead">82 – Dois Riachos – AL</p>
        </li>
        <li>
          <p class="lead">82 – Estrela De Alagoas – AL</p>
        </li>
        <li>
          <p class="lead">82 – Feira Grande – AL</p>
        </li>
        <li>
          <p class="lead">82 – Feliz Deserto – AL</p>
        </li>
        <li>
          <p class="lead">82 – Flexeiras – AL</p>
        </li>
        <li>
          <p class="lead">82 – Girau Do Ponciano – AL</p>
        </li>
        <li>
          <p class="lead">82 – Ibateguara – AL</p>
        </li>
        <li>
          <p class="lead">82 – Igaci – AL</p>
        </li>
        <li>
          <p class="lead">82 – Igreja Nova – AL</p>
        </li>
        <li>
          <p class="lead">82 – Inhapi – AL</p>
        </li>
        <li>
          <p class="lead">82 – Jacaré Dos Homens – AL</p>
        </li>
        <li>
          <p class="lead">82 – Jacuípe – AL</p>
        </li>
        <li>
          <p class="lead">82 – Japaratinga – AL</p>
        </li>
        <li>
          <p class="lead">82 – Jaramataia – AL</p>
        </li>
        <li>
          <p class="lead">82 – Jequia Da Praia – AL</p>
        </li>
        <li>
          <p class="lead">82 – Joaquim Gomes – AL</p>
        </li>
        <li>
          <p class="lead">82 – Jundiá – AL</p>
        </li>
        <li>
          <p class="lead">82 – Junqueiro – AL</p>
        </li>
        <li>
          <p class="lead">82 – Lagoa Da Canoa – AL</p>
        </li>
        <li>
          <p class="lead">82 – Limoeiro De Anadia – AL</p>
        </li>
        <li>
          <p class="lead">82 – Maceió – AL</p>
        </li>
        <li>
          <p class="lead">82 – Major Isidoro – AL</p>
        </li>
        <li>
          <p class="lead">82 – Mar Vermelho – AL</p>
        </li>
        <li>
          <p class="lead">82 – Maragogi – AL</p>
        </li>
        <li>
          <p class="lead">82 – Maravilha – AL</p>
        </li>
        <li>
          <p class="lead">82 – Marechal Deodoro – AL</p>
        </li>
        <li>
          <p class="lead">82 – Maribondo – AL</p>
        </li>
        <li>
          <p class="lead">82 – Mata Grande – AL</p>
        </li>
        <li>
          <p class="lead">82 – Matriz De Camaragibe – AL</p>
        </li>
        <li>
          <p class="lead">82 – Messias – AL</p>
        </li>
        <li>
          <p class="lead">82 – Minador Do Negrão – AL</p>
        </li>
        <li>
          <p class="lead">82 – Monteirópolis – AL</p>
        </li>
        <li>
          <p class="lead">82 – Murici – AL</p>
        </li>
        <li>
          <p class="lead">82 – Novo Lino – AL</p>
        </li>
        <li>
          <p class="lead">82 – Olho D’água Das Flores – AL</p>
        </li>
        <li>
          <p class="lead">82 – Olho D’água Do Casado – AL</p>
        </li>
        <li>
          <p class="lead">82 – Olho D’água Grande – AL</p>
        </li>
        <li>
          <p class="lead">82 – Olivença – AL</p>
        </li>
        <li>
          <p class="lead">82 – Ouro Branco – AL</p>
        </li>
        <li>
          <p class="lead">82 – Palestina – AL</p>
        </li>
        <li>
          <p class="lead">82 – Palmeira Dos Índios – AL</p>
        </li>
        <li>
          <p class="lead">82 – Pão De Açúcar – AL</p>
        </li>
        <li>
          <p class="lead">82 – Pariconha – AL</p>
        </li>
        <li>
          <p class="lead">82 – Paripueira – AL</p>
        </li>
        <li>
          <p class="lead">82 – Passo De Camaragibe – AL</p>
        </li>
        <li>
          <p class="lead">82 – Paulo Jacinto – AL</p>
        </li>
        <li>
          <p class="lead">82 – Penedo – AL</p>
        </li>
        <li>
          <p class="lead">82 – Piaçabuçu – AL</p>
        </li>
        <li>
          <p class="lead">82 – Pilar – AL</p>
        </li>
        <li>
          <p class="lead">82 – Pindoba – AL</p>
        </li>
        <li>
          <p class="lead">82 – Piranhas – AL</p>
        </li>
        <li>
          <p class="lead">82 – Poço Das Trincheiras – AL</p>
        </li>
        <li>
          <p class="lead">82 – Porto Calvo – AL</p>
        </li>
        <li>
          <p class="lead">82 – Porto De Pedras – AL</p>
        </li>
        <li>
          <p class="lead">82 – Porto Real Do Colégio – AL</p>
        </li>
        <li>
          <p class="lead">82 – Quebrangulo – AL</p>
        </li>
        <li>
          <p class="lead">82 – Rio Largo – AL</p>
        </li>
        <li>
          <p class="lead">82 – Roteiro – AL</p>
        </li>
        <li>
          <p class="lead">82 – Santa Luzia Do Norte – AL</p>
        </li>
        <li>
          <p class="lead">82 – Santana Do Ipanema – AL</p>
        </li>
        <li>
          <p class="lead">82 – Santana Do Mundaú – AL</p>
        </li>
        <li>
          <p class="lead">82 – São Brás – AL</p>
        </li>
        <li>
          <p class="lead">82 – São José Da Laje – AL</p>
        </li>
        <li>
          <p class="lead">82 – São José Da Tapera – AL</p>
        </li>
        <li>
          <p class="lead">82 – São Luís Do Quitunde – AL</p>
        </li>
        <li>
          <p class="lead">82 – São Miguel Dos Campos – AL</p>
        </li>
        <li>
          <p class="lead">82 – São Miguel Dos Milagres – AL</p>
        </li>
        <li>
          <p class="lead">82 – São Sebastião – AL</p>
        </li>
        <li>
          <p class="lead">82 – Satuba – AL</p>
        </li>
        <li>
          <p class="lead">82 – Senador Rui Palmeira – AL</p>
        </li>
        <li>
          <p class="lead">82 – Tanque D’arca – AL</p>
        </li>
        <li>
          <p class="lead">82 – Taquarana – AL</p>
        </li>
        <li>
          <p class="lead">82 – Teotônio Vilela – AL</p>
        </li>
        <li>
          <p class="lead">82 – Traipu – AL</p>
        </li>
        <li>
          <p class="lead">82 – União Dos Palmares – AL</p>
        </li>
        <li>
          <p class="lead">82 – Viçosa – AL</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}