<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 71 – Salvador
      </h2>
      <br>
      <br>
      <ul>
        <li><p class="lead">71 – Camaçari – BA</p></li>
        <li><p class="lead">71 – Candeias – BA</p></li>
        <li><p class="lead">71 – Catu – BA</p></li>
        <li><p class="lead">71 – Dias D’ávila – BA</p></li>
        <li><p class="lead">71 – Itaparica – BA</p></li>
        <li><p class="lead">71 – Lauro De Freitas – BA</p></li>
        <li><p class="lead">71 – Madre De Deus – BA</p></li>
        <li><p class="lead">71 – Mata De São João – BA</p></li>
        <li><p class="lead">71 – Pojuca – BA</p></li>
        <li><p class="lead">71 – Salvador – BA</p></li>
        <li><p class="lead">71 – São Francisco Do Conde – BA</p></li>
        <li><p class="lead">71 – São Sebastião Do Passé – BA</p></li>
        <li><p class="lead">71 – Saubara – BA</p></li>
        <li><p class="lead">71 – Simões Filho – BA</p></li>
        <li><p class="lead">71 – Vera Cruz – BA</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>