{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 73 – Ilhéus
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">73 – Aiquara – BA</p>
        </li>
        <li>
          <p class="lead">73 – Alcobaça – BA</p>
        </li>
        <li>
          <p class="lead">73 – Almadina – BA</p>
        </li>
        <li>
          <p class="lead">73 – Apuarema – BA</p>
        </li>
        <li>
          <p class="lead">73 – Arataca – BA</p>
        </li>
        <li>
          <p class="lead">73 – Aurelino Leal – BA</p>
        </li>
        <li>
          <p class="lead">73 – Barra Do Rocha – BA</p>
        </li>
        <li>
          <p class="lead">73 – Barro Preto – BA</p>
        </li>
        <li>
          <p class="lead">73 – Belmonte – BA</p>
        </li>
        <li>
          <p class="lead">73 – Buerarema – BA</p>
        </li>
        <li>
          <p class="lead">73 – Camacan – BA</p>
        </li>
        <li>
          <p class="lead">73 – Camamu – BA</p>
        </li>
        <li>
          <p class="lead">73 – Canavieiras – BA</p>
        </li>
        <li>
          <p class="lead">73 – Caravelas – BA</p>
        </li>
        <li>
          <p class="lead">73 – Coaraci – BA</p>
        </li>
        <li>
          <p class="lead">73 – Cravolândia – BA</p>
        </li>
        <li>
          <p class="lead">73 – Dário Meira – BA</p>
        </li>
        <li>
          <p class="lead">73 – Eunápolis – BA</p>
        </li>
        <li>
          <p class="lead">73 – Firmino Alves – BA</p>
        </li>
        <li>
          <p class="lead">73 – Floresta Azul – BA</p>
        </li>
        <li>
          <p class="lead">73 – Gandu – BA</p>
        </li>
        <li>
          <p class="lead">73 – Gongogi – BA</p>
        </li>
        <li>
          <p class="lead">73 – Guaratinga – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ibicaraí – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ibicuí – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ibirapitanga – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ibirapuã – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ibirataia – BA</p>
        </li>
        <li>
          <p class="lead">73 – Igrapiúna – BA</p>
        </li>
        <li>
          <p class="lead">73 – Iguaí – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ilhéus – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ipiaú – BA</p>
        </li>
        <li>
          <p class="lead">73 – Irajuba – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itabela – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itabuna – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itacaré – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itagi – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itagibá – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itagimirim – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itaju Do Colônia – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itajuípe – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itamaraju – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itamari – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itanhém – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itapé – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itapebi – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itapitanga – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itaquara – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itarantim – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itiruçu – BA</p>
        </li>
        <li>
          <p class="lead">73 – Itororó – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ituberá – BA</p>
        </li>
        <li>
          <p class="lead">73 – Jaguaquara – BA</p>
        </li>
        <li>
          <p class="lead">73 – Jequié – BA</p>
        </li>
        <li>
          <p class="lead">73 – Jitaúna – BA</p>
        </li>
        <li>
          <p class="lead">73 – Jucuruçu – BA</p>
        </li>
        <li>
          <p class="lead">73 – Jussari – BA</p>
        </li>
        <li>
          <p class="lead">73 – Lafaiete Coutinho – BA</p>
        </li>
        <li>
          <p class="lead">73 – Lajedão – BA</p>
        </li>
        <li>
          <p class="lead">73 – Lajedo Do Tabocal – BA</p>
        </li>
        <li>
          <p class="lead">73 – Manoel Vitorino – BA</p>
        </li>
        <li>
          <p class="lead">73 – Maracás – BA</p>
        </li>
        <li>
          <p class="lead">73 – Maraú – BA</p>
        </li>
        <li>
          <p class="lead">73 – Mascote – BA</p>
        </li>
        <li>
          <p class="lead">73 – Medeiros Neto – BA</p>
        </li>
        <li>
          <p class="lead">73 – Mucuri – BA</p>
        </li>
        <li>
          <p class="lead">73 – Nilo Peçanha – BA</p>
        </li>
        <li>
          <p class="lead">73 – Nova Canaã – BA</p>
        </li>
        <li>
          <p class="lead">73 – Nova Ibiá – BA</p>
        </li>
        <li>
          <p class="lead">73 – Nova Itarana – BA</p>
        </li>
        <li>
          <p class="lead">73 – Nova Viçosa – BA</p>
        </li>
        <li>
          <p class="lead">73 – Pau Brasil – BA</p>
        </li>
        <li>
          <p class="lead">73 – Piraí Do Norte – BA</p>
        </li>
        <li>
          <p class="lead">73 – Planaltino – BA</p>
        </li>
        <li>
          <p class="lead">73 – Porto Seguro – BA</p>
        </li>
        <li>
          <p class="lead">73 – Potiraguá – BA</p>
        </li>
        <li>
          <p class="lead">73 – Prado – BA</p>
        </li>
        <li>
          <p class="lead">73 – Presidente Tancredo Neves – BA</p>
        </li>
        <li>
          <p class="lead">73 – Santa Cruz Cabrália – BA</p>
        </li>
        <li>
          <p class="lead">73 – Santa Cruz Da Vitória – BA</p>
        </li>
        <li>
          <p class="lead">73 – Santa Inês – BA</p>
        </li>
        <li>
          <p class="lead">73 – Santa Luzia – BA</p>
        </li>
        <li>
          <p class="lead">73 – São José Da Vitória – BA</p>
        </li>
        <li>
          <p class="lead">73 – Teixeira De Freitas – BA</p>
        </li>
        <li>
          <p class="lead">73 – Teolândia – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ubaitaba – BA</p>
        </li>
        <li>
          <p class="lead">73 – Ubatã – BA</p>
        </li>
        <li>
          <p class="lead">73 – Una – BA</p>
        </li>
        <li>
          <p class="lead">73 – Uruçuca – BA</p>
        </li>
        <li>
          <p class="lead">73 – Vereda – BA</p>
        </li>
        <li>
          <p class="lead">73 – Wenceslau Guimarães – BA</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}