<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 74 – Juazeiro
      </h2>
      <br>
      <br>
      <ul>
        <li><p class="lead">74 – América Dourada – BA</p></li>
        <li><p class="lead">74 – Andorinha – BA</p></li>
        <li><p class="lead">74 – Antônio Gonçalves – BA</p></li>
        <li><p class="lead">74 – Baixa Grande – BA</p></li>
        <li><p class="lead">74 – Barra – BA</p></li>
        <li><p class="lead">74 – Barra Do Mendes – BA</p></li>
        <li><p class="lead">74 – Barro Alto – BA</p></li>
        <li><p class="lead">74 – Caém – BA</p></li>
        <li><p class="lead">74 – Cafarnaum – BA</p></li>
        <li><p class="lead">74 – Caldeirão Grande – BA</p></li>
        <li><p class="lead">74 – Campo Alegre De Lourdes – BA</p></li>
        <li><p class="lead">74 – Campo Formoso – BA</p></li>
        <li><p class="lead">74 – Canarana – BA</p></li>
        <li><p class="lead">74 – Capim Grosso – BA</p></li>
        <li><p class="lead">74 – Casa Nova – BA</p></li>
        <li><p class="lead">74 – Central – BA</p></li>
        <li><p class="lead">74 – Curaçá – BA</p></li>
        <li><p class="lead">74 – Filadélfia – BA</p></li>
        <li><p class="lead">74 – Gentio Do Ouro – BA</p></li>
        <li><p class="lead">74 – Ibipeba – BA</p></li>
        <li><p class="lead">74 – Ibititá – BA</p></li>
        <li><p class="lead">74 – Irecê – BA</p></li>
        <li><p class="lead">74 – Itaguaçu Da Bahia – BA</p></li>
        <li><p class="lead">74 – Itiúba – BA</p></li>
        <li><p class="lead">74 – Jacobina – BA</p></li>
        <li><p class="lead">74 – Jaguarari – BA</p></li>
        <li><p class="lead">74 – João Dourado – BA</p></li>
        <li><p class="lead">74 – Juazeiro – BA</p></li>
        <li><p class="lead">74 – Jussara – BA</p></li>
        <li><p class="lead">74 – Lapão – BA</p></li>
        <li><p class="lead">74 – Macajuba – BA</p></li>
        <li><p class="lead">74 – Mairi – BA</p></li>
        <li><p class="lead">74 – Miguel Calmon – BA</p></li>
        <li><p class="lead">74 – Mirangaba – BA</p></li>
        <li><p class="lead">74 – Morro Do Chapéu – BA</p></li>
        <li><p class="lead">74 – Mulungu Do Morro – BA</p></li>
        <li><p class="lead">74 – Mundo Novo – BA</p></li>
        <li><p class="lead">74 – Ourolândia – BA</p></li>
        <li><p class="lead">74 – Pilão Arcado – BA</p></li>
        <li><p class="lead">74 – Pindobaçu – BA</p></li>
        <li><p class="lead">74 – Piritiba – BA</p></li>
        <li><p class="lead">74 – Ponto Novo – BA</p></li>
        <li><p class="lead">74 – Presidente Dutra – BA</p></li>
        <li><p class="lead">74 – Quixabeira – BA</p></li>
        <li><p class="lead">74 – Remanso – BA</p></li>
        <li><p class="lead">74 – São Gabriel – BA</p></li>
        <li><p class="lead">74 – São José Do Jacuípe – BA</p></li>
        <li><p class="lead">74 – Saúde – BA</p></li>
        <li><p class="lead">74 – Senhor Do Bonfim – BA</p></li>
        <li><p class="lead">74 – Sento Sé – BA</p></li>
        <li><p class="lead">74 – Serrolândia – BA</p></li>
        <li><p class="lead">74 – Sobradinho – BA</p></li>
        <li><p class="lead">74 – Tapiramutá – BA</p></li>
        <li><p class="lead">74 – Uauá – BA</p></li>
        <li><p class="lead">74 – Uibaí – BA</p></li>
        <li><p class="lead">74 – Umburanas – BA</p></li>
        <li><p class="lead">74 – Várzea Da Roça – BA</p></li>
        <li><p class="lead">74 – Várzea Do Poço – BA</p></li>
        <li><p class="lead">74 – Várzea Nova – BA</p></li>
        <li><p class="lead">74 – Xique-Xique – BA</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>