{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 75 – Feira de Santana
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">75 – Abaré – BA</p>
        </li>
        <li>
          <p class="lead">75 – Acajutiba – BA</p>
        </li>
        <li>
          <p class="lead">75 – Adustina – BA</p>
        </li>
        <li>
          <p class="lead">75 – Água Fria – BA</p>
        </li>
        <li>
          <p class="lead">75 – Alagoinhas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Amargosa – BA</p>
        </li>
        <li>
          <p class="lead">75 – Amélia Rodrigues – BA</p>
        </li>
        <li>
          <p class="lead">75 – Andaraí – BA</p>
        </li>
        <li>
          <p class="lead">75 – Anguera – BA</p>
        </li>
        <li>
          <p class="lead">75 – Antas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Antônio Cardoso – BA</p>
        </li>
        <li>
          <p class="lead">75 – Aporá – BA</p>
        </li>
        <li>
          <p class="lead">75 – Araças – BA</p>
        </li>
        <li>
          <p class="lead">75 – Araci – BA</p>
        </li>
        <li>
          <p class="lead">75 – Aramari – BA</p>
        </li>
        <li>
          <p class="lead">75 – Aratuípe – BA</p>
        </li>
        <li>
          <p class="lead">75 – Banzaê – BA</p>
        </li>
        <li>
          <p class="lead">75 – Barrocas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Biritinga – BA</p>
        </li>
        <li>
          <p class="lead">75 – Boa Vista Do Tupim – BA</p>
        </li>
        <li>
          <p class="lead">75 – Boninal – BA</p>
        </li>
        <li>
          <p class="lead">75 – Bonito – BA</p>
        </li>
        <li>
          <p class="lead">75 – Brejões – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cabaceiras Do Paraguaçu – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cachoeira – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cairu – BA</p>
        </li>
        <li>
          <p class="lead">75 – Candeal – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cansanção – BA</p>
        </li>
        <li>
          <p class="lead">75 – Canudos – BA</p>
        </li>
        <li>
          <p class="lead">75 – Capela Do Alto Alegre – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cardeal Da Silva – BA</p>
        </li>
        <li>
          <p class="lead">75 – Castro Alves – BA</p>
        </li>
        <li>
          <p class="lead">75 – Chorrochó – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cícero Dantas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cipó – BA</p>
        </li>
        <li>
          <p class="lead">75 – Conceição Da Feira – BA</p>
        </li>
        <li>
          <p class="lead">75 – Conceição Do Almeida – BA</p>
        </li>
        <li>
          <p class="lead">75 – Conceição Do Coité – BA</p>
        </li>
        <li>
          <p class="lead">75 – Conceição Do Jacuípe – BA</p>
        </li>
        <li>
          <p class="lead">75 – Conde – BA</p>
        </li>
        <li>
          <p class="lead">75 – Coração De Maria – BA</p>
        </li>
        <li>
          <p class="lead">75 – Coronel João Sá – BA</p>
        </li>
        <li>
          <p class="lead">75 – Crisópolis – BA</p>
        </li>
        <li>
          <p class="lead">75 – Cruz Das Almas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Dom Macedo Costa – BA</p>
        </li>
        <li>
          <p class="lead">75 – Elísio Medrado – BA</p>
        </li>
        <li>
          <p class="lead">75 – Entre Rios – BA</p>
        </li>
        <li>
          <p class="lead">75 – Esplanada – BA</p>
        </li>
        <li>
          <p class="lead">75 – Euclides Da Cunha – BA</p>
        </li>
        <li>
          <p class="lead">75 – Fátima – BA</p>
        </li>
        <li>
          <p class="lead">75 – Feira De Santana – BA</p>
        </li>
        <li>
          <p class="lead">75 – Gavião – BA</p>
        </li>
        <li>
          <p class="lead">75 – Glória – BA</p>
        </li>
        <li>
          <p class="lead">75 – Governador Mangabeira – BA</p>
        </li>
        <li>
          <p class="lead">75 – Heliópolis – BA</p>
        </li>
        <li>
          <p class="lead">75 – Iaçu – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ibiquera – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ichu – BA</p>
        </li>
        <li>
          <p class="lead">75 – Inhambupe – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ipecaetá – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ipirá – BA</p>
        </li>
        <li>
          <p class="lead">75 – Iraquara – BA</p>
        </li>
        <li>
          <p class="lead">75 – Irará – BA</p>
        </li>
        <li>
          <p class="lead">75 – Itaberaba – BA</p>
        </li>
        <li>
          <p class="lead">75 – Itaeté – BA</p>
        </li>
        <li>
          <p class="lead">75 – Itanagra – BA</p>
        </li>
        <li>
          <p class="lead">75 – Itapicuru – BA</p>
        </li>
        <li>
          <p class="lead">75 – Itatim – BA</p>
        </li>
        <li>
          <p class="lead">75 – Jaguaripe – BA</p>
        </li>
        <li>
          <p class="lead">75 – Jandaíra – BA</p>
        </li>
        <li>
          <p class="lead">75 – Jeremoabo – BA</p>
        </li>
        <li>
          <p class="lead">75 – Jiquiriçá – BA</p>
        </li>
        <li>
          <p class="lead">75 – Laje – BA</p>
        </li>
        <li>
          <p class="lead">75 – Lajedinho – BA</p>
        </li>
        <li>
          <p class="lead">75 – Lamarão – BA</p>
        </li>
        <li>
          <p class="lead">75 – Lençóis – BA</p>
        </li>
        <li>
          <p class="lead">75 – Macururé – BA</p>
        </li>
        <li>
          <p class="lead">75 – Maragogipe – BA</p>
        </li>
        <li>
          <p class="lead">75 – Marcionílio Souza – BA</p>
        </li>
        <li>
          <p class="lead">75 – Milagres – BA</p>
        </li>
        <li>
          <p class="lead">75 – Monte Santo – BA</p>
        </li>
        <li>
          <p class="lead">75 – Mucugê – BA</p>
        </li>
        <li>
          <p class="lead">75 – Muniz Ferreira – BA</p>
        </li>
        <li>
          <p class="lead">75 – Muritiba – BA</p>
        </li>
        <li>
          <p class="lead">75 – Mutuípe – BA</p>
        </li>
        <li>
          <p class="lead">75 – Nazaré – BA</p>
        </li>
        <li>
          <p class="lead">75 – Nordestina – BA</p>
        </li>
        <li>
          <p class="lead">75 – Nova Fátima – BA</p>
        </li>
        <li>
          <p class="lead">75 – Nova Redenção – BA</p>
        </li>
        <li>
          <p class="lead">75 – Nova Soure – BA</p>
        </li>
        <li>
          <p class="lead">75 – Novo Triunfo – BA</p>
        </li>
        <li>
          <p class="lead">75 – Olindina – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ouriçangas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Palmeiras – BA</p>
        </li>
        <li>
          <p class="lead">75 – Paripiranga – BA</p>
        </li>
        <li>
          <p class="lead">75 – Paulo Afonso – BA</p>
        </li>
        <li>
          <p class="lead">75 – Pé De Serra – BA</p>
        </li>
        <li>
          <p class="lead">75 – Pedrão – BA</p>
        </li>
        <li>
          <p class="lead">75 – Pedro Alexandre – BA</p>
        </li>
        <li>
          <p class="lead">75 – Pintadas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Queimadas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Quijingue – BA</p>
        </li>
        <li>
          <p class="lead">75 – Rafael Jambeiro – BA</p>
        </li>
        <li>
          <p class="lead">75 – Retirolândia – BA</p>
        </li>
        <li>
          <p class="lead">75 – Riachão Do Jacuípe – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ribeira Do Amparo – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ribeira Do Pombal – BA</p>
        </li>
        <li>
          <p class="lead">75 – Rio Real – BA</p>
        </li>
        <li>
          <p class="lead">75 – Rodelas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ruy Barbosa – BA</p>
        </li>
        <li>
          <p class="lead">75 – Salinas Da Margarida – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santa Bárbara – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santa Brígida – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santa Teresinha – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santaluz – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santanópolis – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santo Amaro – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santo Antônio De Jesus – BA</p>
        </li>
        <li>
          <p class="lead">75 – Santo Estêvão – BA</p>
        </li>
        <li>
          <p class="lead">75 – São Domingos – BA</p>
        </li>
        <li>
          <p class="lead">75 – São Felipe – BA</p>
        </li>
        <li>
          <p class="lead">75 – São Félix – BA</p>
        </li>
        <li>
          <p class="lead">75 – São Gonçalo Dos Campos – BA</p>
        </li>
        <li>
          <p class="lead">75 – São Miguel Das Matas – BA</p>
        </li>
        <li>
          <p class="lead">75 – Sapeaçu – BA</p>
        </li>
        <li>
          <p class="lead">75 – Sátiro Dias – BA</p>
        </li>
        <li>
          <p class="lead">75 – Seabra – BA</p>
        </li>
        <li>
          <p class="lead">75 – Serra Preta – BA</p>
        </li>
        <li>
          <p class="lead">75 – Serrinha – BA</p>
        </li>
        <li>
          <p class="lead">75 – Sítio Do Quinto – BA</p>
        </li>
        <li>
          <p class="lead">75 – Souto Soares – BA</p>
        </li>
        <li>
          <p class="lead">75 – Tanquinho – BA</p>
        </li>
        <li>
          <p class="lead">75 – Taperoá – BA</p>
        </li>
        <li>
          <p class="lead">75 – Teodoro Sampaio – BA</p>
        </li>
        <li>
          <p class="lead">75 – Teofilândia – BA</p>
        </li>
        <li>
          <p class="lead">75 – Terra Nova – BA</p>
        </li>
        <li>
          <p class="lead">75 – Tucano – BA</p>
        </li>
        <li>
          <p class="lead">75 – Ubaíra – BA</p>
        </li>
        <li>
          <p class="lead">75 – Utinga – BA</p>
        </li>
        <li>
          <p class="lead">75 – Valença – BA</p>
        </li>
        <li>
          <p class="lead">75 – Valente – BA</p>
        </li>
        <li>
          <p class="lead">75 – Varzedo – BA</p>
        </li>
        <li>
          <p class="lead">75 – Wagner – BA</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}