<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 77 – Barreiras
      </h2>
      <br>
      <br>
      <ul>
        <li><p class="lead">77 – Abaíra – BA</p></li>
        <li><p class="lead">77 – Anagé – BA</p></li>
        <li><p class="lead">77 – Angical – BA</p></li>
        <li><p class="lead">77 – Aracatu – BA</p></li>
        <li><p class="lead">77 – Baianópolis – BA</p></li>
        <li><p class="lead">77 – Barra Da Estiva – BA</p></li>
        <li><p class="lead">77 – Barra Do Choça – BA</p></li>
        <li><p class="lead">77 – Barreiras – BA</p></li>
        <li><p class="lead">77 – Belo Campo – BA</p></li>
        <li><p class="lead">77 – Boa Nova – BA</p></li>
        <li><p class="lead">77 – Bom Jesus Da Lapa – BA</p></li>
        <li><p class="lead">77 – Bom Jesus Da Serra – BA</p></li>
        <li><p class="lead">77 – Boquira – BA</p></li>
        <li><p class="lead">77 – Botuporã – BA</p></li>
        <li><p class="lead">77 – Brejolândia – BA</p></li>
        <li><p class="lead">77 – Brotas De Macaúbas – BA</p></li>
        <li><p class="lead">77 – Brumado – BA</p></li>
        <li><p class="lead">77 – Buritirama – BA</p></li>
        <li><p class="lead">77 – Caatiba – BA</p></li>
        <li><p class="lead">77 – Caculé – BA</p></li>
        <li><p class="lead">77 – Caetanos – BA</p></li>
        <li><p class="lead">77 – Caetité – BA</p></li>
        <li><p class="lead">77 – Canápolis – BA</p></li>
        <li><p class="lead">77 – Candiba – BA</p></li>
        <li><p class="lead">77 – Cândido Sales – BA</p></li>
        <li><p class="lead">77 – Caraíbas – BA</p></li>
        <li><p class="lead">77 – Carinhanha – BA</p></li>
        <li><p class="lead">77 – Catolândia – BA</p></li>
        <li><p class="lead">77 – Caturama – BA</p></li>
        <li><p class="lead">77 – Cocos – BA</p></li>
        <li><p class="lead">77 – Condeúba – BA</p></li>
        <li><p class="lead">77 – Contendas Do Sincorá – BA</p></li>
        <li><p class="lead">77 – Cordeiros – BA</p></li>
        <li><p class="lead">77 – Coribe – BA</p></li>
        <li><p class="lead">77 – Correntina – BA</p></li>
        <li><p class="lead">77 – Cotegipe – BA</p></li>
        <li><p class="lead">77 – Cristópolis – BA</p></li>
        <li><p class="lead">77 – Dom Basílio – BA</p></li>
        <li><p class="lead">77 – Encruzilhada – BA</p></li>
        <li><p class="lead">77 – Érico Cardoso – BA</p></li>
        <li><p class="lead">77 – Feira Da Mata – BA</p></li>
        <li><p class="lead">77 – Formosa Do Rio Preto – BA</p></li>
        <li><p class="lead">77 – Guajeru – BA</p></li>
        <li><p class="lead">77 – Guanambi – BA</p></li>
        <li><p class="lead">77 – Ibiassucê – BA</p></li>
        <li><p class="lead">77 – Ibicoara – BA</p></li>
        <li><p class="lead">77 – Ibipitanga – BA</p></li>
        <li><p class="lead">77 – Ibitiara – BA</p></li>
        <li><p class="lead">77 – Ibotirama – BA</p></li>
        <li><p class="lead">77 – Igaporã – BA</p></li>
        <li><p class="lead">77 – Ipupiara – BA</p></li>
        <li><p class="lead">77 – Iramaia – BA</p></li>
        <li><p class="lead">77 – Itambé – BA</p></li>
        <li><p class="lead">77 – Itapetinga – BA</p></li>
        <li><p class="lead">77 – Ituaçu – BA</p></li>
        <li><p class="lead">77 – Iuiú – BA</p></li>
        <li><p class="lead">77 – Jaborandi – BA</p></li>
        <li><p class="lead">77 – Jacaraci – BA</p></li>
        <li><p class="lead">77 – Jussiape – BA</p></li>
        <li><p class="lead">77 – Lagoa Real – BA</p></li>
        <li><p class="lead">77 – Licínio De Almeida – BA</p></li>
        <li><p class="lead">77 – Livramento Do Brumado – BA</p></li>
        <li><p class="lead">77 – Luis Eduardo Magalhaes – BA</p></li>
        <li><p class="lead">77 – Macarani – BA</p></li>
        <li><p class="lead">77 – Macaúbas – BA</p></li>
        <li><p class="lead">77 – Maetinga – BA</p></li>
        <li><p class="lead">77 – Maiquinique – BA</p></li>
        <li><p class="lead">77 – Malhada – BA</p></li>
        <li><p class="lead">77 – Malhada De Pedras – BA</p></li>
        <li><p class="lead">77 – Mansidão – BA</p></li>
        <li><p class="lead">77 – Matina – BA</p></li>
        <li><p class="lead">77 – Mirante – BA</p></li>
        <li><p class="lead">77 – Morpará – BA</p></li>
        <li><p class="lead">77 – Mortugaba – BA</p></li>
        <li><p class="lead">77 – Muquém De São Francisco – BA</p></li>
        <li><p class="lead">77 – Novo Horizonte – BA</p></li>
        <li><p class="lead">77 – Oliveira Dos Brejinhos – BA</p></li>
        <li><p class="lead">77 – Palmas De Monte Alto – BA</p></li>
        <li><p class="lead">77 – Paramirim – BA</p></li>
        <li><p class="lead">77 – Paratinga – BA</p></li>
        <li><p class="lead">77 – Piatã – BA</p></li>
        <li><p class="lead">77 – Pindaí – BA</p></li>
        <li><p class="lead">77 – Piripá – BA</p></li>
        <li><p class="lead">77 – Planalto – BA</p></li>
        <li><p class="lead">77 – Poções – BA</p></li>
        <li><p class="lead">77 – Presidente Jânio Quadros – BA</p></li>
        <li><p class="lead">77 – Riachão Das Neves – BA</p></li>
        <li><p class="lead">77 – Riacho De Santana – BA</p></li>
        <li><p class="lead">77 – Ribeirão Do Largo – BA</p></li>
        <li><p class="lead">77 – Rio De Contas – BA</p></li>
        <li><p class="lead">77 – Rio Do Antônio – BA</p></li>
        <li><p class="lead">77 – Rio Do Pires – BA</p></li>
        <li><p class="lead">77 – Santa Maria Da Vitória – BA</p></li>
        <li><p class="lead">77 – Santa Rita De Cássia – BA</p></li>
        <li><p class="lead">77 – Santana – BA</p></li>
        <li><p class="lead">77 – São Desidério – BA</p></li>
        <li><p class="lead">77 – São Félix Do Coribe – BA</p></li>
        <li><p class="lead">77 – Sebastião Laranjeiras – BA</p></li>
        <li><p class="lead">77 – Serra Do Ramalho – BA</p></li>
        <li><p class="lead">77 – Serra Dourada – BA</p></li>
        <li><p class="lead">77 – Sítio Do Mato – BA</p></li>
        <li><p class="lead">77 – Tabocas Do Brejo Velho – BA</p></li>
        <li><p class="lead">77 – Tanhaçu – BA</p></li>
        <li><p class="lead">77 – Tanque Novo – BA</p></li>
        <li><p class="lead">77 – Tremedal – BA</p></li>
        <li><p class="lead">77 – Urandi – BA</p></li>
        <li><p class="lead">77 – Vitória Da Conquista – BA</p></li>
        <li><p class="lead">77 – Wanderley – BA</p></li>          
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>