<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 65 – Cuiabá
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">65 – Acorizal – MT</p>
        </li>
        <li>
          <p class="lead">65 – Alto Paraguai – MT</p>
        </li>
        <li>
          <p class="lead">65 – Araputanga – MT</p>
        </li>
        <li>
          <p class="lead">65 – Arenápolis – MT</p>
        </li>
        <li>
          <p class="lead">65 – Barão De Melgaço – MT</p>
        </li>
        <li>
          <p class="lead">65 – Barra Do Bugres – MT</p>
        </li>
        <li>
          <p class="lead">65 – Cáceres – MT</p>
        </li>
        <li>
          <p class="lead">65 – Campo Novo Do Parecis – MT</p>
        </li>
        <li>
          <p class="lead">65 – Campos De Júlio – MT</p>
        </li>
        <li>
          <p class="lead">65 – Chapada Dos Guimarães – MT</p>
        </li>
        <li>
          <p class="lead">65 – Comodoro – MT</p>
        </li>
        <li>
          <p class="lead">65 – Conquista Do Oeste – MT</p>
        </li>
        <li>
          <p class="lead">65 – Cuiabá – MT</p>
        </li>
        <li>
          <p class="lead">65 – Curvelandia – MT</p>
        </li>
        <li>
          <p class="lead">65 – Denise – MT</p>
        </li>
        <li>
          <p class="lead">65 – Diamantino – MT</p>
        </li>
        <li>
          <p class="lead">65 – Figueirópolis D’oeste – MT</p>
        </li>
        <li>
          <p class="lead">65 – Glória D’oeste – MT</p>
        </li>
        <li>
          <p class="lead">65 – Indiavaí – MT</p>
        </li>
        <li>
          <p class="lead">65 – Itiquira – MT</p>
        </li>
        <li>
          <p class="lead">65 – Jangada – MT</p>
        </li>
        <li>
          <p class="lead">65 – Jauru – MT</p>
        </li>
        <li>
          <p class="lead">65 – Lambari D’oeste – MT</p>
        </li>
        <li>
          <p class="lead">65 – Lucas Do Rio Verde – MT</p>
        </li>
        <li>
          <p class="lead">65 – Mirassol D’oeste – MT</p>
        </li>
        <li>
          <p class="lead">65 – Nobres – MT</p>
        </li>
        <li>
          <p class="lead">65 – Nortelândia – MT</p>
        </li>
        <li>
          <p class="lead">65 – Nossa Senhora Do Livramento – MT</p>
        </li>
        <li>
          <p class="lead">65 – Nova Lacerda – MT</p>
        </li>
        <li>
          <p class="lead">65 – Nova Marilândia – MT</p>
        </li>
        <li>
          <p class="lead">65 – Nova Mutum – MT</p>
        </li>
        <li>
          <p class="lead">65 – Nova Olímpia – MT</p>
        </li>
        <li>
          <p class="lead">65 – Poconé – MT</p>
        </li>
        <li>
          <p class="lead">65 – Pontes E Lacerda – MT</p>
        </li>
        <li>
          <p class="lead">65 – Porto Esperidião – MT</p>
        </li>
        <li>
          <p class="lead">65 – Porto Estrela – MT</p>
        </li>
        <li>
          <p class="lead">65 – Reserva Do Cabaçal – MT</p>
        </li>
        <li>
          <p class="lead">65 – Rio Branco – MT</p>
        </li>
        <li>
          <p class="lead">65 – Rosário Oeste – MT</p>
        </li>
        <li>
          <p class="lead">65 – Salto Do Céu – MT</p>
        </li>
        <li>
          <p class="lead">65 – Santa Rita Do Trivelato – MT</p>
        </li>
        <li>
          <p class="lead">65 – Santo Afonso – MT</p>
        </li>
        <li>
          <p class="lead">65 – Santo Antônio Do Leverger – MT</p>
        </li>
        <li>
          <p class="lead">65 – São José Do Rio Claro – MT</p>
        </li>
        <li>
          <p class="lead">65 – São José Dos Quatro Marcos – MT</p>
        </li>
        <li>
          <p class="lead">65 – Sapezal – MT</p>
        </li>
        <li>
          <p class="lead">65 – Tangará Da Serra – MT</p>
        </li>
        <li>
          <p class="lead">65 – Vale De São Domingos – MT</p>
        </li>
        <li>
          <p class="lead">65 – Várzea Grande – MT</p>
        </li>
        <li>
          <p class="lead">65 – Vila Bela Da Santíssima Trindade – MT</p>
        </li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>