<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 66 – Rondonópolis
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">66 – Água Boa – MT</p>
        </li>
        <li>
          <p class="lead">66 – Alta Floresta – MT</p>
        </li>
        <li>
          <p class="lead">66 – Alto Araguaia – MT</p>
        </li>
        <li>
          <p class="lead">66 – Alto Boa Vista – MT</p>
        </li>
        <li>
          <p class="lead">66 – Alto Garças – MT</p>
        </li>
        <li>
          <p class="lead">66 – Alto Taquari – MT</p>
        </li>
        <li>
          <p class="lead">66 – Apiacás – MT</p>
        </li>
        <li>
          <p class="lead">66 – Araguaiana – MT</p>
        </li>
        <li>
          <p class="lead">66 – Araguainha – MT</p>
        </li>
        <li>
          <p class="lead">66 – Aripuanã – MT</p>
        </li>
        <li>
          <p class="lead">66 – Barra Do Garças – MT</p>
        </li>
        <li>
          <p class="lead">66 – Bom Jesus Do Araguaia – MT</p>
        </li>
        <li>
          <p class="lead">66 – Brasnorte – MT</p>
        </li>
        <li>
          <p class="lead">66 – Campinápolis – MT</p>
        </li>
        <li>
          <p class="lead">66 – Campo Verde – MT</p>
        </li>
        <li>
          <p class="lead">66 – Canabrava Do Norte – MT</p>
        </li>
        <li>
          <p class="lead">66 – Canarana – MT</p>
        </li>
        <li>
          <p class="lead">66 – Carlinda – MT</p>
        </li>
        <li>
          <p class="lead">66 – Castanheira – MT</p>
        </li>
        <li>
          <p class="lead">66 – Cláudia – MT</p>
        </li>
        <li>
          <p class="lead">66 – Cocalinho – MT</p>
        </li>
        <li>
          <p class="lead">66 – Colíder – MT</p>
        </li>
        <li>
          <p class="lead">66 – Colniza – MT</p>
        </li>
        <li>
          <p class="lead">66 – Confresa – MT</p>
        </li>
        <li>
          <p class="lead">66 – Cotriguaçu – MT</p>
        </li>
        <li>
          <p class="lead">66 – Dom Aquino – MT</p>
        </li>
        <li>
          <p class="lead">66 – Feliz Natal – MT</p>
        </li>
        <li>
          <p class="lead">66 – Gaúcha Do Norte – MT</p>
        </li>
        <li>
          <p class="lead">66 – General Carneiro – MT</p>
        </li>
        <li>
          <p class="lead">66 – Guarantã Do Norte – MT</p>
        </li>
        <li>
          <p class="lead">66 – Guiratinga – MT</p>
        </li>
        <li>
          <p class="lead">66 – Itaúba – MT</p>
        </li>
        <li>
          <p class="lead">66 – Jaciara – MT</p>
        </li>
        <li>
          <p class="lead">66 – Juara – MT</p>
        </li>
        <li>
          <p class="lead">66 – Juína – MT</p>
        </li>
        <li>
          <p class="lead">66 – Juruena – MT</p>
        </li>
        <li>
          <p class="lead">66 – Juscimeira – MT</p>
        </li>
        <li>
          <p class="lead">66 – Luciára – MT</p>
        </li>
        <li>
          <p class="lead">66 – Marcelândia – MT</p>
        </li>
        <li>
          <p class="lead">66 – Matupá – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Bandeirantes – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Brasilândia – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Canãa Do Norte – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Guarita – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Maringá – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Monte Verde – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Nazaré – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Santa Helena – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Ubiratã – MT</p>
        </li>
        <li>
          <p class="lead">66 – Nova Xavantina – MT</p>
        </li>
        <li>
          <p class="lead">66 – Novo Horizonte Do Norte – MT</p>
        </li>
        <li>
          <p class="lead">66 – Novo Mundo – MT</p>
        </li>
        <li>
          <p class="lead">66 – Novo Santo Antonio – MT</p>
        </li>
        <li>
          <p class="lead">66 – Novo São Joaquim – MT</p>
        </li>
        <li>
          <p class="lead">66 – Paranaíta – MT</p>
        </li>
        <li>
          <p class="lead">66 – Paranatinga – MT</p>
        </li>
        <li>
          <p class="lead">66 – Pedra Preta – MT</p>
        </li>
        <li>
          <p class="lead">66 – Peixoto De Azevedo – MT</p>
        </li>
        <li>
          <p class="lead">66 – Planalto Da Serra – MT</p>
        </li>
        <li>
          <p class="lead">66 – Pontal Do Araguaia – MT</p>
        </li>
        <li>
          <p class="lead">66 – Ponte Branca – MT</p>
        </li>
        <li>
          <p class="lead">66 – Porto Alegre Do Norte – MT</p>
        </li>
        <li>
          <p class="lead">66 – Porto Dos Gaúchos – MT</p>
        </li>
        <li>
          <p class="lead">66 – Poxoréo – MT</p>
        </li>
        <li>
          <p class="lead">66 – Primavera Do Leste – MT</p>
        </li>
        <li>
          <p class="lead">66 – Querência – MT</p>
        </li>
        <li>
          <p class="lead">66 – Ribeirão Cascalheira – MT</p>
        </li>
        <li>
          <p class="lead">66 – Ribeirãozinho – MT</p>
        </li>
        <li>
          <p class="lead">66 – Rondolandia – MT</p>
        </li>
        <li>
          <p class="lead">66 – Rondonópolis – MT</p>
        </li>
        <li>
          <p class="lead">66 – Santa Carmem – MT</p>
        </li>
        <li>
          <p class="lead">66 – Santa Cruz Do Xingu – MT</p>
        </li>
        <li>
          <p class="lead">66 – Santa Terezinha – MT</p>
        </li>
        <li>
          <p class="lead">66 – Santo Antonio Do Leste – MT</p>
        </li>
        <li>
          <p class="lead">66 – São Félix Do Araguaia – MT</p>
        </li>
        <li>
          <p class="lead">66 – São José Do Povo – MT</p>
        </li>
        <li>
          <p class="lead">66 – São José Do Xingu – MT</p>
        </li>
        <li>
          <p class="lead">66 – São Pedro Da Cipa – MT</p>
        </li>
        <li>
          <p class="lead">66 – Serra Nova Dourada – MT</p>
        </li>
        <li>
          <p class="lead">66 – Sinop – MT</p>
        </li>
        <li>
          <p class="lead">66 – Sorriso – MT</p>
        </li>
        <li>
          <p class="lead">66 – Tabaporã – MT</p>
        </li>
        <li>
          <p class="lead">66 – Tapurah – MT</p>
        </li>
        <li>
          <p class="lead">66 – Terra Nova Do Norte – MT</p>
        </li>
        <li>
          <p class="lead">66 – Tesouro – MT</p>
        </li>
        <li>
          <p class="lead">66 – Torixoréu – MT</p>
        </li>
        <li>
          <p class="lead">66 – União Do Sul – MT</p>
        </li>
        <li>
          <p class="lead">66 – Vera – MT</p>
        </li>
        <li>
          <p class="lead">66 – Vila Rica – MT</p>
        </li>

      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>