{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 27 – Vila Velha e Vitória
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead"> 27 – Afonso Cláudio – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Água Doce Do Norte – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Águia Branca – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Alfredo Chaves – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Alto Rio Novo – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Aracruz – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Baixo Guandu – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Barra De São Francisco – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Boa Esperança – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Brejetuba – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Cariacica – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Colatina – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Conceição Da Barra – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Domingos Martins – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Ecoporanga – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Fundão – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Governador Lindenberg – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Guarapari – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Ibiraçu – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Itaguaçu – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Itarana – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Jaguaré – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – João Neiva – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Laranja Da Terra – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Linhares – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Mantenópolis – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Marechal Floriano – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Marilândia – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Montanha – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Mucurici – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Nova Venécia – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Pancas – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Pedro Canário – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Pinheiros – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Ponto Belo – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Rio Bananal – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Santa Leopoldina – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Santa Maria De Jetibá – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Santa Teresa – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – São Domingos Do Norte – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – São Gabriel Da Palha – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – São Mateus – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – São Roque Do Canaã – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Serra – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Sooretama – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Viana – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Vila Pavão – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Vila Valério – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Vila Velha – ES</p>
        </li>
        <li>
          <p class="lead"> 27 – Vitória – ES</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}