{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 92 – Manaus
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">92 – Autazes – AM</p>
        </li>
        <li>
          <p class="lead">92 – Barreirinha – AM</p>
        </li>
        <li>
          <p class="lead">92 – Boa Vista Do Ramos – AM</p>
        </li>
        <li>
          <p class="lead">92 – Borba – AM</p>
        </li>
        <li>
          <p class="lead">92 – Caapiranga – AM</p>
        </li>
        <li>
          <p class="lead">92 – Careiro – AM</p>
        </li>
        <li>
          <p class="lead">92 – Careiro Da Várzea – AM</p>
        </li>
        <li>
          <p class="lead">92 – Iranduba – AM</p>
        </li>
        <li>
          <p class="lead">92 – Itacoatiara – AM</p>
        </li>
        <li>
          <p class="lead">92 – Itapiranga – AM</p>
        </li>
        <li>
          <p class="lead">92 – Manacapuru – AM</p>
        </li>
        <li>
          <p class="lead">92 – Manaquiri – AM</p>
        </li>
        <li>
          <p class="lead">92 – Manaus – AM</p>
        </li>
        <li>
          <p class="lead">92 – Maués – AM</p>
        </li>
        <li>
          <p class="lead">92 – Nhamundá – AM</p>
        </li>
        <li>
          <p class="lead">92 – Nova Olinda Do Norte – AM</p>
        </li>
        <li>
          <p class="lead">92 – Novo Airão – AM</p>
        </li>
        <li>
          <p class="lead">92 – Parintins – AM</p>
        </li>
        <li>
          <p class="lead">92 – Presidente Figueiredo – AM</p>
        </li>
        <li>
          <p class="lead">92 – Rio Preto Da Eva – AM</p>
        </li>
        <li>
          <p class="lead">92 – São Sebastião Do Uatumã – AM</p>
        </li>
        <li>
          <p class="lead">92 – Silves – AM</p>
        </li>
        <li>
          <p class="lead">92 – Urucará – AM</p>
        </li>
        <li>
          <p class="lead">92 – Urucurituba – AM</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}