{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 97 – Coari
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">97 – Alvarães – AM</p>
        </li>
        <li>
          <p class="lead">97 – Amaturá – AM</p>
        </li>
        <li>
          <p class="lead">97 – Anamã – AM</p>
        </li>
        <li>
          <p class="lead">97 – Anori – AM</p>
        </li>
        <li>
          <p class="lead">97 – Apuí – AM</p>
        </li>
        <li>
          <p class="lead">97 – Atalaia Do Norte – AM</p>
        </li>
        <li>
          <p class="lead">97 – Barcelos – AM</p>
        </li>
        <li>
          <p class="lead">97 – Benjamin Constant – AM</p>
        </li>
        <li>
          <p class="lead">97 – Beruri – AM</p>
        </li>
        <li>
          <p class="lead">97 – Boca Do Acre – AM</p>
        </li>
        <li>
          <p class="lead">97 – Canutama – AM</p>
        </li>
        <li>
          <p class="lead">97 – Carauari – AM</p>
        </li>
        <li>
          <p class="lead">97 – Coari – AM</p>
        </li>
        <li>
          <p class="lead">97 – Codajás – AM</p>
        </li>
        <li>
          <p class="lead">97 – Eirunepé – AM</p>
        </li>
        <li>
          <p class="lead">97 – Envira – AM</p>
        </li>
        <li>
          <p class="lead">97 – Fonte Boa – AM</p>
        </li>
        <li>
          <p class="lead">97 – Guajará – AM</p>
        </li>
        <li>
          <p class="lead">97 – Humaitá – AM</p>
        </li>
        <li>
          <p class="lead">97 – Ipixuna – AM</p>
        </li>
        <li>
          <p class="lead">97 – Itamarati – AM</p>
        </li>
        <li>
          <p class="lead">97 – Japurá – AM</p>
        </li>
        <li>
          <p class="lead">97 – Juruá – AM</p>
        </li>
        <li>
          <p class="lead">97 – Jutaí – AM</p>
        </li>
        <li>
          <p class="lead">97 – Lábrea – AM</p>
        </li>
        <li>
          <p class="lead">97 – Manicoré – AM</p>
        </li>
        <li>
          <p class="lead">97 – Maraã – AM</p>
        </li>
        <li>
          <p class="lead">97 – Novo Aripuanã – AM</p>
        </li>
        <li>
          <p class="lead">97 – Pauini – AM</p>
        </li>
        <li>
          <p class="lead">97 – Santa Isabel Do Rio Negro – AM</p>
        </li>
        <li>
          <p class="lead">97 – Santo Antônio Do Içá – AM</p>
        </li>
        <li>
          <p class="lead">97 – São Gabriel Da Cachoeira – AM</p>
        </li>
        <li>
          <p class="lead">97 – São Paulo De Olivença – AM</p>
        </li>
        <li>
          <p class="lead">97 – Tabatinga – AM</p>
        </li>
        <li>
          <p class="lead">97 – Tapauá – AM</p>
        </li>
        <li>
          <p class="lead">97 – Tefé – AM</p>
        </li>
        <li>
          <p class="lead">97 – Tonantins – AM</p>
        </li>
        <li>
          <p class="lead">97 – Uarini – AM</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}