<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 47 – Joinville
      </h2>
      <br>
      <br>
      <ul>
            <li><p class="lead">47 – Agrolândia – SC</p></li>
            <li><p class="lead">47 – Agronômica – SC</p></li>
            <li><p class="lead">47 – Apiúna – SC</p></li>
            <li><p class="lead">47 – Araquari – SC</p></li>
            <li><p class="lead">47 – Ascurra – SC</p></li>
            <li><p class="lead">47 – Atalanta – SC</p></li>
            <li><p class="lead">47 – Aurora – SC</p></li>
            <li><p class="lead">47 – Balneário Barra Do Sul – SC</p></li>
            <li><p class="lead">47 – Balneário Camboriú – SC</p></li>
            <li><p class="lead">47 – Barra Velha – SC</p></li>
            <li><p class="lead">47 – Bela Vista Do Toldo – SC</p></li>
            <li><p class="lead">47 – Benedito Novo – SC</p></li>
            <li><p class="lead">47 – Blumenau – SC</p></li>
            <li><p class="lead">47 – Bombinhas – SC</p></li>
            <li><p class="lead">47 – Botuverá – SC</p></li>
            <li><p class="lead">47 – Braço Do Trombudo – SC</p></li>
            <li><p class="lead">47 – Brusque – SC</p></li>
            <li><p class="lead">47 – Camboriú – SC</p></li>
            <li><p class="lead">47 – Campo Alegre – SC</p></li>
            <li><p class="lead">47 – Canoinhas – SC</p></li>
            <li><p class="lead">47 – Chapadão Do Lageado – SC</p></li>
            <li><p class="lead">47 – Corupá – SC</p></li>
            <li><p class="lead">47 – Dona Emma – SC</p></li>
            <li><p class="lead">47 – Doutor Pedrinho – SC</p></li>
            <li><p class="lead">47 – Garuva – SC</p></li>
            <li><p class="lead">47 – Gaspar – SC</p></li>
            <li><p class="lead">47 – Guabiruba – SC</p></li>
            <li><p class="lead">47 – Guaramirim – SC</p></li>
            <li><p class="lead">47 – Ibirama – SC</p></li>
            <li><p class="lead">47 – Ilhota – SC</p></li>
            <li><p class="lead">47 – Imbuia – SC</p></li>
            <li><p class="lead">47 – Indaial – SC</p></li>
            <li><p class="lead">47 – Irineópolis – SC</p></li>
            <li><p class="lead">47 – Itaiópolis – SC</p></li>
            <li><p class="lead">47 – Itajaí – SC</p></li>
            <li><p class="lead">47 – Itapema – SC</p></li>
            <li><p class="lead">47 – Itapoá – SC</p></li>
            <li><p class="lead">47 – Ituporanga – SC</p></li>
            <li><p class="lead">47 – Jaraguá Do Sul – SC</p></li>
            <li><p class="lead">47 – Joinville – SC</p></li>
            <li><p class="lead">47 – José Boiteux – SC</p></li>
            <li><p class="lead">47 – Laurentino – SC</p></li>
            <li><p class="lead">47 – Lontras – SC</p></li>
            <li><p class="lead">47 – Luiz Alves – SC</p></li>
            <li><p class="lead">47 – Mafra – SC</p></li>
            <li><p class="lead">47 – Major Vieira – SC</p></li>
            <li><p class="lead">47 – Massaranduba – SC</p></li>
            <li><p class="lead">47 – Mirim Doce – SC</p></li>
            <li><p class="lead">47 – Monte Castelo – SC</p></li>
            <li><p class="lead">47 – Navegantes – SC</p></li>
            <li><p class="lead">47 – Papanduva – SC</p></li>
            <li><p class="lead">47 – Penha – SC</p></li>
            <li><p class="lead">47 – Petrolândia – SC</p></li>
            <li><p class="lead">47 – Piçarras – SC</p></li>
            <li><p class="lead">47 – Pomerode – SC</p></li>
            <li><p class="lead">47 – Porto Belo – SC</p></li>
            <li><p class="lead">47 – Pouso Redondo – SC</p></li>
            <li><p class="lead">47 – Presidente Getúlio – SC</p></li>
            <li><p class="lead">47 – Presidente Nereu – SC</p></li>
            <li><p class="lead">47 – Rio Do Campo – SC</p></li>
            <li><p class="lead">47 – Rio Do Oeste – SC</p></li>
            <li><p class="lead">47 – Rio Do Sul – SC</p></li>
            <li><p class="lead">47 – Rio Dos Cedros – SC</p></li>
            <li><p class="lead">47 – Rio Negrinho – SC</p></li>
            <li><p class="lead">47 – Rodeio – SC</p></li>
            <li><p class="lead">47 – Salete – SC</p></li>
            <li><p class="lead">47 – Santa Terezinha – SC</p></li>
            <li><p class="lead">47 – São Bento Do Sul – SC</p></li>
            <li><p class="lead">47 – São Francisco Do Sul – SC</p></li>
            <li><p class="lead">47 – São João Do Itaperiú – SC</p></li>
            <li><p class="lead">47 – Sc</p></li>hroeder – SC</p></li>
            <li><p class="lead">47 – Taió – SC</p></li>
            <li><p class="lead">47 – Timbó – SC</p></li>
            <li><p class="lead">47 – Três Barras – SC</p></li>
            <li><p class="lead">47 – Trombudo Central – SC</p></li>
            <li><p class="lead">47 – Vidal Ramos – SC</p></li>
            <li><p class="lead">47 – Vitor Meireles – SC</p></li>
            <li><p class="lead">47 – Witmarsum – SC</p></li>        
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>