<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 48 – Florianópolis
      </h2>
      <br>
      <br>
      <ul>
          <li><p class="lead">48 – Águas Mornas – SC</p></li>
          <li><p class="lead">48 – Alfredo Wagner – SC</p></li>
          <li><p class="lead">48 – Angelina – SC</p></li>
          <li><p class="lead">48 – Anitápolis – SC</p></li>
          <li><p class="lead">48 – Antônio Carlos – SC</p></li>
          <li><p class="lead">48 – Araranguá – SC</p></li>
          <li><p class="lead">48 – Armazém – SC</p></li>
          <li><p class="lead">48 – Balneário Arroio Do Silva – SC</p></li>
          <li><p class="lead">48 – Balneário Gaivota – SC</p></li>
          <li><p class="lead">48 – Balneário Rincão – SC</p></li>
          <li><p class="lead">48 – Biguaçu – SC</p></li>
          <li><p class="lead">48 – Braço Do Norte – SC</p></li>
          <li><p class="lead">48 – Canelinha – SC</p></li>
          <li><p class="lead">48 – Capivari De Baixo – SC</p></li>
          <li><p class="lead">48 – Cocal Do Sul – SC</p></li>
          <li><p class="lead">48 – Criciúma – SC</p></li>
          <li><p class="lead">48 – Ermo – SC</p></li>
          <li><p class="lead">48 – Florianópolis – SC</p></li>
          <li><p class="lead">48 – Forquilhinha – SC</p></li>
          <li><p class="lead">48 – Garopaba – SC</p></li>
          <li><p class="lead">48 – Governador Celso Ramos – SC</p></li>
          <li><p class="lead">48 – Grão Pará – SC</p></li>
          <li><p class="lead">48 – Gravatal – SC</p></li>
          <li><p class="lead">48 – Içara – SC</p></li>
          <li><p class="lead">48 – Imaruí – SC</p></li>
          <li><p class="lead">48 – Imbituba – SC</p></li>
          <li><p class="lead">48 – Jacinto Machado – SC</p></li>
          <li><p class="lead">48 – Jaguaruna – SC</p></li>
          <li><p class="lead">48 – Laguna – SC</p></li>
          <li><p class="lead">48 – Lauro Muller – SC</p></li>
          <li><p class="lead">48 – Leoberto Leal – SC</p></li>
          <li><p class="lead">48 – Major Gercino – SC</p></li>
          <li><p class="lead">48 – Maracajá – SC</p></li>
          <li><p class="lead">48 – Meleiro – SC</p></li>
          <li><p class="lead">48 – Morro Da Fumaça – SC</p></li>
          <li><p class="lead">48 – Morro Grande – SC</p></li>
          <li><p class="lead">48 – Nova Trento – SC</p></li>
          <li><p class="lead">48 – Nova Veneza – SC</p></li>
          <li><p class="lead">48 – Orleans – SC</p></li>
          <li><p class="lead">48 – Palhoça – SC</p></li>
          <li><p class="lead">48 – Passo De Torres – SC</p></li>
          <li><p class="lead">48 – Paulo Lopes – SC</p></li>
          <li><p class="lead">48 – Pedras Grandes – SC</p></li>
          <li><p class="lead">48 – Pescaria Brava – SC</p></li>
          <li><p class="lead">48 – Praia Grande – SC</p></li>
          <li><p class="lead">48 – Rancho Queimado – SC</p></li>
          <li><p class="lead">48 – Rio Fortuna – SC</p></li>
          <li><p class="lead">48 – Sangão – SC</p></li>
          <li><p class="lead">48 – Santa Rosa De Lima – SC</p></li>
          <li><p class="lead">48 – Santa Rosa Do Sul – SC</p></li>
          <li><p class="lead">48 – Santo Amaro Da Imperatriz – SC</p></li>
          <li><p class="lead">48 – São Bonifácio – SC</p></li>
          <li><p class="lead">48 – São João Batista – SC</p></li>
          <li><p class="lead">48 – São João Do Sul – SC</p></li>
          <li><p class="lead">48 – São José – SC</p></li>
          <li><p class="lead">48 – São Ludgero – SC</p></li>
          <li><p class="lead">48 – São Martinho – SC</p></li>
          <li><p class="lead">48 – São Pedro De Alcântara – SC</p></li>
          <li><p class="lead">48 – Siderópolis – SC</p></li>
          <li><p class="lead">48 – Sombrio – SC</p></li>
          <li><p class="lead">48 – Tijucas – SC</p></li>
          <li><p class="lead">48 – Timbé Do Sul – SC</p></li>
          <li><p class="lead">48 – Treviso – SC</p></li>
          <li><p class="lead">48 – Treze De Maio – SC</p></li>
          <li><p class="lead">48 – Tubarão – SC</p></li>
          <li><p class="lead">48 – Turvo – SC</p></li>
          <li><p class="lead">48 – Urussanga – SC</p></li>      
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>