{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 49 – Chapecó
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">49 – Abdon Batista – SC</p>
        </li>
        <li>
          <p class="lead">49 – Abelardo Luz – SC</p>
        </li>
        <li>
          <p class="lead">49 – Água Doce – SC</p>
        </li>
        <li>
          <p class="lead">49 – Águas De Chapecó – SC</p>
        </li>
        <li>
          <p class="lead">49 – Águas Frias – SC</p>
        </li>
        <li>
          <p class="lead">49 – Alto Bela Vista – SC</p>
        </li>
        <li>
          <p class="lead">49 – Anchieta – SC</p>
        </li>
        <li>
          <p class="lead">49 – Anita Garibaldi – SC</p>
        </li>
        <li>
          <p class="lead">49 – Arabutã – SC</p>
        </li>
        <li>
          <p class="lead">49 – Arroio Trinta – SC</p>
        </li>
        <li>
          <p class="lead">49 – Arvoredo – SC</p>
        </li>
        <li>
          <p class="lead">49 – Bandeirante – SC</p>
        </li>
        <li>
          <p class="lead">49 – Barra Bonita – SC</p>
        </li>
        <li>
          <p class="lead">49 – Belmonte – SC</p>
        </li>
        <li>
          <p class="lead">49 – Bocaina Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – Bom Jardim Da Serra – SC</p>
        </li>
        <li>
          <p class="lead">49 – Bom Jesus – SC</p>
        </li>
        <li>
          <p class="lead">49 – Bom Jesus Do Oeste – SC</p>
        </li>
        <li>
          <p class="lead">49 – Bom Retiro – SC</p>
        </li>
        <li>
          <p class="lead">49 – Brunópolis – SC</p>
        </li>
        <li>
          <p class="lead">49 – Caçador – SC</p>
        </li>
        <li>
          <p class="lead">49 – Caibi – SC</p>
        </li>
        <li>
          <p class="lead">49 – Calmon – SC</p>
        </li>
        <li>
          <p class="lead">49 – Campo Belo Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – Campo Erê – SC</p>
        </li>
        <li>
          <p class="lead">49 – Campos Novos – SC</p>
        </li>
        <li>
          <p class="lead">49 – Capão Alto – SC</p>
        </li>
        <li>
          <p class="lead">49 – Capinzal – SC</p>
        </li>
        <li>
          <p class="lead">49 – Catanduvas – SC</p>
        </li>
        <li>
          <p class="lead">49 – Caxambu Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – Celso Ramos – SC</p>
        </li>
        <li>
          <p class="lead">49 – Cerro Negro – SC</p>
        </li>
        <li>
          <p class="lead">49 – Chapecó – SC</p>
        </li>
        <li>
          <p class="lead">49 – Concórdia – SC</p>
        </li>
        <li>
          <p class="lead">49 – Cordilheira Alta – SC</p>
        </li>
        <li>
          <p class="lead">49 – Coronel Freitas – SC</p>
        </li>
        <li>
          <p class="lead">49 – Coronel Martins – SC</p>
        </li>
        <li>
          <p class="lead">49 – Correia Pinto – SC</p>
        </li>
        <li>
          <p class="lead">49 – Cunha Porã – SC</p>
        </li>
        <li>
          <p class="lead">49 – Cunhataí – SC</p>
        </li>
        <li>
          <p class="lead">49 – Curitibanos – SC</p>
        </li>
        <li>
          <p class="lead">49 – Descanso – SC</p>
        </li>
        <li>
          <p class="lead">49 – Dionísio Cerqueira – SC</p>
        </li>
        <li>
          <p class="lead">49 – Entre Rios – SC</p>
        </li>
        <li>
          <p class="lead">49 – Erval Velho – SC</p>
        </li>
        <li>
          <p class="lead">49 – Faxinal Dos Guedes – SC</p>
        </li>
        <li>
          <p class="lead">49 – Flor Do Sertão – SC</p>
        </li>
        <li>
          <p class="lead">49 – Formosa Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – Fraiburgo – SC</p>
        </li>
        <li>
          <p class="lead">49 – Frei Rogério – SC</p>
        </li>
        <li>
          <p class="lead">49 – Galvão – SC</p>
        </li>
        <li>
          <p class="lead">49 – Guaraciaba – SC</p>
        </li>
        <li>
          <p class="lead">49 – Guarujá Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – Guatambú – SC</p>
        </li>
        <li>
          <p class="lead">49 – Herval D’oeste – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ibiam – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ibicaré – SC</p>
        </li>
        <li>
          <p class="lead">49 – Iomerê – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ipira – SC</p>
        </li>
        <li>
          <p class="lead">49 – Iporã Do Oeste – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ipuaçu – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ipumirim – SC</p>
        </li>
        <li>
          <p class="lead">49 – Iraceminha – SC</p>
        </li>
        <li>
          <p class="lead">49 – Irani – SC</p>
        </li>
        <li>
          <p class="lead">49 – Irati – SC</p>
        </li>
        <li>
          <p class="lead">49 – Itá – SC</p>
        </li>
        <li>
          <p class="lead">49 – Itapiranga – SC</p>
        </li>
        <li>
          <p class="lead">49 – Jaborá – SC</p>
        </li>
        <li>
          <p class="lead">49 – Jardinópolis – SC</p>
        </li>
        <li>
          <p class="lead">49 – Joaçaba – SC</p>
        </li>
        <li>
          <p class="lead">49 – Jupiá – SC</p>
        </li>
        <li>
          <p class="lead">49 – Lacerdópolis – SC</p>
        </li>
        <li>
          <p class="lead">49 – Lages – SC</p>
        </li>
        <li>
          <p class="lead">49 – Lajeado Grande – SC</p>
        </li>
        <li>
          <p class="lead">49 – Lebon Régis – SC</p>
        </li>
        <li>
          <p class="lead">49 – Lindóia Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – Luzerna – SC</p>
        </li>
        <li>
          <p class="lead">49 – Macieira – SC</p>
        </li>
        <li>
          <p class="lead">49 – Maravilha – SC</p>
        </li>
        <li>
          <p class="lead">49 – Marema – SC</p>
        </li>
        <li>
          <p class="lead">49 – Matos Costa – SC</p>
        </li>
        <li>
          <p class="lead">49 – Modelo – SC</p>
        </li>
        <li>
          <p class="lead">49 – Mondaí – SC</p>
        </li>
        <li>
          <p class="lead">49 – Monte Carlo – SC</p>
        </li>
        <li>
          <p class="lead">49 – Nova Erechim – SC</p>
        </li>
        <li>
          <p class="lead">49 – Nova Itaberaba – SC</p>
        </li>
        <li>
          <p class="lead">49 – Novo Horizonte – SC</p>
        </li>
        <li>
          <p class="lead">49 – Otacílio Costa – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ouro – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ouro Verde – SC</p>
        </li>
        <li>
          <p class="lead">49 – Paial – SC</p>
        </li>
        <li>
          <p class="lead">49 – Painel – SC</p>
        </li>
        <li>
          <p class="lead">49 – Palma Sola – SC</p>
        </li>
        <li>
          <p class="lead">49 – Palmeira – SC</p>
        </li>
        <li>
          <p class="lead">49 – Palmitos – SC</p>
        </li>
        <li>
          <p class="lead">49 – Paraíso – SC</p>
        </li>
        <li>
          <p class="lead">49 – Passos Maia – SC</p>
        </li>
        <li>
          <p class="lead">49 – Peritiba – SC</p>
        </li>
        <li>
          <p class="lead">49 – Pinhalzinho – SC</p>
        </li>
        <li>
          <p class="lead">49 – Pinheiro Preto – SC</p>
        </li>
        <li>
          <p class="lead">49 – Piratuba – SC</p>
        </li>
        <li>
          <p class="lead">49 – Planalto Alegre – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ponte Alta – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ponte Alta Do Norte – SC</p>
        </li>
        <li>
          <p class="lead">49 – Ponte Serrada – SC</p>
        </li>
        <li>
          <p class="lead">49 – Presidente Castelo Branco – SC</p>
        </li>
        <li>
          <p class="lead">49 – Princesa – SC</p>
        </li>
        <li>
          <p class="lead">49 – Quilombo – SC</p>
        </li>
        <li>
          <p class="lead">49 – Rio Das Antas – SC</p>
        </li>
        <li>
          <p class="lead">49 – Rio Rufino – SC</p>
        </li>
        <li>
          <p class="lead">49 – Riqueza – SC</p>
        </li>
        <li>
          <p class="lead">49 – Romelândia – SC</p>
        </li>
        <li>
          <p class="lead">49 – Saltinho – SC</p>
        </li>
        <li>
          <p class="lead">49 – Salto Veloso – SC</p>
        </li>
        <li>
          <p class="lead">49 – Santa Cecília – SC</p>
        </li>
        <li>
          <p class="lead">49 – Santa Helena – SC</p>
        </li>
        <li>
          <p class="lead">49 – Santa Terezinha Do Progresso – SC</p>
        </li>
        <li>
          <p class="lead">49 – Santiago Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Bernardino – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Carlos – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Cristovão Do Sul – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Domingos – SC</p>
        </li>
        <li>
          <p class="lead">49 – São João Do Oeste – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Joaquim – SC</p>
        </li>
        <li>
          <p class="lead">49 – São José Do Cedro – SC</p>
        </li>
        <li>
          <p class="lead">49 – São José Do Cerrito – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Lourenço Do Oeste – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Miguel Da Boa Vista – SC</p>
        </li>
        <li>
          <p class="lead">49 – São Miguel D’oeste – SC</p>
        </li>
        <li>
          <p class="lead">49 – Saudades – SC</p>
        </li>
        <li>
          <p class="lead">49 – Seara – SC</p>
        </li>
        <li>
          <p class="lead">49 – Serra Alta – SC</p>
        </li>
        <li>
          <p class="lead">49 – Sul Brasil – SC</p>
        </li>
        <li>
          <p class="lead">49 – Tangará – SC</p>
        </li>
        <li>
          <p class="lead">49 – Tigrinhos – SC</p>
        </li>
        <li>
          <p class="lead">49 – Timbó Grande – SC</p>
        </li>
        <li>
          <p class="lead">49 – Treze Tílias – SC</p>
        </li>
        <li>
          <p class="lead">49 – Tunápolis – SC</p>
        </li>
        <li>
          <p class="lead">49 – União Do Oeste – SC</p>
        </li>
        <li>
          <p class="lead">49 – Urubici – SC</p>
        </li>
        <li>
          <p class="lead">49 – Urupema – SC</p>
        </li>
        <li>
          <p class="lead">49 – Vargeão – SC</p>
        </li>
        <li>
          <p class="lead">49 – Vargem – SC</p>
        </li>
        <li>
          <p class="lead">49 – Vargem Bonita – SC</p>
        </li>
        <li>
          <p class="lead">49 – Videira – SC</p>
        </li>
        <li>
          <p class="lead">49 – Xanxerê – SC</p>
        </li>
        <li>
          <p class="lead">49 – Xavantina – SC</p>
        </li>
        <li>
          <p class="lead">49 – Xaxim – SC</p>
        </li>
        <li>
          <p class="lead">49 – Zortéa – SC</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}