{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD12 - São José dos Campos 
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">12 – Aparecida – SP</p>
        </li>
        <li>
          <p class="lead">12 – Arapeí – SP</p>
        </li>
        <li>
          <p class="lead">12 – Areias – SP</p>
        </li>
        <li>
          <p class="lead">12 – Bananal – SP</p>
        </li>
        <li>
          <p class="lead">12 – Caçapava – SP</p>
        </li>
        <li>
          <p class="lead">12 – Cachoeira Paulista – SP</p>
        </li>
        <li>
          <p class="lead">12 – Campos Do Jordão – SP</p>
        </li>
        <li>
          <p class="lead">12 – Canas – SP</p>
        </li>
        <li>
          <p class="lead">12 – Caraguatatuba – SP</p>
        </li>
        <li>
          <p class="lead">12 – Cruzeiro – SP</p>
        </li>
        <li>
          <p class="lead">12 – Cunha – SP</p>
        </li>
        <li>
          <p class="lead">12 – Guaratinguetá – SP</p>
        </li>
        <li>
          <p class="lead">12 – Ilhabela – SP</p>
        </li>
        <li>
          <p class="lead">12 – Jacareí – SP</p>
        </li>
        <li>
          <p class="lead">12 – Jambeiro – SP</p>
        </li>
        <li>
          <p class="lead">12 – Lagoinha – SP</p>
        </li>
        <li>
          <p class="lead">12 – Lavrinhas – SP</p>
        </li>
        <li>
          <p class="lead">12 – Lorena – SP</p>
        </li>
        <li>
          <p class="lead">12 – Monteiro Lobato – SP</p>
        </li>
        <li>
          <p class="lead">12 – Natividade Da Serra – SP</p>
        </li>
        <li>
          <p class="lead">12 – Paraibuna – SP</p>
        </li>
        <li>
          <p class="lead">12 – Pindamonhangaba – SP</p>
        </li>
        <li>
          <p class="lead">12 – Piquete – SP</p>
        </li>
        <li>
          <p class="lead">12 – Potim – SP</p>
        </li>
        <li>
          <p class="lead">12 – Queluz – SP</p>
        </li>
        <li>
          <p class="lead">12 – Redenção Da Serra – SP</p>
        </li>
        <li>
          <p class="lead">12 – Roseira – SP</p>
        </li>
        <li>
          <p class="lead">12 – Santa Branca – SP</p>
        </li>
        <li>
          <p class="lead">12 – Santo Antônio Do Pinhal – SP</p>
        </li>
        <li>
          <p class="lead">12 – São Bento Do Sapucaí – SP</p>
        </li>
        <li>
          <p class="lead">12 – São José Do Barreiro – SP</p>
        </li>
        <li>
          <p class="lead">12 – São José Dos Campos – SP</p>
        </li>
        <li>
          <p class="lead">12 – São Luís Do Paraitinga – SP</p>
        </li>
        <li>
          <p class="lead">12 – São Sebastião – SP</p>
        </li>
        <li>
          <p class="lead">12 – Silveiras – SP</p>
        </li>
        <li>
          <p class="lead">12 – Taubaté – SP</p>
        </li>
        <li>
          <p class="lead">12 – Tremembé – SP</p>
        </li>
        <li>
          <p class="lead">12 – Ubatuba – SP</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}