{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 13 – Santos
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">13 – Bertioga – SP</p>
        </li>
        <li>
          <p class="lead">13 – Cajati – SP</p>
        </li>
        <li>
          <p class="lead">13 – Cananéia – SP</p>
        </li>
        <li>
          <p class="lead">13 – Cubatão – SP</p>
        </li>
        <li>
          <p class="lead">13 – Eldorado – SP</p>
        </li>
        <li>
          <p class="lead">13 – Guarujá – SP</p>
        </li>
        <li>
          <p class="lead">13 – Iguape – SP</p>
        </li>
        <li>
          <p class="lead">13 – Ilha Comprida – SP</p>
        </li>
        <li>
          <p class="lead">13 – Itanhaém – SP</p>
        </li>
        <li>
          <p class="lead">13 – Itariri – SP</p>
        </li>
        <li>
          <p class="lead">13 – Jacupiranga – SP</p>
        </li>
        <li>
          <p class="lead">13 – Juquiá – SP</p>
        </li>
        <li>
          <p class="lead">13 – Miracatu – SP</p>
        </li>
        <li>
          <p class="lead">13 – Mongaguá – SP</p>
        </li>
        <li>
          <p class="lead">13 – Pariquera-Açu – SP</p>
        </li>
        <li>
          <p class="lead">13 – Pedro De Toledo – SP</p>
        </li>
        <li>
          <p class="lead">13 – Peruíbe – SP</p>
        </li>
        <li>
          <p class="lead">13 – Praia Grande – SP</p>
        </li>
        <li>
          <p class="lead">13 – Registro – SP</p>
        </li>
        <li>
          <p class="lead">13 – Santos – SP</p>
        </li>
        <li>
          <p class="lead">13 – São Vicente – SP</p>
        </li>
        <li>
          <p class="lead">13 – Sete Barras – SP</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}