<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 14 – Bauru
      </h2>
      <br>
      <br>
      <ul>
        <li><p class="lead">14 – Águas De Santa Bárbara – SP</p></li>
        <li><p class="lead">14 – Agudos – SP</p></li>
        <li><p class="lead">14 – Álvaro De Carvalho – SP</p></li>
        <li><p class="lead">14 – Alvinlândia – SP</p></li>
        <li><p class="lead">14 – Anhembi – SP</p></li>
        <li><p class="lead">14 – Arandu – SP</p></li>
        <li><p class="lead">14 – Arco-Íris – SP</p></li>
        <li><p class="lead">14 – Arealva – SP</p></li>
        <li><p class="lead">14 – Areiópolis – SP</p></li>
        <li><p class="lead">14 – Avaí – SP</p></li>
        <li><p class="lead">14 – Avaré – SP</p></li>
        <li><p class="lead">14 – Balbinos – SP</p></li>
        <li><p class="lead">14 – Bariri – SP</p></li>
        <li><p class="lead">14 – Barra Bonita – SP</p></li>
        <li><p class="lead">14 – Bastos – SP</p></li>
        <li><p class="lead">14 – Bauru – SP</p></li>
        <li><p class="lead">14 – Bernardino De Campos – SP</p></li>
        <li><p class="lead">14 – Bocaina – SP</p></li>
        <li><p class="lead">14 – Bofete – SP</p></li>
        <li><p class="lead">14 – Boracéia – SP</p></li>
        <li><p class="lead">14 – Borebi – SP</p></li>
        <li><p class="lead">14 – Botucatu – SP</p></li>
        <li><p class="lead">14 – Brotas – SP</p></li>
        <li><p class="lead">14 – Cabrália Paulista – SP</p></li>
        <li><p class="lead">14 – Cafelândia – SP</p></li>
        <li><p class="lead">14 – Campos Novos Paulista – SP</p></li>
        <li><p class="lead">14 – Canitar – SP</p></li>
        <li><p class="lead">14 – Cerqueira César – SP</p></li>
        <li><p class="lead">14 – Chavantes – SP</p></li>
        <li><p class="lead">14 – Conchas – SP</p></li>
        <li><p class="lead">14 – Coronel Macedo – SP</p></li>
        <li><p class="lead">14 – Dois Córregos – SP</p></li>
        <li><p class="lead">14 – Duartina – SP</p></li>
        <li><p class="lead">14 – Espírito Santo Do Turvo – SP</p></li>
        <li><p class="lead">14 – Fartura – SP</p></li>
        <li><p class="lead">14 – Fernão – SP</p></li>
        <li><p class="lead">14 – Gália – SP</p></li>
        <li><p class="lead">14 – Garça – SP</p></li>
        <li><p class="lead">14 – Getulina – SP</p></li>
        <li><p class="lead">14 – Guaiçara – SP</p></li>
        <li><p class="lead">14 – Guaimbê – SP</p></li>
        <li><p class="lead">14 – Guarantã – SP</p></li>
        <li><p class="lead">14 – Herculândia – SP</p></li>
        <li><p class="lead">14 – Iacanga – SP</p></li>
        <li><p class="lead">14 – Iacri – SP</p></li>
        <li><p class="lead">14 – Iaras – SP</p></li>
        <li><p class="lead">14 – Ibirarema – SP</p></li>
        <li><p class="lead">14 – Igaraçu Do Tietê – SP</p></li>
        <li><p class="lead">14 – Ipauçu – SP</p></li>
        <li><p class="lead">14 – Itaí – SP</p></li>
        <li><p class="lead">14 – Itaju – SP</p></li>
        <li><p class="lead">14 – Itapuí – SP</p></li>
        <li><p class="lead">14 – Itatinga – SP</p></li>
        <li><p class="lead">14 – Jaú – SP</p></li>
        <li><p class="lead">14 – Júlio Mesquita – SP</p></li>
        <li><p class="lead">14 – Lençóis Paulista – SP</p></li>
        <li><p class="lead">14 – Lins – SP</p></li>
        <li><p class="lead">14 – Lucianópolis – SP</p></li>
        <li><p class="lead">14 – Lupércio – SP</p></li>
        <li><p class="lead">14 – Macatuba – SP</p></li>
        <li><p class="lead">14 – Manduri – SP</p></li>
        <li><p class="lead">14 – Marília – SP</p></li>
        <li><p class="lead">14 – Mineiros Do Tietê – SP</p></li>
        <li><p class="lead">14 – Ocauçu – SP</p></li>
        <li><p class="lead">14 – Óleo – SP</p></li>
        <li><p class="lead">14 – Oriente – SP</p></li>
        <li><p class="lead">14 – Oscar Bressane – SP</p></li>
        <li><p class="lead">14 – Ourinhos – SP</p></li>
        <li><p class="lead">14 – Paranapanema – SP</p></li>
        <li><p class="lead">14 – Pardinho – SP</p></li>
        <li><p class="lead">14 – Paulistânia – SP</p></li>
        <li><p class="lead">14 – Pederneiras – SP</p></li>
        <li><p class="lead">14 – Pereiras – SP</p></li>
        <li><p class="lead">14 – Piraju – SP</p></li>
        <li><p class="lead">14 – Pirajuí – SP</p></li>
        <li><p class="lead">14 – Piratininga – SP</p></li>
        <li><p class="lead">14 – Pompéia – SP</p></li>
        <li><p class="lead">14 – Pongaí – SP</p></li>
        <li><p class="lead">14 – Pratânia – SP</p></li>
        <li><p class="lead">14 – Presidente Alves – SP</p></li>
        <li><p class="lead">14 – Promissão – SP</p></li>
        <li><p class="lead">14 – Queiroz – SP</p></li>
        <li><p class="lead">14 – Quintana – SP</p></li>
        <li><p class="lead">14 – Reginópolis – SP</p></li>
        <li><p class="lead">14 – Ribeirão Do Sul – SP</p></li>
        <li><p class="lead">14 – Sabino – SP</p></li>
        <li><p class="lead">14 – Salto Grande – SP</p></li>
        <li><p class="lead">14 – Santa Cruz Do Rio Pardo – SP</p></li>
        <li><p class="lead">14 – São Manuel – SP</p></li>
        <li><p class="lead">14 – São Pedro Do Turvo – SP</p></li>
        <li><p class="lead">14 – Sarutaiá – SP</p></li>
        <li><p class="lead">14 – Taguaí – SP</p></li>
        <li><p class="lead">14 – Taquarituba – SP</p></li>
        <li><p class="lead">14 – Tejupá – SP</p></li>
        <li><p class="lead">14 – Timburi – SP</p></li>
        <li><p class="lead">14 – Torrinha – SP</p></li>
        <li><p class="lead">14 – Tupã – SP</p></li>
        <li><p class="lead">14 – Ubirajara – SP</p></li>
        <li><p class="lead">14 – Uru – SP</p></li>
        <li><p class="lead">14 – Vera Cruz – SP</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>