{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 15 – Sorocaba
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">15 – Alambari – SP</p>
        </li>
        <li>
          <p class="lead">15 – Angatuba – SP</p>
        </li>
        <li>
          <p class="lead">15 – Apiaí – SP</p>
        </li>
        <li>
          <p class="lead">15 – Araçoiaba Da Serra – SP</p>
        </li>
        <li>
          <p class="lead">15 – Barão De Antonina – SP</p>
        </li>
        <li>
          <p class="lead">15 – Barra Do Chapéu – SP</p>
        </li>
        <li>
          <p class="lead">15 – Barra Do Turvo – SP</p>
        </li>
        <li>
          <p class="lead">15 – Boituva – SP</p>
        </li>
        <li>
          <p class="lead">15 – Bom Sucesso De Itararé – SP</p>
        </li>
        <li>
          <p class="lead">15 – Buri – SP</p>
        </li>
        <li>
          <p class="lead">15 – Campina Do Monte Alegre – SP</p>
        </li>
        <li>
          <p class="lead">15 – Capão Bonito – SP</p>
        </li>
        <li>
          <p class="lead">15 – Capela Do Alto – SP</p>
        </li>
        <li>
          <p class="lead">15 – Cerquilho – SP</p>
        </li>
        <li>
          <p class="lead">15 – Cesário Lange – SP</p>
        </li>
        <li>
          <p class="lead">15 – Guapiara – SP</p>
        </li>
        <li>
          <p class="lead">15 – Guareí – SP</p>
        </li>
        <li>
          <p class="lead">15 – Ibiúna – SP</p>
        </li>
        <li>
          <p class="lead">15 – Iperó – SP</p>
        </li>
        <li>
          <p class="lead">15 – Iporanga – SP</p>
        </li>
        <li>
          <p class="lead">15 – Itaberá – SP</p>
        </li>
        <li>
          <p class="lead">15 – Itaóca – SP</p>
        </li>
        <li>
          <p class="lead">15 – Itapetininga – SP</p>
        </li>
        <li>
          <p class="lead">15 – Itapeva – SP</p>
        </li>
        <li>
          <p class="lead">15 – Itapirapuã Paulista – SP</p>
        </li>
        <li>
          <p class="lead">15 – Itaporanga – SP</p>
        </li>
        <li>
          <p class="lead">15 – Itararé – SP</p>
        </li>
        <li>
          <p class="lead">15 – Jumirim – SP</p>
        </li>
        <li>
          <p class="lead">15 – Laranjal Paulista – SP</p>
        </li>
        <li>
          <p class="lead">15 – Nova Campina – SP</p>
        </li>
        <li>
          <p class="lead">15 – Piedade – SP</p>
        </li>
        <li>
          <p class="lead">15 – Pilar Do Sul – SP</p>
        </li>
        <li>
          <p class="lead">15 – Porangaba – SP</p>
        </li>
        <li>
          <p class="lead">15 – Porto Feliz – SP</p>
        </li>
        <li>
          <p class="lead">15 – Quadra – SP</p>
        </li>
        <li>
          <p class="lead">15 – Ribeira – SP</p>
        </li>
        <li>
          <p class="lead">15 – Ribeirão Branco – SP</p>
        </li>
        <li>
          <p class="lead">15 – Ribeirão Grande – SP</p>
        </li>
        <li>
          <p class="lead">15 – Riversul – SP</p>
        </li>
        <li>
          <p class="lead">15 – Salto De Pirapora – SP</p>
        </li>
        <li>
          <p class="lead">15 – São Miguel Arcanjo – SP</p>
        </li>
        <li>
          <p class="lead">15 – Sarapuí – SP</p>
        </li>
        <li>
          <p class="lead">15 – Sorocaba – SP</p>
        </li>
        <li>
          <p class="lead">15 – Tapiraí – SP</p>
        </li>
        <li>
          <p class="lead">15 – Taquarivaí – SP</p>
        </li>
        <li>
          <p class="lead">15 – Tatuí – SP</p>
        </li>
        <li>
          <p class="lead">15 – Tietê – SP</p>
        </li>
        <li>
          <p class="lead">15 – Torre De Pedra – SP</p>
        </li>
        <li>
          <p class="lead">15 – Votorantim – SP</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}