{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 16 – Ribeirão Preto
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">16 – Altinópolis – SP</p>
        </li>
        <li>
          <p class="lead">16 – Américo Brasiliense – SP</p>
        </li>
        <li>
          <p class="lead">16 – Aramina – SP</p>
        </li>
        <li>
          <p class="lead">16 – Araraquara – SP</p>
        </li>
        <li>
          <p class="lead">16 – Barrinha – SP</p>
        </li>
        <li>
          <p class="lead">16 – Batatais – SP</p>
        </li>
        <li>
          <p class="lead">16 – Boa Esperança Do Sul – SP</p>
        </li>
        <li>
          <p class="lead">16 – Borborema – SP</p>
        </li>
        <li>
          <p class="lead">16 – Brodósqui – SP</p>
        </li>
        <li>
          <p class="lead">16 – Buritizal – SP</p>
        </li>
        <li>
          <p class="lead">16 – Cajuru – SP</p>
        </li>
        <li>
          <p class="lead">16 – Cândido Rodrigues – SP</p>
        </li>
        <li>
          <p class="lead">16 – Cássia Dos Coqueiros – SP</p>
        </li>
        <li>
          <p class="lead">16 – Cravinhos – SP</p>
        </li>
        <li>
          <p class="lead">16 – Cristais Paulista – SP</p>
        </li>
        <li>
          <p class="lead">16 – Dobrada – SP</p>
        </li>
        <li>
          <p class="lead">16 – Dourado – SP</p>
        </li>
        <li>
          <p class="lead">16 – Dumont – SP</p>
        </li>
        <li>
          <p class="lead">16 – Fernando Prestes – SP</p>
        </li>
        <li>
          <p class="lead">16 – Franca – SP</p>
        </li>
        <li>
          <p class="lead">16 – Gavião Peixoto – SP</p>
        </li>
        <li>
          <p class="lead">16 – Guará – SP</p>
        </li>
        <li>
          <p class="lead">16 – Guariba – SP</p>
        </li>
        <li>
          <p class="lead">16 – Guatapará – SP</p>
        </li>
        <li>
          <p class="lead">16 – Ibaté – SP</p>
        </li>
        <li>
          <p class="lead">16 – Ibitinga – SP</p>
        </li>
        <li>
          <p class="lead">16 – Igarapava – SP</p>
        </li>
        <li>
          <p class="lead">16 – Ipuã – SP</p>
        </li>
        <li>
          <p class="lead">16 – Itápolis – SP</p>
        </li>
        <li>
          <p class="lead">16 – Itirapuã – SP</p>
        </li>
        <li>
          <p class="lead">16 – Ituverava – SP</p>
        </li>
        <li>
          <p class="lead">16 – Jaboticabal – SP</p>
        </li>
        <li>
          <p class="lead">16 – Jardinópolis – SP</p>
        </li>
        <li>
          <p class="lead">16 – Jeriquara – SP</p>
        </li>
        <li>
          <p class="lead">16 – Luís Antônio – SP</p>
        </li>
        <li>
          <p class="lead">16 – Matão – SP</p>
        </li>
        <li>
          <p class="lead">16 – Miguelópolis – SP</p>
        </li>
        <li>
          <p class="lead">16 – Monte Alto – SP</p>
        </li>
        <li>
          <p class="lead">16 – Morro Agudo – SP</p>
        </li>
        <li>
          <p class="lead">16 – Motuca – SP</p>
        </li>
        <li>
          <p class="lead">16 – Nova Europa – SP</p>
        </li>
        <li>
          <p class="lead">16 – Nuporanga – SP</p>
        </li>
        <li>
          <p class="lead">16 – Orlândia – SP</p>
        </li>
        <li>
          <p class="lead">16 – Patrocínio Paulista – SP</p>
        </li>
        <li>
          <p class="lead">16 – Pedregulho – SP</p>
        </li>
        <li>
          <p class="lead">16 – Pitangueiras – SP</p>
        </li>
        <li>
          <p class="lead">16 – Pontal – SP</p>
        </li>
        <li>
          <p class="lead">16 – Pradópolis – SP</p>
        </li>
        <li>
          <p class="lead">16 – Restinga – SP</p>
        </li>
        <li>
          <p class="lead">16 – Ribeirão Bonito – SP</p>
        </li>
        <li>
          <p class="lead">16 – Ribeirão Corrente – SP</p>
        </li>
        <li>
          <p class="lead">16 – Ribeirão Preto – SP</p>
        </li>
        <li>
          <p class="lead">16 – Rifaina – SP</p>
        </li>
        <li>
          <p class="lead">16 – Rincão – SP</p>
        </li>
        <li>
          <p class="lead">16 – Sales Oliveira – SP</p>
        </li>
        <li>
          <p class="lead">16 – Santa Cruz Da Esperança – SP</p>
        </li>
        <li>
          <p class="lead">16 – Santa Ernestina – SP</p>
        </li>
        <li>
          <p class="lead">16 – Santa Lúcia – SP</p>
        </li>
        <li>
          <p class="lead">16 – Santa Rosa De Viterbo – SP</p>
        </li>
        <li>
          <p class="lead">16 – Santo Antônio Da Alegria – SP</p>
        </li>
        <li>
          <p class="lead">16 – São Carlos – SP</p>
        </li>
        <li>
          <p class="lead">16 – São Joaquim Da Barra – SP</p>
        </li>
        <li>
          <p class="lead">16 – São José Da Bela Vista – SP</p>
        </li>
        <li>
          <p class="lead">16 – São Simão – SP</p>
        </li>
        <li>
          <p class="lead">16 – Serra Azul – SP</p>
        </li>
        <li>
          <p class="lead">16 – Serrana – SP</p>
        </li>
        <li>
          <p class="lead">16 – Sertãozinho – SP</p>
        </li>
        <li>
          <p class="lead">16 – Tabatinga – SP</p>
        </li>
        <li>
          <p class="lead">16 – Taiaçu – SP</p>
        </li>
        <li>
          <p class="lead">16 – Taiúva – SP</p>
        </li>
        <li>
          <p class="lead">16 – Taquaral – SP</p>
        </li>
        <li>
          <p class="lead">16 – Taquaritinga – SP</p>
        </li>
        <li>
          <p class="lead">16 – Trabiju – SP</p>
        </li>
        <li>
          <p class="lead">16 – Vista Alegre Do Alto – SP</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}