{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 17 – São José do Rio Preto
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">17 – Adolfo </p>
        </li>
        <li>
          <p class="lead">17 – Altair </p>
        </li>
        <li>
          <p class="lead">17 – Álvares Florence </p>
        </li>
        <li>
          <p class="lead">17 – Américo De Campos </p>
        </li>
        <li>
          <p class="lead">17 – Aparecida D’oeste </p>
        </li>
        <li>
          <p class="lead">17 – Ariranha </p>
        </li>
        <li>
          <p class="lead">17 – Aspásia </p>
        </li>
        <li>
          <p class="lead">17 – Auriflama </p>
        </li>
        <li>
          <p class="lead">17 – Bady Bassitt </p>
        </li>
        <li>
          <p class="lead">17 – Bálsamo </p>
        </li>
        <li>
          <p class="lead">17 – Barretos </p>
        </li>
        <li>
          <p class="lead">17 – Bebedouro </p>
        </li>
        <li>
          <p class="lead">17 – Cajobi </p>
        </li>
        <li>
          <p class="lead">17 – Cardoso </p>
        </li>
        <li>
          <p class="lead">17 – Catanduva </p>
        </li>
        <li>
          <p class="lead">17 – Catiguá </p>
        </li>
        <li>
          <p class="lead">17 – Cedral </p>
        </li>
        <li>
          <p class="lead">17 – Colina </p>
        </li>
        <li>
          <p class="lead">17 – Colômbia </p>
        </li>
        <li>
          <p class="lead">17 – Cosmorama </p>
        </li>
        <li>
          <p class="lead">17 – Dirce Reis </p>
        </li>
        <li>
          <p class="lead">17 – Dolcinópolis </p>
        </li>
        <li>
          <p class="lead">17 – Elisiário </p>
        </li>
        <li>
          <p class="lead">17 – Embaúba </p>
        </li>
        <li>
          <p class="lead">17 – Estrela D’oeste </p>
        </li>
        <li>
          <p class="lead">17 – Fernandópolis </p>
        </li>
        <li>
          <p class="lead">17 – Floreal </p>
        </li>
        <li>
          <p class="lead">17 – Gastão Vidigal </p>
        </li>
        <li>
          <p class="lead">17 – General Salgado </p>
        </li>
        <li>
          <p class="lead">17 – Guaíra </p>
        </li>
        <li>
          <p class="lead">17 – Guapiaçu </p>
        </li>
        <li>
          <p class="lead">17 – Guaraci </p>
        </li>
        <li>
          <p class="lead">17 – Guarani D’oeste </p>
        </li>
        <li>
          <p class="lead">17 – Guzolândia </p>
        </li>
        <li>
          <p class="lead">17 – Ibirá </p>
        </li>
        <li>
          <p class="lead">17 – Icém </p>
        </li>
        <li>
          <p class="lead">17 – Indiaporã </p>
        </li>
        <li>
          <p class="lead">17 – Ipiguá </p>
        </li>
        <li>
          <p class="lead">17 – Irapuã </p>
        </li>
        <li>
          <p class="lead">17 – Itajobi </p>
        </li>
        <li>
          <p class="lead">17 – Jaborandi </p>
        </li>
        <li>
          <p class="lead">17 – Jaci </p>
        </li>
        <li>
          <p class="lead">17 – Jales </p>
        </li>
        <li>
          <p class="lead">17 – José Bonifácio </p>
        </li>
        <li>
          <p class="lead">17 – Macaubal </p>
        </li>
        <li>
          <p class="lead">17 – Macedônia </p>
        </li>
        <li>
          <p class="lead">17 – Magda </p>
        </li>
        <li>
          <p class="lead">17 – Marapoama </p>
        </li>
        <li>
          <p class="lead">17 – Marinópolis </p>
        </li>
        <li>
          <p class="lead">17 – Mendonça </p>
        </li>
        <li>
          <p class="lead">17 – Meridiano </p>
        </li>
        <li>
          <p class="lead">17 – Mesópolis </p>
        </li>
        <li>
          <p class="lead">17 – Mira Estrela </p>
        </li>
        <li>
          <p class="lead">17 – Mirassol </p>
        </li>
        <li>
          <p class="lead">17 – Mirassolândia </p>
        </li>
        <li>
          <p class="lead">17 – Monções </p>
        </li>
        <li>
          <p class="lead">17 – Monte Aprazível </p>
        </li>
        <li>
          <p class="lead">17 – Monte Azul Paulista </p>
        </li>
        <li>
          <p class="lead">17 – Neves Paulista </p>
        </li>
        <li>
          <p class="lead">17 – Nhandeara </p>
        </li>
        <li>
          <p class="lead">17 – Nipoã </p>
        </li>
        <li>
          <p class="lead">17 – Nova Aliança </p>
        </li>
        <li>
          <p class="lead">17 – Nova Canaã Paulista </p>
        </li>
        <li>
          <p class="lead">17 – Nova Castilho </p>
        </li>
        <li>
          <p class="lead">17 – Nova Granada </p>
        </li>
        <li>
          <p class="lead">17 – Nova Luzitânia </p>
        </li>
        <li>
          <p class="lead">17 – Novais </p>
        </li>
        <li>
          <p class="lead">17 – Novo Horizonte </p>
        </li>
        <li>
          <p class="lead">17 – Olímpia </p>
        </li>
        <li>
          <p class="lead">17 – Onda Verde </p>
        </li>
        <li>
          <p class="lead">17 – Orindiúva </p>
        </li>
        <li>
          <p class="lead">17 – Ouroeste </p>
        </li>
        <li>
          <p class="lead">17 – Palestina </p>
        </li>
        <li>
          <p class="lead">17 – Palmares Paulista </p>
        </li>
        <li>
          <p class="lead">17 – Palmeira D’oeste </p>
        </li>
        <li>
          <p class="lead">17 – Paraíso </p>
        </li>
        <li>
          <p class="lead">17 – Paranapuã </p>
        </li>
        <li>
          <p class="lead">17 – Parisi </p>
        </li>
        <li>
          <p class="lead">17 – Paulo De Faria </p>
        </li>
        <li>
          <p class="lead">17 – Pedranópolis </p>
        </li>
        <li>
          <p class="lead">17 – Pindorama </p>
        </li>
        <li>
          <p class="lead">17 – Pirangi </p>
        </li>
        <li>
          <p class="lead">17 – Poloni </p>
        </li>
        <li>
          <p class="lead">17 – Pontalinda </p>
        </li>
        <li>
          <p class="lead">17 – Pontes Gestal </p>
        </li>
        <li>
          <p class="lead">17 – Populina </p>
        </li>
        <li>
          <p class="lead">17 – Potirendaba </p>
        </li>
        <li>
          <p class="lead">17 – Riolândia </p>
        </li>
        <li>
          <p class="lead">17 – Rubinéia </p>
        </li>
        <li>
          <p class="lead">17 – Sales </p>
        </li>
        <li>
          <p class="lead">17 – Santa Adélia </p>
        </li>
        <li>
          <p class="lead">17 – Santa Albertina </p>
        </li>
        <li>
          <p class="lead">17 – Santa Clara D’oeste </p>
        </li>
        <li>
          <p class="lead">17 – Santa Fé Do Sul </p>
        </li>
        <li>
          <p class="lead">17 – Santa Rita D’oeste </p>
        </li>
        <li>
          <p class="lead">17 – Santa Salete </p>
        </li>
        <li>
          <p class="lead">17 – Santana Da Ponte Pensa </p>
        </li>
        <li>
          <p class="lead">17 – São Francisco </p>
        </li>
        <li>
          <p class="lead">17 – São João Das Duas Pontes </p>
        </li>
        <li>
          <p class="lead">17 – São João De Iracema </p>
        </li>
        <li>
          <p class="lead">17 – São José Do Rio Preto </p>
        </li>
        <li>
          <p class="lead">17 – Sebastianópolis Do Sul </p>
        </li>
        <li>
          <p class="lead">17 – Severínia </p>
        </li>
        <li>
          <p class="lead">17 – Tabapuã </p>
        </li>
        <li>
          <p class="lead">17 – Tanabi </p>
        </li>
        <li>
          <p class="lead">17 – Terra Roxa </p>
        </li>
        <li>
          <p class="lead">17 – Três Fronteiras </p>
        </li>
        <li>
          <p class="lead">17 – Turmalina </p>
        </li>
        <li>
          <p class="lead">17 – Ubarana </p>
        </li>
        <li>
          <p class="lead">17 – Uchoa </p>
        </li>
        <li>
          <p class="lead">17 – União Paulista </p>
        </li>
        <li>
          <p class="lead">17 – Urânia </p>
        </li>
        <li>
          <p class="lead">17 – Urupês </p>
        </li>
        <li>
          <p class="lead">17 – Valentim Gentil </p>
        </li>
        <li>
          <p class="lead">17 – Viradouro </p>
        </li>
        <li>
          <p class="lead">17 – Vitória Brasil </p>
        </li>
        <li>
          <p class="lead">17 – Votuporanga </p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}