{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 18 – Presidente Prudente
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">18 – Adamantina – SP</p>
        </li>
        <li>
          <p class="lead">18 – Alfredo Marcondes – SP</p>
        </li>
        <li>
          <p class="lead">18 – Alto Alegre – SP</p>
        </li>
        <li>
          <p class="lead">18 – Álvares Machado – SP</p>
        </li>
        <li>
          <p class="lead">18 – Andradina – SP</p>
        </li>
        <li>
          <p class="lead">18 – Anhumas – SP</p>
        </li>
        <li>
          <p class="lead">18 – Araçatuba – SP</p>
        </li>
        <li>
          <p class="lead">18 – Assis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Avanhandava – SP</p>
        </li>
        <li>
          <p class="lead">18 – Barbosa – SP</p>
        </li>
        <li>
          <p class="lead">18 – Bento De Abreu – SP</p>
        </li>
        <li>
          <p class="lead">18 – Bilac – SP</p>
        </li>
        <li>
          <p class="lead">18 – Birigui – SP</p>
        </li>
        <li>
          <p class="lead">18 – Borá – SP</p>
        </li>
        <li>
          <p class="lead">18 – Braúna – SP</p>
        </li>
        <li>
          <p class="lead">18 – Brejo Alegre – SP</p>
        </li>
        <li>
          <p class="lead">18 – Buritama – SP</p>
        </li>
        <li>
          <p class="lead">18 – Caiabu – SP</p>
        </li>
        <li>
          <p class="lead">18 – Caiuá – SP</p>
        </li>
        <li>
          <p class="lead">18 – Cândido Mota – SP</p>
        </li>
        <li>
          <p class="lead">18 – Castilho – SP</p>
        </li>
        <li>
          <p class="lead">18 – Clementina – SP</p>
        </li>
        <li>
          <p class="lead">18 – Coroados – SP</p>
        </li>
        <li>
          <p class="lead">18 – Cruzália – SP</p>
        </li>
        <li>
          <p class="lead">18 – Dracena – SP</p>
        </li>
        <li>
          <p class="lead">18 – Echaporã – SP</p>
        </li>
        <li>
          <p class="lead">18 – Emilianópolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Estrela Do Norte – SP</p>
        </li>
        <li>
          <p class="lead">18 – Euclides Da Cunha Paulista – SP</p>
        </li>
        <li>
          <p class="lead">18 – Flora Rica – SP</p>
        </li>
        <li>
          <p class="lead">18 – Flórida Paulista – SP</p>
        </li>
        <li>
          <p class="lead">18 – Florínia – SP</p>
        </li>
        <li>
          <p class="lead">18 – Gabriel Monteiro – SP</p>
        </li>
        <li>
          <p class="lead">18 – Glicério – SP</p>
        </li>
        <li>
          <p class="lead">18 – Guaraçaí – SP</p>
        </li>
        <li>
          <p class="lead">18 – Guararapes – SP</p>
        </li>
        <li>
          <p class="lead">18 – Iepê – SP</p>
        </li>
        <li>
          <p class="lead">18 – Ilha Solteira – SP</p>
        </li>
        <li>
          <p class="lead">18 – Indiana – SP</p>
        </li>
        <li>
          <p class="lead">18 – Inúbia Paulista – SP</p>
        </li>
        <li>
          <p class="lead">18 – Irapuru – SP</p>
        </li>
        <li>
          <p class="lead">18 – Itapura – SP</p>
        </li>
        <li>
          <p class="lead">18 – João Ramalho – SP</p>
        </li>
        <li>
          <p class="lead">18 – Junqueirópolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Lavínia – SP</p>
        </li>
        <li>
          <p class="lead">18 – Lourdes – SP</p>
        </li>
        <li>
          <p class="lead">18 – Lucélia – SP</p>
        </li>
        <li>
          <p class="lead">18 – Luiziânia – SP</p>
        </li>
        <li>
          <p class="lead">18 – Lutécia – SP</p>
        </li>
        <li>
          <p class="lead">18 – Marabá Paulista – SP</p>
        </li>
        <li>
          <p class="lead">18 – Maracaí – SP</p>
        </li>
        <li>
          <p class="lead">18 – Mariápolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Martinópolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Mirandópolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Mirante Do Paranapanema – SP</p>
        </li>
        <li>
          <p class="lead">18 – Monte Castelo – SP</p>
        </li>
        <li>
          <p class="lead">18 – Murutinga Do Sul – SP</p>
        </li>
        <li>
          <p class="lead">18 – Nantes – SP</p>
        </li>
        <li>
          <p class="lead">18 – Narandiba – SP</p>
        </li>
        <li>
          <p class="lead">18 – Nova Guataporanga – SP</p>
        </li>
        <li>
          <p class="lead">18 – Nova Independência – SP</p>
        </li>
        <li>
          <p class="lead">18 – Osvaldo Cruz – SP</p>
        </li>
        <li>
          <p class="lead">18 – Ouro Verde – SP</p>
        </li>
        <li>
          <p class="lead">18 – Pacaembu – SP</p>
        </li>
        <li>
          <p class="lead">18 – Palmital – SP</p>
        </li>
        <li>
          <p class="lead">18 – Panorama – SP</p>
        </li>
        <li>
          <p class="lead">18 – Paraguaçu Paulista – SP</p>
        </li>
        <li>
          <p class="lead">18 – Parapuã – SP</p>
        </li>
        <li>
          <p class="lead">18 – Paulicéia – SP</p>
        </li>
        <li>
          <p class="lead">18 – Pedrinhas Paulista – SP</p>
        </li>
        <li>
          <p class="lead">18 – Penápolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Pereira Barreto – SP</p>
        </li>
        <li>
          <p class="lead">18 – Piacatu – SP</p>
        </li>
        <li>
          <p class="lead">18 – Piquerobi – SP</p>
        </li>
        <li>
          <p class="lead">18 – Pirapozinho – SP</p>
        </li>
        <li>
          <p class="lead">18 – Planalto – SP</p>
        </li>
        <li>
          <p class="lead">18 – Platina – SP</p>
        </li>
        <li>
          <p class="lead">18 – Pracinha – SP</p>
        </li>
        <li>
          <p class="lead">18 – Presidente Bernardes – SP</p>
        </li>
        <li>
          <p class="lead">18 – Presidente Epitácio – SP</p>
        </li>
        <li>
          <p class="lead">18 – Presidente Prudente – SP</p>
        </li>
        <li>
          <p class="lead">18 – Presidente Venceslau – SP</p>
        </li>
        <li>
          <p class="lead">18 – Quatá – SP</p>
        </li>
        <li>
          <p class="lead">18 – Rancharia – SP</p>
        </li>
        <li>
          <p class="lead">18 – Regente Feijó – SP</p>
        </li>
        <li>
          <p class="lead">18 – Ribeirão Dos Índios – SP</p>
        </li>
        <li>
          <p class="lead">18 – Rinópolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Rosana – SP</p>
        </li>
        <li>
          <p class="lead">18 – Rubiácea – SP</p>
        </li>
        <li>
          <p class="lead">18 – Sagres – SP</p>
        </li>
        <li>
          <p class="lead">18 – Salmourão – SP</p>
        </li>
        <li>
          <p class="lead">18 – Sandovalina – SP</p>
        </li>
        <li>
          <p class="lead">18 – Santa Mercedes – SP</p>
        </li>
        <li>
          <p class="lead">18 – Santo Anastácio – SP</p>
        </li>
        <li>
          <p class="lead">18 – Santo Antônio Do Aracangua – SP</p>
        </li>
        <li>
          <p class="lead">18 – Santo Expedito – SP</p>
        </li>
        <li>
          <p class="lead">18 – Santópolis Do Aguapeí – SP</p>
        </li>
        <li>
          <p class="lead">18 – São João Do Pau D’alho – SP</p>
        </li>
        <li>
          <p class="lead">18 – Sud Mennucci – SP</p>
        </li>
        <li>
          <p class="lead">18 – Suzanápolis – SP</p>
        </li>
        <li>
          <p class="lead">18 – Taciba – SP</p>
        </li>
        <li>
          <p class="lead">18 – Tarabai – SP</p>
        </li>
        <li>
          <p class="lead">18 – Tarumã – SP</p>
        </li>
        <li>
          <p class="lead">18 – Teodoro Sampaio – SP</p>
        </li>
        <li>
          <p class="lead">18 – Tupi Paulista – SP</p>
        </li>
        <li>
          <p class="lead">18 – Turiúba – SP</p>
        </li>
        <li>
          <p class="lead">18 – Valparaíso – SP</p>
        </li>
        <li>
          <p class="lead">18 – Zacarias – SP</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}