{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 19 – Campinas
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">19 – Aguaí – SP</p>
        </li>
        <li>
          <p class="lead">19 – Águas Da Prata – SP</p>
        </li>
        <li>
          <p class="lead">19 – Águas De Lindoia – SP</p>
        </li>
        <li>
          <p class="lead">19 – Águas De São Pedro – SP</p>
        </li>
        <li>
          <p class="lead">19 – Americana – SP</p>
        </li>
        <li>
          <p class="lead">19 – Amparo – SP</p>
        </li>
        <li>
          <p class="lead">19 – Analândia – SP</p>
        </li>
        <li>
          <p class="lead">19 – Araras – SP</p>
        </li>
        <li>
          <p class="lead">19 – Artur Nogueira – SP</p>
        </li>
        <li>
          <p class="lead">19 – Caconde – SP</p>
        </li>
        <li>
          <p class="lead">19 – Campinas – SP</p>
        </li>
        <li>
          <p class="lead">19 – Capivari – SP</p>
        </li>
        <li>
          <p class="lead">19 – Casa Branca – SP</p>
        </li>
        <li>
          <p class="lead">19 – Charqueada – SP</p>
        </li>
        <li>
          <p class="lead">19 – Conchal – SP</p>
        </li>
        <li>
          <p class="lead">19 – Cordeirópolis – SP</p>
        </li>
        <li>
          <p class="lead">19 – Corumbataí – SP</p>
        </li>
        <li>
          <p class="lead">19 – Cosmópolis – SP</p>
        </li>
        <li>
          <p class="lead">19 – Descalvado – SP</p>
        </li>
        <li>
          <p class="lead">19 – Divinolândia – SP</p>
        </li>
        <li>
          <p class="lead">19 – Elias Fausto – SP</p>
        </li>
        <li>
          <p class="lead">19 – Engenheiro Coelho – SP</p>
        </li>
        <li>
          <p class="lead">19 – Espírito Santo Do Pinhal – SP</p>
        </li>
        <li>
          <p class="lead">19 – Estiva Gerbi – SP</p>
        </li>
        <li>
          <p class="lead">19 – Holambra – SP</p>
        </li>
        <li>
          <p class="lead">19 – Hortolândia – SP</p>
        </li>
        <li>
          <p class="lead">19 – Indaiatuba – SP</p>
        </li>
        <li>
          <p class="lead">19 – Ipeúna – SP</p>
        </li>
        <li>
          <p class="lead">19 – Iracemápolis – SP</p>
        </li>
        <li>
          <p class="lead">19 – Itapira – SP</p>
        </li>
        <li>
          <p class="lead">19 – Itirapina – SP</p>
        </li>
        <li>
          <p class="lead">19 – Itobi – SP</p>
        </li>
        <li>
          <p class="lead">19 – Jaguariúna – SP</p>
        </li>
        <li>
          <p class="lead">19 – Leme – SP</p>
        </li>
        <li>
          <p class="lead">19 – Limeira – SP</p>
        </li>
        <li>
          <p class="lead">19 – Lindoia – SP</p>
        </li>
        <li>
          <p class="lead">19 – Louveira – SP</p>
        </li>
        <li>
          <p class="lead">19 – Mococa – SP</p>
        </li>
        <li>
          <p class="lead">19 – Mogi-Guaçu – SP</p>
        </li>
        <li>
          <p class="lead">19 – Mogi-Mirim – SP</p>
        </li>
        <li>
          <p class="lead">19 – Mombuca – SP</p>
        </li>
        <li>
          <p class="lead">19 – Monte Alegre Do Sul – SP</p>
        </li>
        <li>
          <p class="lead">19 – Monte Mor – SP</p>
        </li>
        <li>
          <p class="lead">19 – Nova Odessa – SP</p>
        </li>
        <li>
          <p class="lead">19 – Paulínia – SP</p>
        </li>
        <li>
          <p class="lead">19 – Pedreira – SP</p>
        </li>
        <li>
          <p class="lead">19 – Piracicaba – SP</p>
        </li>
        <li>
          <p class="lead">19 – Pirassununga – SP</p>
        </li>
        <li>
          <p class="lead">19 – Porto Ferreira – SP</p>
        </li>
        <li>
          <p class="lead">19 – Rafard – SP</p>
        </li>
        <li>
          <p class="lead">19 – Rio Claro – SP</p>
        </li>
        <li>
          <p class="lead">19 – Rio Das Pedras – SP</p>
        </li>
        <li>
          <p class="lead">19 – Saltinho – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santa Bárbara D’oeste – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santa Cruz Da Conceição – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santa Cruz Das Palmeiras – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santa Gertrudes – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santa Maria Da Serra – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santa Rita Do Passa Quatro – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santo Antônio De Posse – SP</p>
        </li>
        <li>
          <p class="lead">19 – Santo Antônio Do Jardim – SP</p>
        </li>
        <li>
          <p class="lead">19 – São João Da Boa Vista – SP</p>
        </li>
        <li>
          <p class="lead">19 – São José Do Rio Pardo – SP</p>
        </li>
        <li>
          <p class="lead">19 – São Pedro – SP</p>
        </li>
        <li>
          <p class="lead">19 – São Sebastião Da Grama – SP</p>
        </li>
        <li>
          <p class="lead">19 – Serra Negra – SP</p>
        </li>
        <li>
          <p class="lead">19 – Socorro – SP</p>
        </li>
        <li>
          <p class="lead">19 – Sumaré – SP</p>
        </li>
        <li>
          <p class="lead">19 – Tambaú – SP</p>
        </li>
        <li>
          <p class="lead">19 – Tapiratiba – SP</p>
        </li>
        <li>
          <p class="lead">19 – Valinhos – SP</p>
        </li>
        <li>
          <p class="lead">19 – Vargem Grande Do Sul – SP</p>
        </li>
        <li>
          <p class="lead">19 – Vinhedo – SP</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}