<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 22 – Campos dos Goytacazes
      </h2>
      <br>
      <br>
      <ul>
        <li><p class="lead">22 – Aperibé – RJ</p></li>
        <li><p class="lead">22 – Araruama – RJ</p></li>
        <li><p class="lead">22 – Armação De Búzios – RJ</p></li>
        <li><p class="lead">22 – Arraial Do Cabo – RJ</p></li>
        <li><p class="lead">22 – Bom Jardim – RJ</p></li>
        <li><p class="lead">22 – Bom Jesus Do Itabapoana – RJ</p></li>
        <li><p class="lead">22 – Cabo Frio – RJ</p></li>
        <li><p class="lead">22 – Cambuci – RJ</p></li>
        <li><p class="lead">22 – Campos Dos Goytacazes – RJ</p></li>
        <li><p class="lead">22 – Cantagalo – RJ</p></li>
        <li><p class="lead">22 – Carapebus – RJ</p></li>
        <li><p class="lead">22 – Cardoso Moreira – RJ</p></li>
        <li><p class="lead">22 – Carmo – RJ</p></li>
        <li><p class="lead">22 – Casimiro De Abreu – RJ</p></li>
        <li><p class="lead">22 – Conceição De Macabu – RJ</p></li>
        <li><p class="lead">22 – Cordeiro – RJ</p></li>
        <li><p class="lead">22 – Duas Barras – RJ</p></li>
        <li><p class="lead">22 – Iguaba Grande – RJ</p></li>
        <li><p class="lead">22 – Italva – RJ</p></li>
        <li><p class="lead">22 – Itaocara – RJ</p></li>
        <li><p class="lead">22 – Itaperuna – RJ</p></li>
        <li><p class="lead">22 – Laje Do Muriaé – RJ</p></li>
        <li><p class="lead">22 – Macaé – RJ</p></li>
        <li><p class="lead">22 – Macuco – RJ</p></li>
        <li><p class="lead">22 – Miracema – RJ</p></li>
        <li><p class="lead">22 – Natividade – RJ</p></li>
        <li><p class="lead">22 – Nova Friburgo – RJ</p></li>
        <li><p class="lead">22 – Porciúncula – RJ</p></li>
        <li><p class="lead">22 – Quissamã – RJ</p></li>
        <li><p class="lead">22 – Rio Das Ostras – RJ</p></li>
        <li><p class="lead">22 – Santa Maria Madalena – RJ</p></li>
        <li><p class="lead">22 – Santo Antônio De Pádua – RJ</p></li>
        <li><p class="lead">22 – São Fidélis – RJ</p></li>
        <li><p class="lead">22 – São Francisco De Itabapoana – RJ</p></li>
        <li><p class="lead">22 – São João Da Barra – RJ</p></li>
        <li><p class="lead">22 – São José De Ubá – RJ</p></li>
        <li><p class="lead">22 – São Pedro Da Aldeia – RJ</p></li>
        <li><p class="lead">22 – São Sebastião Do Alto – RJ</p></li>
        <li><p class="lead">22 – Saquarema – RJ</p></li>
        <li><p class="lead">22 – Silva Jardim – RJ</p></li>
        <li><p class="lead">22 – Sumidouro – RJ</p></li>
        <li><p class="lead">22 – Trajano De Morais – RJ</p></li>
        <li><p class="lead">22 – Varre-Sai – RJ</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>