{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 24 – Volta Redonda
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">24 – Angra Dos Reis – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Areal – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Barra Do Piraí – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Barra Mansa – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Comendador Levy Gasparian – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Engenheiro Paulo De Frontin – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Itatiaia – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Mendes – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Miguel Pereira – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Paraíba Do Sul – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Parati – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Paty Do Alferes – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Petrópolis – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Pinheiral – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Piraí – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Porto Real – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Quatis – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Resende – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Rio Claro – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Rio Das Flores – RJ</p>
        </li>
        <li>
          <p class="lead">24 – São José Do Vale Do Rio Preto – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Sapucaia – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Três Rios – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Valença – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Vassouras – RJ</p>
        </li>
        <li>
          <p class="lead">24 – Volta Redonda – RJ</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}