<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 63 – Palmas
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">63 – Abreulândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Aguiarnópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Aliança Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Almas – TO</p>
        </li>
        <li>
          <p class="lead">63 – Alvorada – TO</p>
        </li>
        <li>
          <p class="lead">63 – Ananás – TO</p>
        </li>
        <li>
          <p class="lead">63 – Angico – TO</p>
        </li>
        <li>
          <p class="lead">63 – Aparecida Do Rio Negro – TO</p>
        </li>
        <li>
          <p class="lead">63 – Aragominas – TO</p>
        </li>
        <li>
          <p class="lead">63 – Araguacema – TO</p>
        </li>
        <li>
          <p class="lead">63 – Araguaçu – TO</p>
        </li>
        <li>
          <p class="lead">63 – Araguaína – TO</p>
        </li>
        <li>
          <p class="lead">63 – Araguanã – TO</p>
        </li>
        <li>
          <p class="lead">63 – Araguatins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Arapoema – TO</p>
        </li>
        <li>
          <p class="lead">63 – Arraias – TO</p>
        </li>
        <li>
          <p class="lead">63 – Augustinópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Aurora Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Axixá Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Babaçulândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Bandeirantes Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Barra Do Ouro – TO</p>
        </li>
        <li>
          <p class="lead">63 – Barrolândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Bernardo Sayão – TO</p>
        </li>
        <li>
          <p class="lead">63 – Bom Jesus Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Brasilândia Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Brejinho De Nazaré – TO</p>
        </li>
        <li>
          <p class="lead">63 – Buriti Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Cachoeirinha – TO</p>
        </li>
        <li>
          <p class="lead">63 – Campos Lindos – TO</p>
        </li>
        <li>
          <p class="lead">63 – Cariri Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Carmolândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Carrasco Bonito – TO</p>
        </li>
        <li>
          <p class="lead">63 – Caseara – TO</p>
        </li>
        <li>
          <p class="lead">63 – Centenário – TO</p>
        </li>
        <li>
          <p class="lead">63 – Chapada Da Natividade – TO</p>
        </li>
        <li>
          <p class="lead">63 – Chapada De Areia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Colinas Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Colméia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Combinado – TO</p>
        </li>
        <li>
          <p class="lead">63 – Conceição Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Couto De Magalhães – TO</p>
        </li>
        <li>
          <p class="lead">63 – Cristalândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Crixás Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Darcinópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Dianópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Divinópolis Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Dois Irmãos Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Dueré – TO</p>
        </li>
        <li>
          <p class="lead">63 – Esperantina – TO</p>
        </li>
        <li>
          <p class="lead">63 – Fátima – TO</p>
        </li>
        <li>
          <p class="lead">63 – Figueirópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Filadélfia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Formoso Do Araguaia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Fortaleza Do Tabocão – TO</p>
        </li>
        <li>
          <p class="lead">63 – Goianorte – TO</p>
        </li>
        <li>
          <p class="lead">63 – Goiatins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Guaraí – TO</p>
        </li>
        <li>
          <p class="lead">63 – Gurupi – TO</p>
        </li>
        <li>
          <p class="lead">63 – Ipueiras – TO</p>
        </li>
        <li>
          <p class="lead">63 – Itacajá – TO</p>
        </li>
        <li>
          <p class="lead">63 – Itaguatins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Itapiratins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Itaporã Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Jaú Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Juarina – TO</p>
        </li>
        <li>
          <p class="lead">63 – Lagoa Da Confusão – TO</p>
        </li>
        <li>
          <p class="lead">63 – Lagoa Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Lajeado – TO</p>
        </li>
        <li>
          <p class="lead">63 – Lavandeira – TO</p>
        </li>
        <li>
          <p class="lead">63 – Lizarda – TO</p>
        </li>
        <li>
          <p class="lead">63 – Luzinópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Marianópolis Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Mateiros – TO</p>
        </li>
        <li>
          <p class="lead">63 – Maurilândia Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Miracema Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Miranorte – TO</p>
        </li>
        <li>
          <p class="lead">63 – Monte Do Carmo – TO</p>
        </li>
        <li>
          <p class="lead">63 – Monte Santo Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Muricilândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Natividade – TO</p>
        </li>
        <li>
          <p class="lead">63 – Nazaré – TO</p>
        </li>
        <li>
          <p class="lead">63 – Nova Olinda – TO</p>
        </li>
        <li>
          <p class="lead">63 – Nova Rosalândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Novo Acordo – TO</p>
        </li>
        <li>
          <p class="lead">63 – Novo Alegre – TO</p>
        </li>
        <li>
          <p class="lead">63 – Novo Jardim – TO</p>
        </li>
        <li>
          <p class="lead">63 – Oliveira De Fátima – TO</p>
        </li>
        <li>
          <p class="lead">63 – Palmas – TO</p>
        </li>
        <li>
          <p class="lead">63 – Palmeirante – TO</p>
        </li>
        <li>
          <p class="lead">63 – Palmeiras Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Palmeirópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Paraíso Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Paranã – TO</p>
        </li>
        <li>
          <p class="lead">63 – Pau D’arco – TO</p>
        </li>
        <li>
          <p class="lead">63 – Pedro Afonso – TO</p>
        </li>
        <li>
          <p class="lead">63 – Peixe – TO</p>
        </li>
        <li>
          <p class="lead">63 – Pequizeiro – TO</p>
        </li>
        <li>
          <p class="lead">63 – Pindorama Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Piraquê – TO</p>
        </li>
        <li>
          <p class="lead">63 – Pium – TO</p>
        </li>
        <li>
          <p class="lead">63 – Ponte Alta Do Bom Jesus – TO</p>
        </li>
        <li>
          <p class="lead">63 – Ponte Alta Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Porto Alegre Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Porto Nacional – TO</p>
        </li>
        <li>
          <p class="lead">63 – Praia Norte – TO</p>
        </li>
        <li>
          <p class="lead">63 – Presidente Kennedy – TO</p>
        </li>
        <li>
          <p class="lead">63 – Pugmil – TO</p>
        </li>
        <li>
          <p class="lead">63 – Recursolândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Riachinho – TO</p>
        </li>
        <li>
          <p class="lead">63 – Rio Da Conceição – TO</p>
        </li>
        <li>
          <p class="lead">63 – Rio Dos Bois – TO</p>
        </li>
        <li>
          <p class="lead">63 – Rio Sono – TO</p>
        </li>
        <li>
          <p class="lead">63 – Sampaio – TO</p>
        </li>
        <li>
          <p class="lead">63 – Sandolândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Santa Fé Do Araguaia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Santa Maria Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Santa Rita Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Santa Rosa Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Santa Tereza Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Santa Terezinha Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – São Bento Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – São Félix Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – São Miguel Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – São Salvador Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – São Sebastião Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – São Valério Da Natividade – TO</p>
        </li>
        <li>
          <p class="lead">63 – Silvanópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Sítio Novo Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Sucupira – TO</p>
        </li>
        <li>
          <p class="lead">63 – Taguatinga – TO</p>
        </li>
        <li>
          <p class="lead">63 – Taipas Do Tocantins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Talismã – TO</p>
        </li>
        <li>
          <p class="lead">63 – Tocantínia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Tocantinópolis – TO</p>
        </li>
        <li>
          <p class="lead">63 – Tupirama – TO</p>
        </li>
        <li>
          <p class="lead">63 – Tupiratins – TO</p>
        </li>
        <li>
          <p class="lead">63 – Wanderlândia – TO</p>
        </li>
        <li>
          <p class="lead">63 – Xambioá – TO</p>
        </li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>