{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 31 – Belo Horizonte
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">31 – Abre Campo – MG</p>
        </li>
        <li>
          <p class="lead">31 – Acaiaca – MG</p>
        </li>
        <li>
          <p class="lead">31 – Alvinópolis – MG</p>
        </li>
        <li>
          <p class="lead">31 – Alvorada De Minas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Amparo Do Serra – MG</p>
        </li>
        <li>
          <p class="lead">31 – Antônio Dias – MG</p>
        </li>
        <li>
          <p class="lead">31 – Araçaí – MG</p>
        </li>
        <li>
          <p class="lead">31 – Araponga – MG</p>
        </li>
        <li>
          <p class="lead">31 – Baldim – MG</p>
        </li>
        <li>
          <p class="lead">31 – Barão De Cocais – MG</p>
        </li>
        <li>
          <p class="lead">31 – Barra Longa – MG</p>
        </li>
        <li>
          <p class="lead">31 – Bela Vista De Minas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Belo Horizonte – MG</p>
        </li>
        <li>
          <p class="lead">31 – Belo Oriente – MG</p>
        </li>
        <li>
          <p class="lead">31 – Belo Vale – MG</p>
        </li>
        <li>
          <p class="lead">31 – Betim – MG</p>
        </li>
        <li>
          <p class="lead">31 – Bom Jesus Do Amparo – MG</p>
        </li>
        <li>
          <p class="lead">31 – Bonfim – MG</p>
        </li>
        <li>
          <p class="lead">31 – Brumadinho – MG</p>
        </li>
        <li>
          <p class="lead">31 – Cachoeira Da Prata – MG</p>
        </li>
        <li>
          <p class="lead">31 – Caetanópolis – MG</p>
        </li>
        <li>
          <p class="lead">31 – Caeté – MG</p>
        </li>
        <li>
          <p class="lead">31 – Cajuri – MG</p>
        </li>
        <li>
          <p class="lead">31 – Canaã – MG</p>
        </li>
        <li>
          <p class="lead">31 – Capela Nova – MG</p>
        </li>
        <li>
          <p class="lead">31 – Capim Branco – MG</p>
        </li>
        <li>
          <p class="lead">31 – Caputira – MG</p>
        </li>
        <li>
          <p class="lead">31 – Caranaíba – MG</p>
        </li>
        <li>
          <p class="lead">31 – Carmésia – MG</p>
        </li>
        <li>
          <p class="lead">31 – Casa Grande – MG</p>
        </li>
        <li>
          <p class="lead">31 – Catas Altas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Catas Altas Da Noruega – MG</p>
        </li>
        <li>
          <p class="lead">31 – Conceição Do Mato Dentro – MG</p>
        </li>
        <li>
          <p class="lead">31 – Confins – MG</p>
        </li>
        <li>
          <p class="lead">31 – Congonhas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Congonhas Do Norte – MG</p>
        </li>
        <li>
          <p class="lead">31 – Conselheiro Lafaiete – MG</p>
        </li>
        <li>
          <p class="lead">31 – Contagem – MG</p>
        </li>
        <li>
          <p class="lead">31 – Cordisburgo – MG</p>
        </li>
        <li>
          <p class="lead">31 – Coronel Fabriciano – MG</p>
        </li>
        <li>
          <p class="lead">31 – Cristiano Otoni – MG</p>
        </li>
        <li>
          <p class="lead">31 – Crucilândia – MG</p>
        </li>
        <li>
          <p class="lead">31 – Desterro De Entre Rios – MG</p>
        </li>
        <li>
          <p class="lead">31 – Diogo De Vasconcelos – MG</p>
        </li>
        <li>
          <p class="lead">31 – Dionísio – MG</p>
        </li>
        <li>
          <p class="lead">31 – Dom Joaquim – MG</p>
        </li>
        <li>
          <p class="lead">31 – Dom Silvério – MG</p>
        </li>
        <li>
          <p class="lead">31 – Entre Rios De Minas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Esmeraldas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ferros – MG</p>
        </li>
        <li>
          <p class="lead">31 – Florestal – MG</p>
        </li>
        <li>
          <p class="lead">31 – Fortuna De Minas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Funilândia – MG</p>
        </li>
        <li>
          <p class="lead">31 – Guaraciaba – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ibirité – MG</p>
        </li>
        <li>
          <p class="lead">31 – Igarapé – MG</p>
        </li>
        <li>
          <p class="lead">31 – Inhaúma – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ipaba – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ipatinga – MG</p>
        </li>
        <li>
          <p class="lead">31 – Itabira – MG</p>
        </li>
        <li>
          <p class="lead">31 – Itabirito – MG</p>
        </li>
        <li>
          <p class="lead">31 – Itaguara – MG</p>
        </li>
        <li>
          <p class="lead">31 – Itambé Do Mato Dentro – MG</p>
        </li>
        <li>
          <p class="lead">31 – Itatiaiuçu – MG</p>
        </li>
        <li>
          <p class="lead">31 – Itaverava – MG</p>
        </li>
        <li>
          <p class="lead">31 – Jaboticatubas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Jaguaraçu – MG</p>
        </li>
        <li>
          <p class="lead">31 – Jeceaba – MG</p>
        </li>
        <li>
          <p class="lead">31 – Jequeri – MG</p>
        </li>
        <li>
          <p class="lead">31 – Jequitibá – MG</p>
        </li>
        <li>
          <p class="lead">31 – João Monlevade – MG</p>
        </li>
        <li>
          <p class="lead">31 – Juatuba – MG</p>
        </li>
        <li>
          <p class="lead">31 – Lagoa Santa – MG</p>
        </li>
        <li>
          <p class="lead">31 – Lamim – MG</p>
        </li>
        <li>
          <p class="lead">31 – Mariana – MG</p>
        </li>
        <li>
          <p class="lead">31 – Mário Campos – MG</p>
        </li>
        <li>
          <p class="lead">31 – Marliéria – MG</p>
        </li>
        <li>
          <p class="lead">31 – Mateus Leme – MG</p>
        </li>
        <li>
          <p class="lead">31 – Matipó – MG</p>
        </li>
        <li>
          <p class="lead">31 – Matozinhos – MG</p>
        </li>
        <li>
          <p class="lead">31 – Moeda – MG</p>
        </li>
        <li>
          <p class="lead">31 – Morro Do Pilar – MG</p>
        </li>
        <li>
          <p class="lead">31 – Nova Era – MG</p>
        </li>
        <li>
          <p class="lead">31 – Nova Lima – MG</p>
        </li>
        <li>
          <p class="lead">31 – Nova União – MG</p>
        </li>
        <li>
          <p class="lead">31 – Oratórios – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ouro Branco – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ouro Preto – MG</p>
        </li>
        <li>
          <p class="lead">31 – Paraopeba – MG</p>
        </li>
        <li>
          <p class="lead">31 – Passabém – MG</p>
        </li>
        <li>
          <p class="lead">31 – Pedra Bonita – MG</p>
        </li>
        <li>
          <p class="lead">31 – Pedra Do Anta – MG</p>
        </li>
        <li>
          <p class="lead">31 – Pedro Leopoldo – MG</p>
        </li>
        <li>
          <p class="lead">31 – Piedade De Ponte Nova – MG</p>
        </li>
        <li>
          <p class="lead">31 – Piedade Dos Gerais – MG</p>
        </li>
        <li>
          <p class="lead">31 – Piranga – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ponte Nova – MG</p>
        </li>
        <li>
          <p class="lead">31 – Porto Firme – MG</p>
        </li>
        <li>
          <p class="lead">31 – Prudente De Morais – MG</p>
        </li>
        <li>
          <p class="lead">31 – Queluzita – MG</p>
        </li>
        <li>
          <p class="lead">31 – Raposos – MG</p>
        </li>
        <li>
          <p class="lead">31 – Ribeirão Das Neves – MG</p>
        </li>
        <li>
          <p class="lead">31 – Rio Acima – MG</p>
        </li>
        <li>
          <p class="lead">31 – Rio Casca – MG</p>
        </li>
        <li>
          <p class="lead">31 – Rio Doce – MG</p>
        </li>
        <li>
          <p class="lead">31 – Rio Espera – MG</p>
        </li>
        <li>
          <p class="lead">31 – Rio Manso – MG</p>
        </li>
        <li>
          <p class="lead">31 – Rio Piracicaba – MG</p>
        </li>
        <li>
          <p class="lead">31 – Sabará – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santa Bárbara – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santa Cruz Do Escalvado – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santa Luzia – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santa Margarida – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santa Maria De Itabira – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santana De Pirapama – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santana Do Paraíso – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santana Do Riacho – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santana Dos Montes – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santo Antônio Do Grama – MG</p>
        </li>
        <li>
          <p class="lead">31 – Santo Antônio Do Rio Abaixo – MG</p>
        </li>
        <li>
          <p class="lead">31 – São Brás Do Suaçuí – MG</p>
        </li>
        <li>
          <p class="lead">31 – São Domingos Do Prata – MG</p>
        </li>
        <li>
          <p class="lead">31 – São Gonçalo Do Rio Abaixo – MG</p>
        </li>
        <li>
          <p class="lead">31 – São Joaquim De Bicas – MG</p>
        </li>
        <li>
          <p class="lead">31 – São José Da Lapa – MG</p>
        </li>
        <li>
          <p class="lead">31 – São José Do Goiabal – MG</p>
        </li>
        <li>
          <p class="lead">31 – São Miguel Do Anta – MG</p>
        </li>
        <li>
          <p class="lead">31 – São Sebastião Do Rio Preto – MG</p>
        </li>
        <li>
          <p class="lead">31 – Sarzedo – MG</p>
        </li>
        <li>
          <p class="lead">31 – Sem-Peixe – MG</p>
        </li>
        <li>
          <p class="lead">31 – Senhora De Oliveira – MG</p>
        </li>
        <li>
          <p class="lead">31 – Sericita – MG</p>
        </li>
        <li>
          <p class="lead">31 – Sete Lagoas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Taquaraçu De Minas – MG</p>
        </li>
        <li>
          <p class="lead">31 – Teixeiras – MG</p>
        </li>
        <li>
          <p class="lead">31 – Timóteo – MG</p>
        </li>
        <li>
          <p class="lead">31 – Urucânia – MG</p>
        </li>
        <li>
          <p class="lead">31 – Vespasiano – MG</p>
        </li>
        <li>
          <p class="lead">31 – Viçosa – MG</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}