<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 32 – Juiz de Fora
      </h2>
      <br>
      <br>
      <ul>
          <li><p class="lead">32 – Além Paraíba – MG</p></li>
          <li><p class="lead">32 – Alfredo Vasconcelos – MG</p></li>
          <li><p class="lead">32 – Alto Caparaó – MG</p></li>
          <li><p class="lead">32 – Alto Rio Doce – MG</p></li>
          <li><p class="lead">32 – Antônio Carlos – MG</p></li>
          <li><p class="lead">32 – Antônio Prado De Minas – MG</p></li>
          <li><p class="lead">32 – Aracitaba – MG</p></li>
          <li><p class="lead">32 – Arantina – MG</p></li>
          <li><p class="lead">32 – Argirita – MG</p></li>
          <li><p class="lead">32 – Astolfo Dutra – MG</p></li>
          <li><p class="lead">32 – Barão De Monte Alto – MG</p></li>
          <li><p class="lead">32 – Barbacena – MG</p></li>
          <li><p class="lead">32 – Barroso – MG</p></li>
          <li><p class="lead">32 – Belmiro Braga – MG</p></li>
          <li><p class="lead">32 – Bias Fortes – MG</p></li>
          <li><p class="lead">32 – Bicas – MG</p></li>
          <li><p class="lead">32 – Bocaina De Minas – MG</p></li>
          <li><p class="lead">32 – Bom Jardim De Minas – MG</p></li>
          <li><p class="lead">32 – Brás Pires – MG</p></li>
          <li><p class="lead">32 – Caiana – MG</p></li>
          <li><p class="lead">32 – Caparaó – MG</p></li>
          <li><p class="lead">32 – Carandaí – MG</p></li>
          <li><p class="lead">32 – Carangola – MG</p></li>
          <li><p class="lead">32 – Cataguases – MG</p></li>
          <li><p class="lead">32 – Chácara – MG</p></li>
          <li><p class="lead">32 – Chiador – MG</p></li>
          <li><p class="lead">32 – Cipotânea – MG</p></li>
          <li><p class="lead">32 – Coimbra – MG</p></li>
          <li><p class="lead">32 – Conceição Da Barra De Minas – MG</p></li>
          <li><p class="lead">32 – Coronel Pacheco – MG</p></li>
          <li><p class="lead">32 – Coronel Xavier Chaves – MG</p></li>
          <li><p class="lead">32 – Descoberto – MG</p></li>
          <li><p class="lead">32 – Desterro Do Melo – MG</p></li>
          <li><p class="lead">32 – Divinésia – MG</p></li>
          <li><p class="lead">32 – Divino – MG</p></li>
          <li><p class="lead">32 – Dona Euzébia – MG</p></li>
          <li><p class="lead">32 – Dores De Campos – MG</p></li>
          <li><p class="lead">32 – Dores Do Turvo – MG</p></li>
          <li><p class="lead">32 – Ervália – MG</p></li>
          <li><p class="lead">32 – Espera Feliz – MG</p></li>
          <li><p class="lead">32 – Estrela Dalva – MG</p></li>
          <li><p class="lead">32 – Eugenópolis – MG</p></li>
          <li><p class="lead">32 – Ewbank Da Câmara – MG</p></li>
          <li><p class="lead">32 – Faria Lemos – MG</p></li>
          <li><p class="lead">32 – Fervedouro – MG</p></li>
          <li><p class="lead">32 – Goianá – MG</p></li>
          <li><p class="lead">32 – Guarani – MG</p></li>
          <li><p class="lead">32 – Guarará – MG</p></li>
          <li><p class="lead">32 – Guidoval – MG</p></li>
          <li><p class="lead">32 – Guiricema – MG</p></li>
          <li><p class="lead">32 – Ibertioga – MG</p></li>
          <li><p class="lead">32 – Itamarati De Minas – MG</p></li>
          <li><p class="lead">32 – Juiz De Fora – MG</p></li>
          <li><p class="lead">32 – Lagoa Dourada – MG</p></li>
          <li><p class="lead">32 – Laranjal – MG</p></li>
          <li><p class="lead">32 – Leopoldina – MG</p></li>
          <li><p class="lead">32 – Liberdade – MG</p></li>
          <li><p class="lead">32 – Lima Duarte – MG</p></li>
          <li><p class="lead">32 – Madre De Deus De Minas – MG</p></li>
          <li><p class="lead">32 – Mar De Espanha – MG</p></li>
          <li><p class="lead">32 – Maripá De Minas – MG</p></li>
          <li><p class="lead">32 – Matias Barbosa – MG</p></li>
          <li><p class="lead">32 – Mercês – MG</p></li>
          <li><p class="lead">32 – Miradouro – MG</p></li>
          <li><p class="lead">32 – Miraí – MG</p></li>
          <li><p class="lead">32 – Muriaé – MG</p></li>
          <li><p class="lead">32 – Olaria – MG</p></li>
          <li><p class="lead">32 – Oliveira Fortes – MG</p></li>
          <li><p class="lead">32 – Orizânia – MG</p></li>
          <li><p class="lead">32 – Paiva – MG</p></li>
          <li><p class="lead">32 – Palma – MG</p></li>
          <li><p class="lead">32 – Passa Vinte – MG</p></li>
          <li><p class="lead">32 – Patrocínio Do Muriaé – MG</p></li>
          <li><p class="lead">32 – Paula Cândido – MG</p></li>
          <li><p class="lead">32 – Pedra Dourada – MG</p></li>
          <li><p class="lead">32 – Pedro Teixeira – MG</p></li>
          <li><p class="lead">32 – Pequeri – MG</p></li>
          <li><p class="lead">32 – Piau – MG</p></li>
          <li><p class="lead">32 – Piedade Do Rio Grande – MG</p></li>
          <li><p class="lead">32 – Pirapetinga – MG</p></li>
          <li><p class="lead">32 – Piraúba – MG</p></li>
          <li><p class="lead">32 – Prados – MG</p></li>
          <li><p class="lead">32 – Presidente Bernardes – MG</p></li>
          <li><p class="lead">32 – Recreio – MG</p></li>
          <li><p class="lead">32 – Resende Costa – MG</p></li>
          <li><p class="lead">32 – Ressaquinha – MG</p></li>
          <li><p class="lead">32 – Rio Novo – MG</p></li>
          <li><p class="lead">32 – Rio Pomba – MG</p></li>
          <li><p class="lead">32 – Rio Preto – MG</p></li>
          <li><p class="lead">32 – Ritápolis – MG</p></li>
          <li><p class="lead">32 – Rochedo De Minas – MG</p></li>
          <li><p class="lead">32 – Rodeiro – MG</p></li>
          <li><p class="lead">32 – Rosário Da Limeira – MG</p></li>
          <li><p class="lead">32 – Santa Bárbara Do Monte Verde – MG</p></li>
          <li><p class="lead">32 – Santa Bárbara Do Tugúrio – MG</p></li>
          <li><p class="lead">32 – Santa Cruz De Minas – MG</p></li>
          <li><p class="lead">32 – Santa Rita De Ibitipoca – MG</p></li>
          <li><p class="lead">32 – Santa Rita De Jacutinga – MG</p></li>
          <li><p class="lead">32 – Santana De Cataguases – MG</p></li>
          <li><p class="lead">32 – Santana Do Deserto – MG</p></li>
          <li><p class="lead">32 – Santana Do Garambéu – MG</p></li>
          <li><p class="lead">32 – Santo Antônio Do Aventureiro – MG</p></li>
          <li><p class="lead">32 – Santos Dumont – MG</p></li>
          <li><p class="lead">32 – São Francisco Do Glória – MG</p></li>
          <li><p class="lead">32 – São Geraldo – MG</p></li>
          <li><p class="lead">32 – São João Del Rei – MG</p></li>
          <li><p class="lead">32 – São João Nepomuceno – MG</p></li>
          <li><p class="lead">32 – São Sebastião Da Vargem Alegre – MG</p></li>
          <li><p class="lead">32 – São Tiago – MG</p></li>
          <li><p class="lead">32 – Senador Cortes – MG</p></li>
          <li><p class="lead">32 – Senador Firmino – MG</p></li>
          <li><p class="lead">32 – Senhora Dos Remédios – MG</p></li>
          <li><p class="lead">32 – Silveirânia – MG</p></li>
          <li><p class="lead">32 – Simão Pereira – MG</p></li>
          <li><p class="lead">32 – Tabuleiro – MG</p></li>
          <li><p class="lead">32 – Tiradentes – MG</p></li>
          <li><p class="lead">32 – Tocantins – MG</p></li>
          <li><p class="lead">32 – Tombos – MG</p></li>
          <li><p class="lead">32 – Ubá – MG</p></li>
          <li><p class="lead">32 – Vieiras – MG</p></li>
          <li><p class="lead">32 – Visconde Do Rio Branco – MG</p></li>
          <li><p class="lead">32 – Volta Grande – MG</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>