<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 33 – Governador Valadares
      </h2>
      <br>
      <br>
      <ul>     
          <li><p class="lead">33 – Açucena – MG</p></li>
          <li><p class="lead">33 – Água Boa – MG</p></li>
          <li><p class="lead">33 – Águas Formosas – MG</p></li>
          <li><p class="lead">33 – Águas Vermelhas – MG</p></li>
          <li><p class="lead">33 – Aimorés – MG</p></li>
          <li><p class="lead">33 – Almenara – MG</p></li>
          <li><p class="lead">33 – Alpercata – MG</p></li>
          <li><p class="lead">33 – Alto Jequitibá – MG</p></li>
          <li><p class="lead">33 – Alvarenga – MG</p></li>
          <li><p class="lead">33 – Angelândia – MG</p></li>
          <li><p class="lead">33 – Araçuaí – MG</p></li>
          <li><p class="lead">33 – Ataléia – MG</p></li>
          <li><p class="lead">33 – Bandeira – MG</p></li>
          <li><p class="lead">33 – Berilo – MG</p></li>
          <li><p class="lead">33 – Bertópolis – MG</p></li>
          <li><p class="lead">33 – Bom Jesus Do Galho – MG</p></li>
          <li><p class="lead">33 – Braúnas – MG</p></li>
          <li><p class="lead">33 – Bugre – MG</p></li>
          <li><p class="lead">33 – Cachoeira De Pajeú – MG</p></li>
          <li><p class="lead">33 – Campanário – MG</p></li>
          <li><p class="lead">33 – Cantagalo – MG</p></li>
          <li><p class="lead">33 – Capelinha – MG</p></li>
          <li><p class="lead">33 – Capitão Andrade – MG</p></li>
          <li><p class="lead">33 – Caraí – MG</p></li>
          <li><p class="lead">33 – Caratinga – MG</p></li>
          <li><p class="lead">33 – Carlos Chagas – MG</p></li>
          <li><p class="lead">33 – Catuji – MG</p></li>
          <li><p class="lead">33 – Central De Minas – MG</p></li>
          <li><p class="lead">33 – Chalé – MG</p></li>
          <li><p class="lead">33 – Chapada Do Norte – MG</p></li>
          <li><p class="lead">33 – Coluna – MG</p></li>
          <li><p class="lead">33 – Comercinho – MG</p></li>
          <li><p class="lead">33 – Conceição De Ipanema – MG</p></li>
          <li><p class="lead">33 – Conselheiro Pena – MG</p></li>
          <li><p class="lead">33 – Coroaci – MG</p></li>
          <li><p class="lead">33 – Coronel Murta – MG</p></li>
          <li><p class="lead">33 – Córrego Novo – MG</p></li>
          <li><p class="lead">33 – Crisólita – MG</p></li>
          <li><p class="lead">33 – Cuparaque – MG</p></li>
          <li><p class="lead">33 – Curral De Dentro – MG</p></li>
          <li><p class="lead">33 – Divino Das Laranjeiras – MG</p></li>
          <li><p class="lead">33 – Divinolândia De Minas – MG</p></li>
          <li><p class="lead">33 – Divisa Alegre – MG</p></li>
          <li><p class="lead">33 – Divisópolis – MG</p></li>
          <li><p class="lead">33 – Dom Cavati – MG</p></li>
          <li><p class="lead">33 – Dores De Guanhães – MG</p></li>
          <li><p class="lead">33 – Durandé – MG</p></li>
          <li><p class="lead">33 – Engenheiro Caldas – MG</p></li>
          <li><p class="lead">33 – Entre Folhas – MG</p></li>
          <li><p class="lead">33 – Felisburgo – MG</p></li>
          <li><p class="lead">33 – Fernandes Tourinho – MG</p></li>
          <li><p class="lead">33 – Francisco Badaró – MG</p></li>
          <li><p class="lead">33 – Franciscópolis – MG</p></li>
          <li><p class="lead">33 – Frei Gaspar – MG</p></li>
          <li><p class="lead">33 – Frei Inocêncio – MG</p></li>
          <li><p class="lead">33 – Frei Lagonegro – MG</p></li>
          <li><p class="lead">33 – Fronteira Dos Vales – MG</p></li>
          <li><p class="lead">33 – Galiléia – MG</p></li>
          <li><p class="lead">33 – Goiabeira – MG</p></li>
          <li><p class="lead">33 – Gonzaga – MG</p></li>
          <li><p class="lead">33 – Governador Valadares – MG</p></li>
          <li><p class="lead">33 – Guanhães – MG</p></li>
          <li><p class="lead">33 – Iapu – MG</p></li>
          <li><p class="lead">33 – Imbé De Minas – MG</p></li>
          <li><p class="lead">33 – Inhapim – MG</p></li>
          <li><p class="lead">33 – Ipanema – MG</p></li>
          <li><p class="lead">33 – Itabirinha De Mantena – MG</p></li>
          <li><p class="lead">33 – Itaipé – MG</p></li>
          <li><p class="lead">33 – Itambacuri – MG</p></li>
          <li><p class="lead">33 – Itanhomi – MG</p></li>
          <li><p class="lead">33 – Itaobim – MG</p></li>
          <li><p class="lead">33 – Itinga – MG</p></li>
          <li><p class="lead">33 – Itueta – MG</p></li>
          <li><p class="lead">33 – Jacinto – MG</p></li>
          <li><p class="lead">33 – Jampruca – MG</p></li>
          <li><p class="lead">33 – Jenipapo De Minas – MG</p></li>
          <li><p class="lead">33 – Jequitinhonha – MG</p></li>
          <li><p class="lead">33 – Joaíma – MG</p></li>
          <li><p class="lead">33 – Joanésia – MG</p></li>
          <li><p class="lead">33 – Jordânia – MG</p></li>
          <li><p class="lead">33 – José Gonçalves De Minas – MG</p></li>
          <li><p class="lead">33 – José Raydan – MG</p></li>
          <li><p class="lead">33 – Ladainha – MG</p></li>
          <li><p class="lead">33 – Lajinha – MG</p></li>
          <li><p class="lead">33 – Leme Do Prado – MG</p></li>
          <li><p class="lead">33 – Luisburgo – MG</p></li>
          <li><p class="lead">33 – Machacalis – MG</p></li>
          <li><p class="lead">33 – Malacacheta – MG</p></li>
          <li><p class="lead">33 – Manhuaçu – MG</p></li>
          <li><p class="lead">33 – Manhumirim – MG</p></li>
          <li><p class="lead">33 – Mantena – MG</p></li>
          <li><p class="lead">33 – Marilac – MG</p></li>
          <li><p class="lead">33 – Martins Soares – MG</p></li>
          <li><p class="lead">33 – Mata Verde – MG</p></li>
          <li><p class="lead">33 – Materlândia – MG</p></li>
          <li><p class="lead">33 – Mathias Lobato – MG</p></li>
          <li><p class="lead">33 – Medina – MG</p></li>
          <li><p class="lead">33 – Mendes Pimentel – MG</p></li>
          <li><p class="lead">33 – Mesquita – MG</p></li>
          <li><p class="lead">33 – Minas Novas – MG</p></li>
          <li><p class="lead">33 – Monte Formoso – MG</p></li>
          <li><p class="lead">33 – Mutum – MG</p></li>
          <li><p class="lead">33 – Nacip Raydan – MG</p></li>
          <li><p class="lead">33 – Nanuque – MG</p></li>
          <li><p class="lead">33 – Naque – MG</p></li>
          <li><p class="lead">33 – Nova Belém – MG</p></li>
          <li><p class="lead">33 – Nova Módica – MG</p></li>
          <li><p class="lead">33 – Novo Cruzeiro – MG</p></li>
          <li><p class="lead">33 – Novo Oriente De Minas – MG</p></li>
          <li><p class="lead">33 – Ouro Verde De Minas – MG</p></li>
          <li><p class="lead">33 – Padre Paraíso – MG</p></li>
          <li><p class="lead">33 – Palmópolis – MG</p></li>
          <li><p class="lead">33 – Paulistas – MG</p></li>
          <li><p class="lead">33 – Pavão – MG</p></li>
          <li><p class="lead">33 – Peçanha – MG</p></li>
          <li><p class="lead">33 – Pedra Azul – MG</p></li>
          <li><p class="lead">33 – Periquito – MG</p></li>
          <li><p class="lead">33 – Pescador – MG</p></li>
          <li><p class="lead">33 – Piedade De Caratinga – MG</p></li>
          <li><p class="lead">33 – Pingo D’água – MG</p></li>
          <li><p class="lead">33 – Pocrane – MG</p></li>
          <li><p class="lead">33 – Ponto Dos Volantes – MG</p></li>
          <li><p class="lead">33 – Poté – MG</p></li>
          <li><p class="lead">33 – Raul Soares – MG</p></li>
          <li><p class="lead">33 – Reduto – MG</p></li>
          <li><p class="lead">33 – Resplendor – MG</p></li>
          <li><p class="lead">33 – Rio Do Prado – MG</p></li>
          <li><p class="lead">33 – Rio Vermelho – MG</p></li>
          <li><p class="lead">33 – Rubim – MG</p></li>
          <li><p class="lead">33 – Sabinópolis – MG</p></li>
          <li><p class="lead">33 – Salto Da Divisa – MG</p></li>
          <li><p class="lead">33 – Santa Bárbara Do Leste – MG</p></li>
          <li><p class="lead">33 – Santa Efigênia De Minas – MG</p></li>
          <li><p class="lead">33 – Santa Helena De Minas – MG</p></li>
          <li><p class="lead">33 – Santa Maria Do Salto – MG</p></li>
          <li><p class="lead">33 – Santa Maria Do Suaçuí – MG</p></li>
          <li><p class="lead">33 – Santa Rita De Minas – MG</p></li>
          <li><p class="lead">33 – Santa Rita Do Itueto – MG</p></li>
          <li><p class="lead">33 – Santana Do Manhuaçu – MG</p></li>
          <li><p class="lead">33 – Santo Antônio Do Itambé – MG</p></li>
          <li><p class="lead">33 – Santo Antônio Do Jacinto – MG</p></li>
          <li><p class="lead">33 – São Domingos Das Dores – MG</p></li>
          <li><p class="lead">33 – São Félix De Minas – MG</p></li>
          <li><p class="lead">33 – São Geraldo Da Piedade – MG</p></li>
          <li><p class="lead">33 – São Geraldo Do Baixio – MG</p></li>
          <li><p class="lead">33 – São João Do Manhuaçu – MG</p></li>
          <li><p class="lead">33 – São João Do Manteninha – MG</p></li>
          <li><p class="lead">33 – São João Do Oriente – MG</p></li>
          <li><p class="lead">33 – São João Evangelista – MG</p></li>
          <li><p class="lead">33 – São José Da Safira – MG</p></li>
          <li><p class="lead">33 – São José Do Divino – MG</p></li>
          <li><p class="lead">33 – São José Do Jacuri – MG</p></li>
          <li><p class="lead">33 – São José Do Mantimento – MG</p></li>
          <li><p class="lead">33 – São Pedro Do Suaçuí – MG</p></li>
          <li><p class="lead">33 – São Pedro Dos Ferros – MG</p></li>
          <li><p class="lead">33 – São Sebastião Do Anta – MG</p></li>
          <li><p class="lead">33 – São Sebastião Do Maranhão – MG</p></li>
          <li><p class="lead">33 – Sardoá – MG</p></li>
          <li><p class="lead">33 – Senhora Do Porto – MG</p></li>
          <li><p class="lead">33 – Serra Dos Aimorés – MG</p></li>
          <li><p class="lead">33 – Setubinha – MG</p></li>
          <li><p class="lead">33 – Simonésia – MG</p></li>
          <li><p class="lead">33 – Sobrália – MG</p></li>
          <li><p class="lead">33 – Taparuba – MG</p></li>
          <li><p class="lead">33 – Tarumirim – MG</p></li>
          <li><p class="lead">33 – Teófilo Otoni – MG</p></li>
          <li><p class="lead">33 – Tumiritinga – MG</p></li>
          <li><p class="lead">33 – Ubaporanga – MG</p></li>
          <li><p class="lead">33 – Umburatiba – MG</p></li>
          <li><p class="lead">33 – Vargem Alegre – MG</p></li>
          <li><p class="lead">33 – Vermelho Novo – MG</p></li>
          <li><p class="lead">33 – Virgem Da Lapa – MG</p></li>
          <li><p class="lead">33 – Virginópolis – MG</p></li>
          <li><p class="lead">33 – Virgolândia – MG</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>