{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 34 – Uberlândia
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">34 – Abadia Dos Dourados – MG</p>
        </li>
        <li>
          <p class="lead">34 – Água Comprida – MG</p>
        </li>
        <li>
          <p class="lead">34 – Araguari – MG</p>
        </li>
        <li>
          <p class="lead">34 – Araporã – MG</p>
        </li>
        <li>
          <p class="lead">34 – Arapuá – MG</p>
        </li>
        <li>
          <p class="lead">34 – Araxá – MG</p>
        </li>
        <li>
          <p class="lead">34 – Cachoeira Dourada – MG</p>
        </li>
        <li>
          <p class="lead">34 – Campina Verde – MG</p>
        </li>
        <li>
          <p class="lead">34 – Campo Florido – MG</p>
        </li>
        <li>
          <p class="lead">34 – Canápolis – MG</p>
        </li>
        <li>
          <p class="lead">34 – Capinópolis – MG</p>
        </li>
        <li>
          <p class="lead">34 – Carmo Do Paranaíba – MG</p>
        </li>
        <li>
          <p class="lead">34 – Carneirinho – MG</p>
        </li>
        <li>
          <p class="lead">34 – Cascalho Rico – MG</p>
        </li>
        <li>
          <p class="lead">34 – Centralina – MG</p>
        </li>
        <li>
          <p class="lead">34 – Claraval – MG</p>
        </li>
        <li>
          <p class="lead">34 – Comendador Gomes – MG</p>
        </li>
        <li>
          <p class="lead">34 – Conceição Das Alagoas – MG</p>
        </li>
        <li>
          <p class="lead">34 – Conquista – MG</p>
        </li>
        <li>
          <p class="lead">34 – Coromandel – MG</p>
        </li>
        <li>
          <p class="lead">34 – Cruzeiro Da Fortaleza – MG</p>
        </li>
        <li>
          <p class="lead">34 – Delta – MG</p>
        </li>
        <li>
          <p class="lead">34 – Douradoquara – MG</p>
        </li>
        <li>
          <p class="lead">34 – Estrela Do Sul – MG</p>
        </li>
        <li>
          <p class="lead">34 – Fronteira – MG</p>
        </li>
        <li>
          <p class="lead">34 – Frutal – MG</p>
        </li>
        <li>
          <p class="lead">34 – Grupiara – MG</p>
        </li>
        <li>
          <p class="lead">34 – Guimarânia – MG</p>
        </li>
        <li>
          <p class="lead">34 – Gurinhatã – MG</p>
        </li>
        <li>
          <p class="lead">34 – Ibiá – MG</p>
        </li>
        <li>
          <p class="lead">34 – Indianópolis – MG</p>
        </li>
        <li>
          <p class="lead">34 – Ipiaçu – MG</p>
        </li>
        <li>
          <p class="lead">34 – Iraí De Minas – MG</p>
        </li>
        <li>
          <p class="lead">34 – Itapagipe – MG</p>
        </li>
        <li>
          <p class="lead">34 – Ituiutaba – MG</p>
        </li>
        <li>
          <p class="lead">34 – Iturama – MG</p>
        </li>
        <li>
          <p class="lead">34 – Lagamar – MG</p>
        </li>
        <li>
          <p class="lead">34 – Lagoa Formosa – MG</p>
        </li>
        <li>
          <p class="lead">34 – Lagoa Grande – MG</p>
        </li>
        <li>
          <p class="lead">34 – Limeira Do Oeste – MG</p>
        </li>
        <li>
          <p class="lead">34 – Matutina – MG</p>
        </li>
        <li>
          <p class="lead">34 – Monte Alegre De Minas – MG</p>
        </li>
        <li>
          <p class="lead">34 – Monte Carmelo – MG</p>
        </li>
        <li>
          <p class="lead">34 – Nova Ponte – MG</p>
        </li>
        <li>
          <p class="lead">34 – Patos De Minas – MG</p>
        </li>
        <li>
          <p class="lead">34 – Patrocínio – MG</p>
        </li>
        <li>
          <p class="lead">34 – Pedrinópolis – MG</p>
        </li>
        <li>
          <p class="lead">34 – Perdizes – MG</p>
        </li>
        <li>
          <p class="lead">34 – Pirajuba – MG</p>
        </li>
        <li>
          <p class="lead">34 – Planura – MG</p>
        </li>
        <li>
          <p class="lead">34 – Prata – MG</p>
        </li>
        <li>
          <p class="lead">34 – Pratinha – MG</p>
        </li>
        <li>
          <p class="lead">34 – Presidente Olegário – MG</p>
        </li>
        <li>
          <p class="lead">34 – Rio Paranaíba – MG</p>
        </li>
        <li>
          <p class="lead">34 – Romaria – MG</p>
        </li>
        <li>
          <p class="lead">34 – Sacramento – MG</p>
        </li>
        <li>
          <p class="lead">34 – Santa Juliana – MG</p>
        </li>
        <li>
          <p class="lead">34 – Santa Rosa Da Serra – MG</p>
        </li>
        <li>
          <p class="lead">34 – Santa Vitória – MG</p>
        </li>
        <li>
          <p class="lead">34 – São Francisco De Sales – MG</p>
        </li>
        <li>
          <p class="lead">34 – São Gotardo – MG</p>
        </li>
        <li>
          <p class="lead">34 – Serra Do Salitre – MG</p>
        </li>
        <li>
          <p class="lead">34 – Tapira – MG</p>
        </li>
        <li>
          <p class="lead">34 – Tiros – MG</p>
        </li>
        <li>
          <p class="lead">34 – Tupaciguara – MG</p>
        </li>
        <li>
          <p class="lead">34 – Uberaba – MG</p>
        </li>
        <li>
          <p class="lead">34 – Uberlândia – MG</p>
        </li>
        <li>
          <p class="lead">34 – União De Minas – MG</p>
        </li>
        <li>
          <p class="lead">34 – Vazante – MG</p>
        </li>
        <li>
          <p class="lead">34 – Veríssimo – MG</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}