{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 35 – Poços de Caldas
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">35 – Aguanil – MG</p>
        </li>
        <li>
          <p class="lead">35 – Aiuruoca – MG</p>
        </li>
        <li>
          <p class="lead">35 – Alagoa – MG</p>
        </li>
        <li>
          <p class="lead">35 – Albertina – MG</p>
        </li>
        <li>
          <p class="lead">35 – Alfenas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Alpinópolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Alterosa – MG</p>
        </li>
        <li>
          <p class="lead">35 – Andradas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Andrelândia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Arceburgo – MG</p>
        </li>
        <li>
          <p class="lead">35 – Areado – MG</p>
        </li>
        <li>
          <p class="lead">35 – Baependi – MG</p>
        </li>
        <li>
          <p class="lead">35 – Bandeira Do Sul – MG</p>
        </li>
        <li>
          <p class="lead">35 – Boa Esperança – MG</p>
        </li>
        <li>
          <p class="lead">35 – Bom Jesus Da Penha – MG</p>
        </li>
        <li>
          <p class="lead">35 – Bom Repouso – MG</p>
        </li>
        <li>
          <p class="lead">35 – Bom Sucesso – MG</p>
        </li>
        <li>
          <p class="lead">35 – Borda Da Mata – MG</p>
        </li>
        <li>
          <p class="lead">35 – Botelhos – MG</p>
        </li>
        <li>
          <p class="lead">35 – Brasópolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Bueno Brandão – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cabo Verde – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cachoeira De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Caldas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Camanducaia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cambuí – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cambuquira – MG</p>
        </li>
        <li>
          <p class="lead">35 – Campanha – MG</p>
        </li>
        <li>
          <p class="lead">35 – Campestre – MG</p>
        </li>
        <li>
          <p class="lead">35 – Campo Belo – MG</p>
        </li>
        <li>
          <p class="lead">35 – Campo Do Meio – MG</p>
        </li>
        <li>
          <p class="lead">35 – Campos Gerais – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cana Verde – MG</p>
        </li>
        <li>
          <p class="lead">35 – Candeias – MG</p>
        </li>
        <li>
          <p class="lead">35 – Capetinga – MG</p>
        </li>
        <li>
          <p class="lead">35 – Careaçu – MG</p>
        </li>
        <li>
          <p class="lead">35 – Carmo Da Cachoeira – MG</p>
        </li>
        <li>
          <p class="lead">35 – Carmo De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Carmo Do Rio Claro – MG</p>
        </li>
        <li>
          <p class="lead">35 – Carrancas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Carvalhópolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Carvalhos – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cássia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Caxambu – MG</p>
        </li>
        <li>
          <p class="lead">35 – Conceição Da Aparecida – MG</p>
        </li>
        <li>
          <p class="lead">35 – Conceição Das Pedras – MG</p>
        </li>
        <li>
          <p class="lead">35 – Conceição Do Rio Verde – MG</p>
        </li>
        <li>
          <p class="lead">35 – Conceição Dos Ouros – MG</p>
        </li>
        <li>
          <p class="lead">35 – Congonhal – MG</p>
        </li>
        <li>
          <p class="lead">35 – Consolação – MG</p>
        </li>
        <li>
          <p class="lead">35 – Coqueiral – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cordislândia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Córrego Do Bom Jesus – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cristais – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cristina – MG</p>
        </li>
        <li>
          <p class="lead">35 – Cruzília – MG</p>
        </li>
        <li>
          <p class="lead">35 – Delfim Moreira – MG</p>
        </li>
        <li>
          <p class="lead">35 – Delfinópolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Divisa Nova – MG</p>
        </li>
        <li>
          <p class="lead">35 – Dom Viçoso – MG</p>
        </li>
        <li>
          <p class="lead">35 – Elói Mendes – MG</p>
        </li>
        <li>
          <p class="lead">35 – Espírito Santo Do Dourado – MG</p>
        </li>
        <li>
          <p class="lead">35 – Estiva – MG</p>
        </li>
        <li>
          <p class="lead">35 – Extrema – MG</p>
        </li>
        <li>
          <p class="lead">35 – Fama – MG</p>
        </li>
        <li>
          <p class="lead">35 – Fortaleza De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Gonçalves – MG</p>
        </li>
        <li>
          <p class="lead">35 – Guapé – MG</p>
        </li>
        <li>
          <p class="lead">35 – Guaranésia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Guaxupé – MG</p>
        </li>
        <li>
          <p class="lead">35 – Heliodora – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ibiraci – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ibitiúra De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ibituruna – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ijaci – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ilicínea – MG</p>
        </li>
        <li>
          <p class="lead">35 – Inconfidentes – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ingaí – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ipuiúna – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itajubá – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itamogi – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itamonte – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itanhandu – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itapeva – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itaú De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itumirim – MG</p>
        </li>
        <li>
          <p class="lead">35 – Itutinga – MG</p>
        </li>
        <li>
          <p class="lead">35 – Jacuí – MG</p>
        </li>
        <li>
          <p class="lead">35 – Jacutinga – MG</p>
        </li>
        <li>
          <p class="lead">35 – Jesuânia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Juruaia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Lambari – MG</p>
        </li>
        <li>
          <p class="lead">35 – Lavras – MG</p>
        </li>
        <li>
          <p class="lead">35 – Luminárias – MG</p>
        </li>
        <li>
          <p class="lead">35 – Machado – MG</p>
        </li>
        <li>
          <p class="lead">35 – Maria Da Fé – MG</p>
        </li>
        <li>
          <p class="lead">35 – Marmelópolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Minduri – MG</p>
        </li>
        <li>
          <p class="lead">35 – Monsenhor Paulo – MG</p>
        </li>
        <li>
          <p class="lead">35 – Monte Belo – MG</p>
        </li>
        <li>
          <p class="lead">35 – Monte Santo De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Monte Sião – MG</p>
        </li>
        <li>
          <p class="lead">35 – Munhoz – MG</p>
        </li>
        <li>
          <p class="lead">35 – Muzambinho – MG</p>
        </li>
        <li>
          <p class="lead">35 – Natércia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Nazareno – MG</p>
        </li>
        <li>
          <p class="lead">35 – Nepomuceno – MG</p>
        </li>
        <li>
          <p class="lead">35 – Nova Resende – MG</p>
        </li>
        <li>
          <p class="lead">35 – Olímpio Noronha – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ouro Fino – MG</p>
        </li>
        <li>
          <p class="lead">35 – Paraguaçu – MG</p>
        </li>
        <li>
          <p class="lead">35 – Paraisópolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Passa Quatro – MG</p>
        </li>
        <li>
          <p class="lead">35 – Passos – MG</p>
        </li>
        <li>
          <p class="lead">35 – Pedralva – MG</p>
        </li>
        <li>
          <p class="lead">35 – Perdões – MG</p>
        </li>
        <li>
          <p class="lead">35 – Piranguçu – MG</p>
        </li>
        <li>
          <p class="lead">35 – Piranguinho – MG</p>
        </li>
        <li>
          <p class="lead">35 – Poço Fundo – MG</p>
        </li>
        <li>
          <p class="lead">35 – Poços De Caldas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Pouso Alegre – MG</p>
        </li>
        <li>
          <p class="lead">35 – Pouso Alto – MG</p>
        </li>
        <li>
          <p class="lead">35 – Pratápolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Ribeirão Vermelho – MG</p>
        </li>
        <li>
          <p class="lead">35 – Santa Rita De Caldas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Santa Rita Do Sapucaí – MG</p>
        </li>
        <li>
          <p class="lead">35 – Santana Da Vargem – MG</p>
        </li>
        <li>
          <p class="lead">35 – Santana Do Jacaré – MG</p>
        </li>
        <li>
          <p class="lead">35 – Santo Antônio Do Amparo – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Bento Abade – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Gonçalo Do Sapucaí – MG</p>
        </li>
        <li>
          <p class="lead">35 – São João Batista Do Glória – MG</p>
        </li>
        <li>
          <p class="lead">35 – São João Da Mata – MG</p>
        </li>
        <li>
          <p class="lead">35 – São José Da Barra – MG</p>
        </li>
        <li>
          <p class="lead">35 – São José Do Alegre – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Lourenço – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Pedro Da União – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Sebastião Da Bela Vista – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Sebastião Do Paraíso – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Sebastião Do Rio Verde – MG</p>
        </li>
        <li>
          <p class="lead">35 – Sao Thome Das Letras – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Tomás De Aquino – MG</p>
        </li>
        <li>
          <p class="lead">35 – São Vicente De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Sapucaí-Mirim – MG</p>
        </li>
        <li>
          <p class="lead">35 – Senador Amaral – MG</p>
        </li>
        <li>
          <p class="lead">35 – Senador José Bento – MG</p>
        </li>
        <li>
          <p class="lead">35 – Seritinga – MG</p>
        </li>
        <li>
          <p class="lead">35 – Serrania – MG</p>
        </li>
        <li>
          <p class="lead">35 – Serranos – MG</p>
        </li>
        <li>
          <p class="lead">35 – Silvianópolis – MG</p>
        </li>
        <li>
          <p class="lead">35 – Soledade De Minas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Tocos Do Mogi – MG</p>
        </li>
        <li>
          <p class="lead">35 – Toledo – MG</p>
        </li>
        <li>
          <p class="lead">35 – Três Corações – MG</p>
        </li>
        <li>
          <p class="lead">35 – Três Pontas – MG</p>
        </li>
        <li>
          <p class="lead">35 – Turvolândia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Varginha – MG</p>
        </li>
        <li>
          <p class="lead">35 – Virgínia – MG</p>
        </li>
        <li>
          <p class="lead">35 – Wenceslau Braz – MG</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}