<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 37 – Divinópolis
      </h2>
      <br>
      <br>
      <ul>        
          <li><p class="lead">37 – Abaeté – MG</p></li>
          <li><p class="lead">37 – Araújos – MG</p></li>
          <li><p class="lead">37 – Arcos – MG</p></li>
          <li><p class="lead">37 – Bambuí – MG</p></li>
          <li><p class="lead">37 – Biquinhas – MG</p></li>
          <li><p class="lead">37 – Bom Despacho – MG</p></li>
          <li><p class="lead">37 – Camacho – MG</p></li>
          <li><p class="lead">37 – Campos Altos – MG</p></li>
          <li><p class="lead">37 – Capitólio – MG</p></li>
          <li><p class="lead">37 – Carmo Da Mata – MG</p></li>
          <li><p class="lead">37 – Carmo Do Cajuru – MG</p></li>
          <li><p class="lead">37 – Carmópolis De Minas – MG</p></li>
          <li><p class="lead">37 – Cedro Do Abaeté – MG</p></li>
          <li><p class="lead">37 – Cláudio – MG</p></li>
          <li><p class="lead">37 – Conceição Do Pará – MG</p></li>
          <li><p class="lead">37 – Córrego Danta – MG</p></li>
          <li><p class="lead">37 – Córrego Fundo – MG</p></li>
          <li><p class="lead">37 – Divinópolis – MG</p></li>
          <li><p class="lead">37 – Dores Do Indaiá – MG</p></li>
          <li><p class="lead">37 – Doresópolis – MG</p></li>
          <li><p class="lead">37 – Estrela Do Indaiá – MG</p></li>
          <li><p class="lead">37 – Formiga – MG</p></li>
          <li><p class="lead">37 – Igaratinga – MG</p></li>
          <li><p class="lead">37 – Iguatama – MG</p></li>
          <li><p class="lead">37 – Itapecerica – MG</p></li>
          <li><p class="lead">37 – Itaúna – MG</p></li>
          <li><p class="lead">37 – Japaraíba – MG</p></li>
          <li><p class="lead">37 – Lagoa Da Prata – MG</p></li>
          <li><p class="lead">37 – Leandro Ferreira – MG</p></li>
          <li><p class="lead">37 – Luz – MG</p></li>
          <li><p class="lead">37 – Maravilhas – MG</p></li>
          <li><p class="lead">37 – Martinho Campos – MG</p></li>
          <li><p class="lead">37 – Medeiros – MG</p></li>
          <li><p class="lead">37 – Moema – MG</p></li>
          <li><p class="lead">37 – Morada Nova De Minas – MG</p></li>
          <li><p class="lead">37 – Nova Serrana – MG</p></li>
          <li><p class="lead">37 – Oliveira – MG</p></li>
          <li><p class="lead">37 – Onça De Pitangui – MG</p></li>
          <li><p class="lead">37 – Paineiras – MG</p></li>
          <li><p class="lead">37 – Pains – MG</p></li>
          <li><p class="lead">37 – Papagaios – MG</p></li>
          <li><p class="lead">37 – Pará De Minas – MG</p></li>
          <li><p class="lead">37 – Passa Tempo – MG</p></li>
          <li><p class="lead">37 – Pedra Do Indaiá – MG</p></li>
          <li><p class="lead">37 – Pequi – MG</p></li>
          <li><p class="lead">37 – Perdigão – MG</p></li>
          <li><p class="lead">37 – Pimenta – MG</p></li>
          <li><p class="lead">37 – Piracema – MG</p></li>
          <li><p class="lead">37 – Pitangui – MG</p></li>
          <li><p class="lead">37 – Piuí – MG</p></li>
          <li><p class="lead">37 – Pompéu – MG</p></li>
          <li><p class="lead">37 – Quartel Geral – MG</p></li>
          <li><p class="lead">37 – Santo Antônio Do Monte – MG</p></li>
          <li><p class="lead">37 – São Francisco De Paula – MG</p></li>
          <li><p class="lead">37 – São Gonçalo Do Pará – MG</p></li>
          <li><p class="lead">37 – São José Da Varginha – MG</p></li>
          <li><p class="lead">37 – São Roque De Minas – MG</p></li>
          <li><p class="lead">37 – São Sebastião Do Oeste – MG</p></li>
          <li><p class="lead">37 – Serra Da Saudade – MG</p></li>
          <li><p class="lead">37 – Tapiraí – MG</p></li>
          <li><p class="lead">37 – Vargem Bonita – MG</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>