{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 38 – Montes Claros
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">38 – Aricanduva – MG</p>
        </li>
        <li>
          <p class="lead">38 – Arinos – MG</p>
        </li>
        <li>
          <p class="lead">38 – Augusto De Lima – MG</p>
        </li>
        <li>
          <p class="lead">38 – Berizal – MG</p>
        </li>
        <li>
          <p class="lead">38 – Bocaiúva – MG</p>
        </li>
        <li>
          <p class="lead">38 – Bonfinópolis De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Bonito De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Botumirim – MG</p>
        </li>
        <li>
          <p class="lead">38 – Brasilândia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Brasília De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Buenópolis – MG</p>
        </li>
        <li>
          <p class="lead">38 – Buritis – MG</p>
        </li>
        <li>
          <p class="lead">38 – Buritizeiro – MG</p>
        </li>
        <li>
          <p class="lead">38 – Cabeceira Grande – MG</p>
        </li>
        <li>
          <p class="lead">38 – Campo Azul – MG</p>
        </li>
        <li>
          <p class="lead">38 – Capitão Enéas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Carbonita – MG</p>
        </li>
        <li>
          <p class="lead">38 – Catuti – MG</p>
        </li>
        <li>
          <p class="lead">38 – Chapada Gaúcha – MG</p>
        </li>
        <li>
          <p class="lead">38 – Claro Dos Poções – MG</p>
        </li>
        <li>
          <p class="lead">38 – Cônego Marinho – MG</p>
        </li>
        <li>
          <p class="lead">38 – Coração De Jesus – MG</p>
        </li>
        <li>
          <p class="lead">38 – Corinto – MG</p>
        </li>
        <li>
          <p class="lead">38 – Couto De Magalhães De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Cristália – MG</p>
        </li>
        <li>
          <p class="lead">38 – Curvelo – MG</p>
        </li>
        <li>
          <p class="lead">38 – Datas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Diamantina – MG</p>
        </li>
        <li>
          <p class="lead">38 – Dom Bosco – MG</p>
        </li>
        <li>
          <p class="lead">38 – Engenheiro Navarro – MG</p>
        </li>
        <li>
          <p class="lead">38 – Espinosa – MG</p>
        </li>
        <li>
          <p class="lead">38 – Felício Dos Santos – MG</p>
        </li>
        <li>
          <p class="lead">38 – Felixlândia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Formoso – MG</p>
        </li>
        <li>
          <p class="lead">38 – Francisco Dumont – MG</p>
        </li>
        <li>
          <p class="lead">38 – Francisco Sá – MG</p>
        </li>
        <li>
          <p class="lead">38 – Fruta De Leite – MG</p>
        </li>
        <li>
          <p class="lead">38 – Gameleiras – MG</p>
        </li>
        <li>
          <p class="lead">38 – Glaucilândia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Gouvêa – MG</p>
        </li>
        <li>
          <p class="lead">38 – Grão Mogol – MG</p>
        </li>
        <li>
          <p class="lead">38 – Guaraciama – MG</p>
        </li>
        <li>
          <p class="lead">38 – Guarda-Mor – MG</p>
        </li>
        <li>
          <p class="lead">38 – Ibiaí – MG</p>
        </li>
        <li>
          <p class="lead">38 – Ibiracatu – MG</p>
        </li>
        <li>
          <p class="lead">38 – Icaraí De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Indaiabira – MG</p>
        </li>
        <li>
          <p class="lead">38 – Inimutaba – MG</p>
        </li>
        <li>
          <p class="lead">38 – Itacambira – MG</p>
        </li>
        <li>
          <p class="lead">38 – Itacarambi – MG</p>
        </li>
        <li>
          <p class="lead">38 – Itamarandiba – MG</p>
        </li>
        <li>
          <p class="lead">38 – Jaíba – MG</p>
        </li>
        <li>
          <p class="lead">38 – Janaúba – MG</p>
        </li>
        <li>
          <p class="lead">38 – Januária – MG</p>
        </li>
        <li>
          <p class="lead">38 – Japonvar – MG</p>
        </li>
        <li>
          <p class="lead">38 – Jequitaí – MG</p>
        </li>
        <li>
          <p class="lead">38 – João Pinheiro – MG</p>
        </li>
        <li>
          <p class="lead">38 – Joaquim Felício – MG</p>
        </li>
        <li>
          <p class="lead">38 – Josenópolis – MG</p>
        </li>
        <li>
          <p class="lead">38 – Juramento – MG</p>
        </li>
        <li>
          <p class="lead">38 – Juvenília – MG</p>
        </li>
        <li>
          <p class="lead">38 – Lagoa Dos Patos – MG</p>
        </li>
        <li>
          <p class="lead">38 – Lassance – MG</p>
        </li>
        <li>
          <p class="lead">38 – Lontra – MG</p>
        </li>
        <li>
          <p class="lead">38 – Luislândia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Mamonas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Manga – MG</p>
        </li>
        <li>
          <p class="lead">38 – Matias Cardoso – MG</p>
        </li>
        <li>
          <p class="lead">38 – Mato Verde – MG</p>
        </li>
        <li>
          <p class="lead">38 – Mirabela – MG</p>
        </li>
        <li>
          <p class="lead">38 – Miravânia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Monjolos – MG</p>
        </li>
        <li>
          <p class="lead">38 – Montalvânia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Monte Azul – MG</p>
        </li>
        <li>
          <p class="lead">38 – Montes Claros – MG</p>
        </li>
        <li>
          <p class="lead">38 – Montezuma – MG</p>
        </li>
        <li>
          <p class="lead">38 – Morro Da Garça – MG</p>
        </li>
        <li>
          <p class="lead">38 – Natalândia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Ninheira – MG</p>
        </li>
        <li>
          <p class="lead">38 – Nova Porteirinha – MG</p>
        </li>
        <li>
          <p class="lead">38 – Novorizonte – MG</p>
        </li>
        <li>
          <p class="lead">38 – Olhos D’agua – MG</p>
        </li>
        <li>
          <p class="lead">38 – Padre Carvalho – MG</p>
        </li>
        <li>
          <p class="lead">38 – Pai Pedro – MG</p>
        </li>
        <li>
          <p class="lead">38 – Paracatu – MG</p>
        </li>
        <li>
          <p class="lead">38 – Patis – MG</p>
        </li>
        <li>
          <p class="lead">38 – Pedras De Maria Da Cruz – MG</p>
        </li>
        <li>
          <p class="lead">38 – Pintópolis – MG</p>
        </li>
        <li>
          <p class="lead">38 – Pirapora – MG</p>
        </li>
        <li>
          <p class="lead">38 – Ponto Chique – MG</p>
        </li>
        <li>
          <p class="lead">38 – Porteirinha – MG</p>
        </li>
        <li>
          <p class="lead">38 – Presidente Juscelino – MG</p>
        </li>
        <li>
          <p class="lead">38 – Presidente Kubitschek – MG</p>
        </li>
        <li>
          <p class="lead">38 – Riachinho – MG</p>
        </li>
        <li>
          <p class="lead">38 – Riacho Dos Machados – MG</p>
        </li>
        <li>
          <p class="lead">38 – Rio Pardo De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Rubelita – MG</p>
        </li>
        <li>
          <p class="lead">38 – Salinas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Santa Cruz De Salinas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Santa Fé De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Santo Antônio Do Retiro – MG</p>
        </li>
        <li>
          <p class="lead">38 – Santo Hipólito – MG</p>
        </li>
        <li>
          <p class="lead">38 – São Francisco – MG</p>
        </li>
        <li>
          <p class="lead">38 – São Gonçalo Do Abaeté – MG</p>
        </li>
        <li>
          <p class="lead">38 – São Gonçalo Do Rio Preto – MG</p>
        </li>
        <li>
          <p class="lead">38 – São João Da Lagoa – MG</p>
        </li>
        <li>
          <p class="lead">38 – São João Da Ponte – MG</p>
        </li>
        <li>
          <p class="lead">38 – São João Das Missões – MG</p>
        </li>
        <li>
          <p class="lead">38 – São João Do Pacuí – MG</p>
        </li>
        <li>
          <p class="lead">38 – São João Do Paraíso – MG</p>
        </li>
        <li>
          <p class="lead">38 – São Romão – MG</p>
        </li>
        <li>
          <p class="lead">38 – Senador Modestino Gonçalves – MG</p>
        </li>
        <li>
          <p class="lead">38 – Serra Azul De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Serranópolis De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Serro – MG</p>
        </li>
        <li>
          <p class="lead">38 – Taiobeiras – MG</p>
        </li>
        <li>
          <p class="lead">38 – Três Marias – MG</p>
        </li>
        <li>
          <p class="lead">38 – Turmalina – MG</p>
        </li>
        <li>
          <p class="lead">38 – Ubaí – MG</p>
        </li>
        <li>
          <p class="lead">38 – Unaí – MG</p>
        </li>
        <li>
          <p class="lead">38 – Uruana De Minas – MG</p>
        </li>
        <li>
          <p class="lead">38 – Urucuia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Vargem Grande Do Rio Pardo – MG</p>
        </li>
        <li>
          <p class="lead">38 – Varjão – MG</p>
        </li>
        <li>
          <p class="lead">38 – Várzea Da Palma – MG</p>
        </li>
        <li>
          <p class="lead">38 – Varzelândia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Verdelândia – MG</p>
        </li>
        <li>
          <p class="lead">38 – Veredinha – MG</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}