{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 83 – João Pessoa
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">83 – Água Branca – PB</p>
        </li>
        <li>
          <p class="lead">83 – Aguiar – PB</p>
        </li>
        <li>
          <p class="lead">83 – Alagoa Grande – PB</p>
        </li>
        <li>
          <p class="lead">83 – Alagoa Nova – PB</p>
        </li>
        <li>
          <p class="lead">83 – Alagoinha – PB</p>
        </li>
        <li>
          <p class="lead">83 – Alcantil – PB</p>
        </li>
        <li>
          <p class="lead">83 – Algodão De Jandaíra – PB</p>
        </li>
        <li>
          <p class="lead">83 – Alhandra – PB</p>
        </li>
        <li>
          <p class="lead">83 – Amparo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Aparecida – PB</p>
        </li>
        <li>
          <p class="lead">83 – Araçagi – PB</p>
        </li>
        <li>
          <p class="lead">83 – Arara – PB</p>
        </li>
        <li>
          <p class="lead">83 – Araruna – PB</p>
        </li>
        <li>
          <p class="lead">83 – Areia – PB</p>
        </li>
        <li>
          <p class="lead">83 – Areia De Baraúnas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Areial – PB</p>
        </li>
        <li>
          <p class="lead">83 – Aroeiras – PB</p>
        </li>
        <li>
          <p class="lead">83 – Assunção – PB</p>
        </li>
        <li>
          <p class="lead">83 – Baía Da Traição – PB</p>
        </li>
        <li>
          <p class="lead">83 – Bananeiras – PB</p>
        </li>
        <li>
          <p class="lead">83 – Barauna – PB</p>
        </li>
        <li>
          <p class="lead">83 – Barra De Santa Rosa – PB</p>
        </li>
        <li>
          <p class="lead">83 – Barra De Santana – PB</p>
        </li>
        <li>
          <p class="lead">83 – Barra De São Miguel – PB</p>
        </li>
        <li>
          <p class="lead">83 – Bayeux – PB</p>
        </li>
        <li>
          <p class="lead">83 – Belém – PB</p>
        </li>
        <li>
          <p class="lead">83 – Belém Do Brejo Do Cruz – PB</p>
        </li>
        <li>
          <p class="lead">83 – Bernardino Batista – PB</p>
        </li>
        <li>
          <p class="lead">83 – Boa Ventura – PB</p>
        </li>
        <li>
          <p class="lead">83 – Boa Vista – PB</p>
        </li>
        <li>
          <p class="lead">83 – Bom Jesus – PB</p>
        </li>
        <li>
          <p class="lead">83 – Bom Sucesso – PB</p>
        </li>
        <li>
          <p class="lead">83 – Bonito De Santa Fé – PB</p>
        </li>
        <li>
          <p class="lead">83 – Boqueirão – PB</p>
        </li>
        <li>
          <p class="lead">83 – Borborema – PB</p>
        </li>
        <li>
          <p class="lead">83 – Brejo Do Cruz – PB</p>
        </li>
        <li>
          <p class="lead">83 – Brejo Dos Santos – PB</p>
        </li>
        <li>
          <p class="lead">83 – Caaporã – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cabaceiras – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cabedelo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cachoeira Dos Índios – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cacimba De Areia – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cacimba De Dentro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cacimbas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Caiçara – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cajazeiras – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cajazeirinhas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Caldas Brandão – PB</p>
        </li>
        <li>
          <p class="lead">83 – Camalaú – PB</p>
        </li>
        <li>
          <p class="lead">83 – Campina Grande – PB</p>
        </li>
        <li>
          <p class="lead">83 – Campo De Santana – PB</p>
        </li>
        <li>
          <p class="lead">83 – Capim – PB</p>
        </li>
        <li>
          <p class="lead">83 – Caraúbas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Carrapateira – PB</p>
        </li>
        <li>
          <p class="lead">83 – Casserengue – PB</p>
        </li>
        <li>
          <p class="lead">83 – Catingueira – PB</p>
        </li>
        <li>
          <p class="lead">83 – Catolé Do Rocha – PB</p>
        </li>
        <li>
          <p class="lead">83 – Caturité – PB</p>
        </li>
        <li>
          <p class="lead">83 – Conceição – PB</p>
        </li>
        <li>
          <p class="lead">83 – Condado – PB</p>
        </li>
        <li>
          <p class="lead">83 – Conde – PB</p>
        </li>
        <li>
          <p class="lead">83 – Congo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Coremas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Coxixola – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cruz Do Espírito Santo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cubati – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cuité – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cuité De Mamanguape – PB</p>
        </li>
        <li>
          <p class="lead">83 – Cuitegi – PB</p>
        </li>
        <li>
          <p class="lead">83 – Curral De Cima – PB</p>
        </li>
        <li>
          <p class="lead">83 – Curral Velho – PB</p>
        </li>
        <li>
          <p class="lead">83 – Damião – PB</p>
        </li>
        <li>
          <p class="lead">83 – Desterro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Diamante – PB</p>
        </li>
        <li>
          <p class="lead">83 – Dona Inês – PB</p>
        </li>
        <li>
          <p class="lead">83 – Duas Estradas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Emas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Esperança – PB</p>
        </li>
        <li>
          <p class="lead">83 – Fagundes – PB</p>
        </li>
        <li>
          <p class="lead">83 – Frei Martinho – PB</p>
        </li>
        <li>
          <p class="lead">83 – Gado Bravo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Guarabira – PB</p>
        </li>
        <li>
          <p class="lead">83 – Gurinhém – PB</p>
        </li>
        <li>
          <p class="lead">83 – Gurjão – PB</p>
        </li>
        <li>
          <p class="lead">83 – Ibiara – PB</p>
        </li>
        <li>
          <p class="lead">83 – Igaracy – PB</p>
        </li>
        <li>
          <p class="lead">83 – Imaculada – PB</p>
        </li>
        <li>
          <p class="lead">83 – Ingá – PB</p>
        </li>
        <li>
          <p class="lead">83 – Itabaiana – PB</p>
        </li>
        <li>
          <p class="lead">83 – Itaporanga – PB</p>
        </li>
        <li>
          <p class="lead">83 – Itapororoca – PB</p>
        </li>
        <li>
          <p class="lead">83 – Itatuba – PB</p>
        </li>
        <li>
          <p class="lead">83 – Jacaraú – PB</p>
        </li>
        <li>
          <p class="lead">83 – Jericó – PB</p>
        </li>
        <li>
          <p class="lead">83 – João Pessoa – PB</p>
        </li>
        <li>
          <p class="lead">83 – Juarez Távora – PB</p>
        </li>
        <li>
          <p class="lead">83 – Juazeirinho – PB</p>
        </li>
        <li>
          <p class="lead">83 – Junco Do Seridó – PB</p>
        </li>
        <li>
          <p class="lead">83 – Juripiranga – PB</p>
        </li>
        <li>
          <p class="lead">83 – Juru – PB</p>
        </li>
        <li>
          <p class="lead">83 – Lagoa – PB</p>
        </li>
        <li>
          <p class="lead">83 – Lagoa De Dentro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Lagoa Seca – PB</p>
        </li>
        <li>
          <p class="lead">83 – Lastro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Livramento – PB</p>
        </li>
        <li>
          <p class="lead">83 – Logradouro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Lucena – PB</p>
        </li>
        <li>
          <p class="lead">83 – Mãe D’água – PB</p>
        </li>
        <li>
          <p class="lead">83 – Malta – PB</p>
        </li>
        <li>
          <p class="lead">83 – Mamanguape – PB</p>
        </li>
        <li>
          <p class="lead">83 – Manaíra – PB</p>
        </li>
        <li>
          <p class="lead">83 – Marcação – PB</p>
        </li>
        <li>
          <p class="lead">83 – Mari – PB</p>
        </li>
        <li>
          <p class="lead">83 – Marizópolis – PB</p>
        </li>
        <li>
          <p class="lead">83 – Massaranduba – PB</p>
        </li>
        <li>
          <p class="lead">83 – Mataraca – PB</p>
        </li>
        <li>
          <p class="lead">83 – Matinhas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Mato Grosso – PB</p>
        </li>
        <li>
          <p class="lead">83 – Maturéia – PB</p>
        </li>
        <li>
          <p class="lead">83 – Mogeiro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Montadas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Monte Horebe – PB</p>
        </li>
        <li>
          <p class="lead">83 – Monteiro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Mulungu – PB</p>
        </li>
        <li>
          <p class="lead">83 – Natuba – PB</p>
        </li>
        <li>
          <p class="lead">83 – Nazarezinho – PB</p>
        </li>
        <li>
          <p class="lead">83 – Nova Floresta – PB</p>
        </li>
        <li>
          <p class="lead">83 – Nova Olinda – PB</p>
        </li>
        <li>
          <p class="lead">83 – Nova Palmeira – PB</p>
        </li>
        <li>
          <p class="lead">83 – Olho D’água – PB</p>
        </li>
        <li>
          <p class="lead">83 – Olivedos – PB</p>
        </li>
        <li>
          <p class="lead">83 – Ouro Velho – PB</p>
        </li>
        <li>
          <p class="lead">83 – Parari – PB</p>
        </li>
        <li>
          <p class="lead">83 – Passagem – PB</p>
        </li>
        <li>
          <p class="lead">83 – Patos – PB</p>
        </li>
        <li>
          <p class="lead">83 – Paulista – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pedra Branca – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pedra Lavrada – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pedras De Fogo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pedro Réges – PB</p>
        </li>
        <li>
          <p class="lead">83 – Piancó – PB</p>
        </li>
        <li>
          <p class="lead">83 – Picuí – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pilar – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pilões – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pilõezinhos – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pirpirituba – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pitimbu – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pocinhos – PB</p>
        </li>
        <li>
          <p class="lead">83 – Poço Dantas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Poço De José De Moura – PB</p>
        </li>
        <li>
          <p class="lead">83 – Pombal – PB</p>
        </li>
        <li>
          <p class="lead">83 – Prata – PB</p>
        </li>
        <li>
          <p class="lead">83 – Princesa Isabel – PB</p>
        </li>
        <li>
          <p class="lead">83 – Puxinanã – PB</p>
        </li>
        <li>
          <p class="lead">83 – Queimadas – PB</p>
        </li>
        <li>
          <p class="lead">83 – Quixabá – PB</p>
        </li>
        <li>
          <p class="lead">83 – Remígio – PB</p>
        </li>
        <li>
          <p class="lead">83 – Riachão – PB</p>
        </li>
        <li>
          <p class="lead">83 – Riachão Do Bacamarte – PB</p>
        </li>
        <li>
          <p class="lead">83 – Riachão Do Poço – PB</p>
        </li>
        <li>
          <p class="lead">83 – Riacho De Santo Antônio – PB</p>
        </li>
        <li>
          <p class="lead">83 – Riacho Dos Cavalos – PB</p>
        </li>
        <li>
          <p class="lead">83 – Rio Tinto – PB</p>
        </li>
        <li>
          <p class="lead">83 – Salgadinho – PB</p>
        </li>
        <li>
          <p class="lead">83 – Salgado De São Félix – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santa Cecília Do Umbuzeiro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santa Cruz – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santa Helena – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santa Inês – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santa Luzia – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santa Rita – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santa Teresinha – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santana De Mangueira – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santana Dos Garrotes – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santarém – PB</p>
        </li>
        <li>
          <p class="lead">83 – Santo André – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Bentinho – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Bento – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Domingos De Pombal – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Domingos Do Cariri – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Francisco – PB</p>
        </li>
        <li>
          <p class="lead">83 – São João Do Cariri – PB</p>
        </li>
        <li>
          <p class="lead">83 – São João Do Rio Do Peixe – PB</p>
        </li>
        <li>
          <p class="lead">83 – São João Do Tigre – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José Da Lagoa Tapada – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José De Caiana – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José De Espinharas – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José De Piranhas – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José De Princesa – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José Do Bonfim – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José Do Brejo Do Cruz – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José Do Sabugi – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José Dos Cordeiros – PB</p>
        </li>
        <li>
          <p class="lead">83 – São José Dos Ramos – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Mamede – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Miguel De Taipu – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Sebastião De Lagoa De Roça – PB</p>
        </li>
        <li>
          <p class="lead">83 – São Sebastião Do Umbuzeiro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Sapé – PB</p>
        </li>
        <li>
          <p class="lead">83 – Serido – PB</p>
        </li>
        <li>
          <p class="lead">83 – Serra Branca – PB</p>
        </li>
        <li>
          <p class="lead">83 – Serra Da Raiz – PB</p>
        </li>
        <li>
          <p class="lead">83 – Serra Grande – PB</p>
        </li>
        <li>
          <p class="lead">83 – Serra Redonda – PB</p>
        </li>
        <li>
          <p class="lead">83 – Serraria – PB</p>
        </li>
        <li>
          <p class="lead">83 – Sertãozinho – PB</p>
        </li>
        <li>
          <p class="lead">83 – Sobrado – PB</p>
        </li>
        <li>
          <p class="lead">83 – Solânea – PB</p>
        </li>
        <li>
          <p class="lead">83 – Soledade – PB</p>
        </li>
        <li>
          <p class="lead">83 – Sossêgo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Sousa – PB</p>
        </li>
        <li>
          <p class="lead">83 – Sumé – PB</p>
        </li>
        <li>
          <p class="lead">83 – Taperoá – PB</p>
        </li>
        <li>
          <p class="lead">83 – Tavares – PB</p>
        </li>
        <li>
          <p class="lead">83 – Teixeira – PB</p>
        </li>
        <li>
          <p class="lead">83 – Tenório – PB</p>
        </li>
        <li>
          <p class="lead">83 – Triunfo – PB</p>
        </li>
        <li>
          <p class="lead">83 – Uiraúna – PB</p>
        </li>
        <li>
          <p class="lead">83 – Umbuzeiro – PB</p>
        </li>
        <li>
          <p class="lead">83 – Várzea – PB</p>
        </li>
        <li>
          <p class="lead">83 – Vieirópolis – PB</p>
        </li>
        <li>
          <p class="lead">83 – Vista Serrana – PB</p>
        </li>
        <li>
          <p class="lead">83 – Zabelê – PB</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}