{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 51 – Porto Alegre
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">51 – Alto Feliz – RS</p>
        </li>
        <li>
          <p class="lead">51 – Alvorada – RS</p>
        </li>
        <li>
          <p class="lead">51 – Amaral Ferrador – RS</p>
        </li>
        <li>
          <p class="lead">51 – Anta Gorda – RS</p>
        </li>
        <li>
          <p class="lead">51 – Arambaré – RS</p>
        </li>
        <li>
          <p class="lead">51 – Araricá – RS</p>
        </li>
        <li>
          <p class="lead">51 – Arroio Do Meio – RS</p>
        </li>
        <li>
          <p class="lead">51 – Arroio Do Sal – RS</p>
        </li>
        <li>
          <p class="lead">51 – Arroio Do Tigre – RS</p>
        </li>
        <li>
          <p class="lead">51 – Arroio Dos Ratos – RS</p>
        </li>
        <li>
          <p class="lead">51 – Arvorezinha – RS</p>
        </li>
        <li>
          <p class="lead">51 – Balneário Pinhal – RS</p>
        </li>
        <li>
          <p class="lead">51 – Barão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Barão Do Triunfo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Barra Do Ribeiro – RS</p>
        </li>
        <li>
          <p class="lead">51 – Bom Princípio – RS</p>
        </li>
        <li>
          <p class="lead">51 – Bom Retiro Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Boqueirão Do Leão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Brochier – RS</p>
        </li>
        <li>
          <p class="lead">51 – Butiá – RS</p>
        </li>
        <li>
          <p class="lead">51 – Cachoeira Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Cachoeirinha – RS</p>
        </li>
        <li>
          <p class="lead">51 – Camaquã – RS</p>
        </li>
        <li>
          <p class="lead">51 – Campo Bom – RS</p>
        </li>
        <li>
          <p class="lead">51 – Candelária – RS</p>
        </li>
        <li>
          <p class="lead">51 – Canoas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Canudos Do Vale – RS</p>
        </li>
        <li>
          <p class="lead">51 – Capão Da Canoa – RS</p>
        </li>
        <li>
          <p class="lead">51 – Capela De Santana – RS</p>
        </li>
        <li>
          <p class="lead">51 – Capitão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Capivari Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Caraá – RS</p>
        </li>
        <li>
          <p class="lead">51 – Cerro Branco – RS</p>
        </li>
        <li>
          <p class="lead">51 – Cerro Grande Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Charqueadas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Chuvisca – RS</p>
        </li>
        <li>
          <p class="lead">51 – Cidreira – RS</p>
        </li>
        <li>
          <p class="lead">51 – Colinas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Coqueiro Baixo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Cristal – RS</p>
        </li>
        <li>
          <p class="lead">51 – Cruzeiro Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Dois Irmãos – RS</p>
        </li>
        <li>
          <p class="lead">51 – Dom Feliciano – RS</p>
        </li>
        <li>
          <p class="lead">51 – Dom Pedro De Alcântara – RS</p>
        </li>
        <li>
          <p class="lead">51 – Doutor Ricardo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Eldorado Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Encantado – RS</p>
        </li>
        <li>
          <p class="lead">51 – Encruzilhada Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Estância Velha – RS</p>
        </li>
        <li>
          <p class="lead">51 – Esteio – RS</p>
        </li>
        <li>
          <p class="lead">51 – Estrela – RS</p>
        </li>
        <li>
          <p class="lead">51 – Estrela Velha – RS</p>
        </li>
        <li>
          <p class="lead">51 – Fazenda Vilanova – RS</p>
        </li>
        <li>
          <p class="lead">51 – Feliz – RS</p>
        </li>
        <li>
          <p class="lead">51 – Forquetinha – RS</p>
        </li>
        <li>
          <p class="lead">51 – General Câmara – RS</p>
        </li>
        <li>
          <p class="lead">51 – Glorinha – RS</p>
        </li>
        <li>
          <p class="lead">51 – Gramado Xavier – RS</p>
        </li>
        <li>
          <p class="lead">51 – Gravataí – RS</p>
        </li>
        <li>
          <p class="lead">51 – Guaíba – RS</p>
        </li>
        <li>
          <p class="lead">51 – Harmonia – RS</p>
        </li>
        <li>
          <p class="lead">51 – Herveiras – RS</p>
        </li>
        <li>
          <p class="lead">51 – Ibarama – RS</p>
        </li>
        <li>
          <p class="lead">51 – Igrejinha – RS</p>
        </li>
        <li>
          <p class="lead">51 – Ilópolis – RS</p>
        </li>
        <li>
          <p class="lead">51 – Imbé – RS</p>
        </li>
        <li>
          <p class="lead">51 – Imigrante – RS</p>
        </li>
        <li>
          <p class="lead">51 – Itapuca – RS</p>
        </li>
        <li>
          <p class="lead">51 – Itati – RS</p>
        </li>
        <li>
          <p class="lead">51 – Ivoti – RS</p>
        </li>
        <li>
          <p class="lead">51 – Lagoa Bonita Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Lagoão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Lajeado – RS</p>
        </li>
        <li>
          <p class="lead">51 – Lindolfo Collor – RS</p>
        </li>
        <li>
          <p class="lead">51 – Linha Nova – RS</p>
        </li>
        <li>
          <p class="lead">51 – Mampituba – RS</p>
        </li>
        <li>
          <p class="lead">51 – Maquiné – RS</p>
        </li>
        <li>
          <p class="lead">51 – Maratá – RS</p>
        </li>
        <li>
          <p class="lead">51 – Mariana Pimentel – RS</p>
        </li>
        <li>
          <p class="lead">51 – Marques De Souza – RS</p>
        </li>
        <li>
          <p class="lead">51 – Mato Leitão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Minas Do Leão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Montenegro – RS</p>
        </li>
        <li>
          <p class="lead">51 – Morrinhos Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Morro Reuter – RS</p>
        </li>
        <li>
          <p class="lead">51 – Mostardas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Muçum – RS</p>
        </li>
        <li>
          <p class="lead">51 – Nova Bréscia – RS</p>
        </li>
        <li>
          <p class="lead">51 – Nova Hartz – RS</p>
        </li>
        <li>
          <p class="lead">51 – Nova Santa Rita – RS</p>
        </li>
        <li>
          <p class="lead">51 – Novo Cabrais – RS</p>
        </li>
        <li>
          <p class="lead">51 – Novo Hamburgo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Osório – RS</p>
        </li>
        <li>
          <p class="lead">51 – Palmares Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Pântano Grande – RS</p>
        </li>
        <li>
          <p class="lead">51 – Pareci Novo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Parobé – RS</p>
        </li>
        <li>
          <p class="lead">51 – Passa Sete – RS</p>
        </li>
        <li>
          <p class="lead">51 – Passo Do Sobrado – RS</p>
        </li>
        <li>
          <p class="lead">51 – Paverama – RS</p>
        </li>
        <li>
          <p class="lead">51 – Poço Das Antas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Portão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Porto Alegre – RS</p>
        </li>
        <li>
          <p class="lead">51 – Pouso Novo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Presidente Lucena – RS</p>
        </li>
        <li>
          <p class="lead">51 – Progresso – RS</p>
        </li>
        <li>
          <p class="lead">51 – Putinga – RS</p>
        </li>
        <li>
          <p class="lead">51 – Relvado – RS</p>
        </li>
        <li>
          <p class="lead">51 – Rio Pardo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Riozinho – RS</p>
        </li>
        <li>
          <p class="lead">51 – Roca Sales – RS</p>
        </li>
        <li>
          <p class="lead">51 – Rolante – RS</p>
        </li>
        <li>
          <p class="lead">51 – Salvador Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Santa Clara Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Santa Cruz Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Santa Maria Do Herval – RS</p>
        </li>
        <li>
          <p class="lead">51 – Santo Antônio Da Patrulha – RS</p>
        </li>
        <li>
          <p class="lead">51 – São Jerônimo – RS</p>
        </li>
        <li>
          <p class="lead">51 – São José Do Hortêncio – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sao Jose Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – São Leopoldo – RS</p>
        </li>
        <li>
          <p class="lead">51 – São Pedro Da Serra – RS</p>
        </li>
        <li>
          <p class="lead">51 – São Sebastião Do Caí – RS</p>
        </li>
        <li>
          <p class="lead">51 – São Vendelino – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sapiranga – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sapucaia Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Segredo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sentinela Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sério – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sertão Santana – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sinimbu – RS</p>
        </li>
        <li>
          <p class="lead">51 – Sobradinho – RS</p>
        </li>
        <li>
          <p class="lead">51 – Tabaí – RS</p>
        </li>
        <li>
          <p class="lead">51 – Tapes – RS</p>
        </li>
        <li>
          <p class="lead">51 – Taquara – RS</p>
        </li>
        <li>
          <p class="lead">51 – Taquari – RS</p>
        </li>
        <li>
          <p class="lead">51 – Tavares – RS</p>
        </li>
        <li>
          <p class="lead">51 – Terra De Areia – RS</p>
        </li>
        <li>
          <p class="lead">51 – Teutônia – RS</p>
        </li>
        <li>
          <p class="lead">51 – Torres – RS</p>
        </li>
        <li>
          <p class="lead">51 – Tramandaí – RS</p>
        </li>
        <li>
          <p class="lead">51 – Travesseiro – RS</p>
        </li>
        <li>
          <p class="lead">51 – Três Cachoeiras – RS</p>
        </li>
        <li>
          <p class="lead">51 – Três Coroas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Três Forquilhas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Triunfo – RS</p>
        </li>
        <li>
          <p class="lead">51 – Tunas – RS</p>
        </li>
        <li>
          <p class="lead">51 – Tupandi – RS</p>
        </li>
        <li>
          <p class="lead">51 – Vale Do Sol – RS</p>
        </li>
        <li>
          <p class="lead">51 – Vale Real – RS</p>
        </li>
        <li>
          <p class="lead">51 – Vale Verde – RS</p>
        </li>
        <li>
          <p class="lead">51 – Venâncio Aires – RS</p>
        </li>
        <li>
          <p class="lead">51 – Vera Cruz – RS</p>
        </li>
        <li>
          <p class="lead">51 – Vespasiano Correa – RS</p>
        </li>
        <li>
          <p class="lead">51 – Viamão – RS</p>
        </li>
        <li>
          <p class="lead">51 – Westfalia – RS</p>
        </li>
        <li>
          <p class="lead">51 – Xangri-Lá – RS</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}