<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 53 – Pelotas
      </h2>
      <br>
      <br>
      <ul>
          <li><p class="lead">53 – Acegua – RS</p></li>
          <li><p class="lead">53 – Arroio Do Padre – RS</p></li>
          <li><p class="lead">53 – Arroio Grande – RS</p></li>
          <li><p class="lead">53 – Bagé – RS</p></li>
          <li><p class="lead">53 – Candiota – RS</p></li>
          <li><p class="lead">53 – Canguçu – RS</p></li>
          <li><p class="lead">53 – Capão Do Leão – RS</p></li>
          <li><p class="lead">53 – Cerrito – RS</p></li>
          <li><p class="lead">53 – Chuí – RS</p></li>
          <li><p class="lead">53 – Dom Pedrito – RS</p></li>
          <li><p class="lead">53 – Herval – RS</p></li>
          <li><p class="lead">53 – Hulha Negra – RS</p></li>
          <li><p class="lead">53 – Jaguarão – RS</p></li>
          <li><p class="lead">53 – Morro Redondo – RS</p></li>
          <li><p class="lead">53 – Pedras Altas – RS</p></li>
          <li><p class="lead">53 – Pedro Osório – RS</p></li>
          <li><p class="lead">53 – Pelotas – RS</p></li>
          <li><p class="lead">53 – Pinheiro Machado – RS</p></li>
          <li><p class="lead">53 – Piratini – RS</p></li>
          <li><p class="lead">53 – Rio Grande – RS</p></li>
          <li><p class="lead">53 – Santa Vitória Do Palmar – RS</p></li>
          <li><p class="lead">53 – Santana Da Boa Vista – RS</p></li>
          <li><p class="lead">53 – São José Do Norte – RS</p></li>
          <li><p class="lead">53 – São Lourenço Do Sul – RS</p></li>
          <li><p class="lead">53 – Turuçu – RS</p></li>   
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>