{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 54 – Caxias do Sul
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">54 – Água Santa – RS</p>
        </li>
        <li>
          <p class="lead">54 – Almirante Tamandare Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Alto Alegre – RS</p>
        </li>
        <li>
          <p class="lead">54 – André Da Rocha – RS</p>
        </li>
        <li>
          <p class="lead">54 – Antônio Prado – RS</p>
        </li>
        <li>
          <p class="lead">54 – Aratiba – RS</p>
        </li>
        <li>
          <p class="lead">54 – Áurea – RS</p>
        </li>
        <li>
          <p class="lead">54 – Barão De Cotegipe – RS</p>
        </li>
        <li>
          <p class="lead">54 – Barra Do Rio Azul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Barra Funda – RS</p>
        </li>
        <li>
          <p class="lead">54 – Barracão – RS</p>
        </li>
        <li>
          <p class="lead">54 – Barros Cassal – RS</p>
        </li>
        <li>
          <p class="lead">54 – Benjamin Constant Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Bento Gonçalves – RS</p>
        </li>
        <li>
          <p class="lead">54 – Boa Vista Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Bom Jesus – RS</p>
        </li>
        <li>
          <p class="lead">54 – Cacique Doble – RS</p>
        </li>
        <li>
          <p class="lead">54 – Camargo – RS</p>
        </li>
        <li>
          <p class="lead">54 – Cambará Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Campestre Da Serra – RS</p>
        </li>
        <li>
          <p class="lead">54 – Campinas Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Campos Borges – RS</p>
        </li>
        <li>
          <p class="lead">54 – Canela – RS</p>
        </li>
        <li>
          <p class="lead">54 – Capao Bonito Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Carazinho – RS</p>
        </li>
        <li>
          <p class="lead">54 – Carlos Barbosa – RS</p>
        </li>
        <li>
          <p class="lead">54 – Carlos Gomes – RS</p>
        </li>
        <li>
          <p class="lead">54 – Casca – RS</p>
        </li>
        <li>
          <p class="lead">54 – Caseiros – RS</p>
        </li>
        <li>
          <p class="lead">54 – Caxias Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Centenário – RS</p>
        </li>
        <li>
          <p class="lead">54 – Chapada – RS</p>
        </li>
        <li>
          <p class="lead">54 – Charrua – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ciríaco – RS</p>
        </li>
        <li>
          <p class="lead">54 – Colorado – RS</p>
        </li>
        <li>
          <p class="lead">54 – Constantina – RS</p>
        </li>
        <li>
          <p class="lead">54 – Coqueiros Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Coronel Pilar – RS</p>
        </li>
        <li>
          <p class="lead">54 – Cotiporã – RS</p>
        </li>
        <li>
          <p class="lead">54 – Coxilha – RS</p>
        </li>
        <li>
          <p class="lead">54 – Cruzaltense – RS</p>
        </li>
        <li>
          <p class="lead">54 – David Canabarro – RS</p>
        </li>
        <li>
          <p class="lead">54 – Dois Lajeados – RS</p>
        </li>
        <li>
          <p class="lead">54 – Engenho Velho – RS</p>
        </li>
        <li>
          <p class="lead">54 – Entre Rios Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Erebango – RS</p>
        </li>
        <li>
          <p class="lead">54 – Erechim – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ernestina – RS</p>
        </li>
        <li>
          <p class="lead">54 – Erval Grande – RS</p>
        </li>
        <li>
          <p class="lead">54 – Esmeralda – RS</p>
        </li>
        <li>
          <p class="lead">54 – Espumoso – RS</p>
        </li>
        <li>
          <p class="lead">54 – Estação – RS</p>
        </li>
        <li>
          <p class="lead">54 – Fagundes Varela – RS</p>
        </li>
        <li>
          <p class="lead">54 – Farroupilha – RS</p>
        </li>
        <li>
          <p class="lead">54 – Faxinalzinho – RS</p>
        </li>
        <li>
          <p class="lead">54 – Flores Da Cunha – RS</p>
        </li>
        <li>
          <p class="lead">54 – Floriano Peixoto – RS</p>
        </li>
        <li>
          <p class="lead">54 – Fontoura Xavier – RS</p>
        </li>
        <li>
          <p class="lead">54 – Garibaldi – RS</p>
        </li>
        <li>
          <p class="lead">54 – Gaurama – RS</p>
        </li>
        <li>
          <p class="lead">54 – Gentil – RS</p>
        </li>
        <li>
          <p class="lead">54 – Getúlio Vargas – RS</p>
        </li>
        <li>
          <p class="lead">54 – Gramado – RS</p>
        </li>
        <li>
          <p class="lead">54 – Gramado Dos Loureiros – RS</p>
        </li>
        <li>
          <p class="lead">54 – Guabiju – RS</p>
        </li>
        <li>
          <p class="lead">54 – Guaporé – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ibiaçá – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ibiraiaras – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ibirapuitã – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ibirubá – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ipê – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ipiranga Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Itatiba Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Jacutinga – RS</p>
        </li>
        <li>
          <p class="lead">54 – Jaquirana – RS</p>
        </li>
        <li>
          <p class="lead">54 – Lagoa Dos Três Cantos – RS</p>
        </li>
        <li>
          <p class="lead">54 – Lagoa Vermelha – RS</p>
        </li>
        <li>
          <p class="lead">54 – Machadinho – RS</p>
        </li>
        <li>
          <p class="lead">54 – Marau – RS</p>
        </li>
        <li>
          <p class="lead">54 – Marcelino Ramos – RS</p>
        </li>
        <li>
          <p class="lead">54 – Mariano Moro – RS</p>
        </li>
        <li>
          <p class="lead">54 – Mato Castelhano – RS</p>
        </li>
        <li>
          <p class="lead">54 – Maximiliano De Almeida – RS</p>
        </li>
        <li>
          <p class="lead">54 – Montauri – RS</p>
        </li>
        <li>
          <p class="lead">54 – Monte Alegre Dos Campos – RS</p>
        </li>
        <li>
          <p class="lead">54 – Monte Belo Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Mormaço – RS</p>
        </li>
        <li>
          <p class="lead">54 – Muitos Capões – RS</p>
        </li>
        <li>
          <p class="lead">54 – Muliterno – RS</p>
        </li>
        <li>
          <p class="lead">54 – Não-Me-Toque – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nicolau Vergueiro – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nonoai – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Alvorada – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Araçá – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Bassano – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Boa Vista – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Pádua – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Petrópolis – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Prata – RS</p>
        </li>
        <li>
          <p class="lead">54 – Nova Roma Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Novo Xingu – RS</p>
        </li>
        <li>
          <p class="lead">54 – Paim Filho – RS</p>
        </li>
        <li>
          <p class="lead">54 – Paraí – RS</p>
        </li>
        <li>
          <p class="lead">54 – Passo Fundo – RS</p>
        </li>
        <li>
          <p class="lead">54 – Paulo Bento – RS</p>
        </li>
        <li>
          <p class="lead">54 – Picada Café – RS</p>
        </li>
        <li>
          <p class="lead">54 – Pinhal Da Serra – RS</p>
        </li>
        <li>
          <p class="lead">54 – Pinto Bandeira – RS</p>
        </li>
        <li>
          <p class="lead">54 – Pontão – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ponte Preta – RS</p>
        </li>
        <li>
          <p class="lead">54 – Protásio Alves – RS</p>
        </li>
        <li>
          <p class="lead">54 – Quatro Irmaos – RS</p>
        </li>
        <li>
          <p class="lead">54 – Quinze De Novembro – RS</p>
        </li>
        <li>
          <p class="lead">54 – Rio Dos Indios – RS</p>
        </li>
        <li>
          <p class="lead">54 – Ronda Alta – RS</p>
        </li>
        <li>
          <p class="lead">54 – Rondinha – RS</p>
        </li>
        <li>
          <p class="lead">54 – Sananduva – RS</p>
        </li>
        <li>
          <p class="lead">54 – Santa Cecilia Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Santa Tereza – RS</p>
        </li>
        <li>
          <p class="lead">54 – Santo Antônio Do Palma – RS</p>
        </li>
        <li>
          <p class="lead">54 – Santo Antônio Do Planalto – RS</p>
        </li>
        <li>
          <p class="lead">54 – Santo Expedito Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – São Domingos Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – São Francisco De Paula – RS</p>
        </li>
        <li>
          <p class="lead">54 – São João Da Urtiga – RS</p>
        </li>
        <li>
          <p class="lead">54 – São Jorge – RS</p>
        </li>
        <li>
          <p class="lead">54 – São José Do Herval – RS</p>
        </li>
        <li>
          <p class="lead">54 – São José Do Ouro – RS</p>
        </li>
        <li>
          <p class="lead">54 – São José Dos Ausentes – RS</p>
        </li>
        <li>
          <p class="lead">54 – São Marcos – RS</p>
        </li>
        <li>
          <p class="lead">54 – São Valentim – RS</p>
        </li>
        <li>
          <p class="lead">54 – São Valentim Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Sarandi – RS</p>
        </li>
        <li>
          <p class="lead">54 – Selbach – RS</p>
        </li>
        <li>
          <p class="lead">54 – Serafina Corrêa – RS</p>
        </li>
        <li>
          <p class="lead">54 – Sertão – RS</p>
        </li>
        <li>
          <p class="lead">54 – Severiano De Almeida – RS</p>
        </li>
        <li>
          <p class="lead">54 – Soledade – RS</p>
        </li>
        <li>
          <p class="lead">54 – Tapejara – RS</p>
        </li>
        <li>
          <p class="lead">54 – Tapera – RS</p>
        </li>
        <li>
          <p class="lead">54 – Tio Hugo – RS</p>
        </li>
        <li>
          <p class="lead">54 – Três Arroios – RS</p>
        </li>
        <li>
          <p class="lead">54 – Três Palmeiras – RS</p>
        </li>
        <li>
          <p class="lead">54 – Trindade Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – Tupanci Do Sul – RS</p>
        </li>
        <li>
          <p class="lead">54 – União Da Serra – RS</p>
        </li>
        <li>
          <p class="lead">54 – Vacaria – RS</p>
        </li>
        <li>
          <p class="lead">54 – Vanini – RS</p>
        </li>
        <li>
          <p class="lead">54 – Veranópolis – RS</p>
        </li>
        <li>
          <p class="lead">54 – Viadutos – RS</p>
        </li>
        <li>
          <p class="lead">54 – Victor Graeff – RS</p>
        </li>
        <li>
          <p class="lead">54 – Vila Flores – RS</p>
        </li>
        <li>
          <p class="lead">54 – Vila Lângaro – RS</p>
        </li>
        <li>
          <p class="lead">54 – Vila Maria – RS</p>
        </li>
        <li>
          <p class="lead">54 – Vista Alegre Do Prata – RS</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}