<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 55 – Santa Maria
      </h2>
      <br>
      <br>
      <ul>
          <li><p class="lead">55 – Agudo – RS</p></li>
          <li><p class="lead">55 – Ajuricaba – RS</p></li>
          <li><p class="lead">55 – Alecrim – RS</p></li>
          <li><p class="lead">55 – Alegrete – RS</p></li>
          <li><p class="lead">55 – Alegria – RS</p></li>
          <li><p class="lead">55 – Alpestre – RS</p></li>
          <li><p class="lead">55 – Ametista Do Sul – RS</p></li>
          <li><p class="lead">55 – Augusto Pestana – RS</p></li>
          <li><p class="lead">55 – Barra Do Guarita – RS</p></li>
          <li><p class="lead">55 – Barra Do Quaraí – RS</p></li>
          <li><p class="lead">55 – Boa Vista Das Missões – RS</p></li>
          <li><p class="lead">55 – Boa Vista Do Buricá – RS</p></li>
          <li><p class="lead">55 – Boa Vista Do Cadeado – RS</p></li>
          <li><p class="lead">55 – Boa Vista Do Incra – RS</p></li>
          <li><p class="lead">55 – Bom Progresso – RS</p></li>
          <li><p class="lead">55 – Bossoroca – RS</p></li>
          <li><p class="lead">55 – Bozano – RS</p></li>
          <li><p class="lead">55 – Braga – RS</p></li>
          <li><p class="lead">55 – Caçapava Do Sul – RS</p></li>
          <li><p class="lead">55 – Cacequi – RS</p></li>
          <li><p class="lead">55 – Caibaté – RS</p></li>
          <li><p class="lead">55 – Caiçara – RS</p></li>
          <li><p class="lead">55 – Campina Das Missões – RS</p></li>
          <li><p class="lead">55 – Campo Novo – RS</p></li>
          <li><p class="lead">55 – Cândido Godói – RS</p></li>
          <li><p class="lead">55 – Capao Do Cipo – RS</p></li>
          <li><p class="lead">55 – Catuípe – RS</p></li>
          <li><p class="lead">55 – Cerro Grande – RS</p></li>
          <li><p class="lead">55 – Cerro Largo – RS</p></li>
          <li><p class="lead">55 – Chiapeta – RS</p></li>
          <li><p class="lead">55 – Condor – RS</p></li>
          <li><p class="lead">55 – Coronel Barros – RS</p></li>
          <li><p class="lead">55 – Coronel Bicaco – RS</p></li>
          <li><p class="lead">55 – Crissiumal – RS</p></li>
          <li><p class="lead">55 – Cristal Do Sul – RS</p></li>
          <li><p class="lead">55 – Cruz Alta – RS</p></li>
          <li><p class="lead">55 – Derrubadas – RS</p></li>
          <li><p class="lead">55 – Dezesseis De Novembro – RS</p></li>
          <li><p class="lead">55 – Dilermando De Aguiar – RS</p></li>
          <li><p class="lead">55 – Dois Irmãos Das Missões – RS</p></li>
          <li><p class="lead">55 – Dona Francisca – RS</p></li>
          <li><p class="lead">55 – Doutor Maurício Cardoso – RS</p></li>
          <li><p class="lead">55 – Entre-Ijuís – RS</p></li>
          <li><p class="lead">55 – Erval Seco – RS</p></li>
          <li><p class="lead">55 – Esperança Do Sul – RS</p></li>
          <li><p class="lead">55 – Eugênio De Castro – RS</p></li>
          <li><p class="lead">55 – Faxinal Do Soturno – RS</p></li>
          <li><p class="lead">55 – Formigueiro – RS</p></li>
          <li><p class="lead">55 – Fortaleza Dos Valos – RS</p></li>
          <li><p class="lead">55 – Frederico Westphalen – RS</p></li>
          <li><p class="lead">55 – Garruchos – RS</p></li>
          <li><p class="lead">55 – Giruá – RS</p></li>
          <li><p class="lead">55 – Guarani Das Missões – RS</p></li>
          <li><p class="lead">55 – Horizontina – RS</p></li>
          <li><p class="lead">55 – Humaitá – RS</p></li>
          <li><p class="lead">55 – Ijuí – RS</p></li>
          <li><p class="lead">55 – Independência – RS</p></li>
          <li><p class="lead">55 – Inhacorá – RS</p></li>
          <li><p class="lead">55 – Iraí – RS</p></li>
          <li><p class="lead">55 – Itaara – RS</p></li>
          <li><p class="lead">55 – Itacurubi – RS</p></li>
          <li><p class="lead">55 – Itaqui – RS</p></li>
          <li><p class="lead">55 – Ivorá – RS</p></li>
          <li><p class="lead">55 – Jaboticaba – RS</p></li>
          <li><p class="lead">55 – Jacuizinho – RS</p></li>
          <li><p class="lead">55 – Jaguari – RS</p></li>
          <li><p class="lead">55 – Jari – RS</p></li>
          <li><p class="lead">55 – Jóia – RS</p></li>
          <li><p class="lead">55 – Júlio De Castilhos – RS</p></li>
          <li><p class="lead">55 – Lajeado Do Bugre – RS</p></li>
          <li><p class="lead">55 – Lavras Do Sul – RS</p></li>
          <li><p class="lead">55 – Liberato Salzano – RS</p></li>
          <li><p class="lead">55 – Maçambara – RS</p></li>
          <li><p class="lead">55 – Manoel Viana – RS</p></li>
          <li><p class="lead">55 – Mata – RS</p></li>
          <li><p class="lead">55 – Mato Queimado – RS</p></li>
          <li><p class="lead">55 – Miraguaí – RS</p></li>
          <li><p class="lead">55 – Nova Candelária – RS</p></li>
          <li><p class="lead">55 – Nova Esperança Do Sul – RS</p></li>
          <li><p class="lead">55 – Nova Palma – RS</p></li>
          <li><p class="lead">55 – Nova Ramada – RS</p></li>
          <li><p class="lead">55 – Novo Barreiro – RS</p></li>
          <li><p class="lead">55 – Novo Machado – RS</p></li>
          <li><p class="lead">55 – Novo Tiradentes – RS</p></li>
          <li><p class="lead">55 – Palmeira Das Missões – RS</p></li>
          <li><p class="lead">55 – Palmitinho – RS</p></li>
          <li><p class="lead">55 – Panambi – RS</p></li>
          <li><p class="lead">55 – Paraíso Do Sul – RS</p></li>
          <li><p class="lead">55 – Pejuçara – RS</p></li>
          <li><p class="lead">55 – Pinhal – RS</p></li>
          <li><p class="lead">55 – Pinhal Grande – RS</p></li>
          <li><p class="lead">55 – Pinheirinho Do Vale – RS</p></li>
          <li><p class="lead">55 – Pirapó – RS</p></li>
          <li><p class="lead">55 – Planalto – RS</p></li>
          <li><p class="lead">55 – Porto Lucena – RS</p></li>
          <li><p class="lead">55 – Porto Mauá – RS</p></li>
          <li><p class="lead">55 – Porto Vera Cruz – RS</p></li>
          <li><p class="lead">55 – Porto Xavier – RS</p></li>
          <li><p class="lead">55 – Quaraí – RS</p></li>
          <li><p class="lead">55 – Quevedos – RS</p></li>
          <li><p class="lead">55 – Redentora – RS</p></li>
          <li><p class="lead">55 – Restinga Seca – RS</p></li>
          <li><p class="lead">55 – Rodeio Bonito – RS</p></li>
          <li><p class="lead">55 – Rolador – RS</p></li>
          <li><p class="lead">55 – Roque Gonzales – RS</p></li>
          <li><p class="lead">55 – Rosário Do Sul – RS</p></li>
          <li><p class="lead">55 – Sagrada Família – RS</p></li>
          <li><p class="lead">55 – Saldanha Marinho – RS</p></li>
          <li><p class="lead">55 – Salto Do Jacuí – RS</p></li>
          <li><p class="lead">55 – Salvador Das Missões – RS</p></li>
          <li><p class="lead">55 – Santa Bárbara Do Sul – RS</p></li>
          <li><p class="lead">55 – Santa Margarida Do Sul – RS</p></li>
          <li><p class="lead">55 – Santa Maria – RS</p></li>
          <li><p class="lead">55 – Santa Rosa – RS</p></li>
          <li><p class="lead">55 – Santana Do Livramento – RS</p></li>
          <li><p class="lead">55 – Santiago – RS</p></li>
          <li><p class="lead">55 – Santo Ângelo – RS</p></li>
          <li><p class="lead">55 – Santo Antônio Das Missões – RS</p></li>
          <li><p class="lead">55 – Santo Augusto – RS</p></li>
          <li><p class="lead">55 – Santo Cristo – RS</p></li>
          <li><p class="lead">55 – São Borja – RS</p></li>
          <li><p class="lead">55 – São Francisco De Assis – RS</p></li>
          <li><p class="lead">55 – São Gabriel – RS</p></li>
          <li><p class="lead">55 – São João Do Polêsine – RS</p></li>
          <li><p class="lead">55 – São José Das Missões – RS</p></li>
          <li><p class="lead">55 – São José Do Inhacorá – RS</p></li>
          <li><p class="lead">55 – São Luiz Gonzaga – RS</p></li>
          <li><p class="lead">55 – São Martinho – RS</p></li>
          <li><p class="lead">55 – São Martinho Da Serra – RS</p></li>
          <li><p class="lead">55 – São Miguel Das Missões – RS</p></li>
          <li><p class="lead">55 – São Nicolau – RS</p></li>
          <li><p class="lead">55 – São Paulo Das Missões – RS</p></li>
          <li><p class="lead">55 – Sao Pedro Das Missões – RS</p></li>
          <li><p class="lead">55 – São Pedro Do Butiá – RS</p></li>
          <li><p class="lead">55 – São Pedro Do Sul – RS</p></li>
          <li><p class="lead">55 – São Sepé – RS</p></li>
          <li><p class="lead">55 – São Valério Do Sul – RS</p></li>
          <li><p class="lead">55 – São Vicente Do Sul – RS</p></li>
          <li><p class="lead">55 – Seberi – RS</p></li>
          <li><p class="lead">55 – Sede Nova – RS</p></li>
          <li><p class="lead">55 – Senador Salgado Filho – RS</p></li>
          <li><p class="lead">55 – Sete De Setembro – RS</p></li>
          <li><p class="lead">55 – Silveira Martins – RS</p></li>
          <li><p class="lead">55 – Taquaruçu Do Sul – RS</p></li>
          <li><p class="lead">55 – Tenente Portela – RS</p></li>
          <li><p class="lead">55 – Tiradentes Do Sul – RS</p></li>
          <li><p class="lead">55 – Toropi – RS</p></li>
          <li><p class="lead">55 – Três De Maio – RS</p></li>
          <li><p class="lead">55 – Três Passos – RS</p></li>
          <li><p class="lead">55 – Tucunduva – RS</p></li>
          <li><p class="lead">55 – Tupanciretã – RS</p></li>
          <li><p class="lead">55 – Tuparendi – RS</p></li>
          <li><p class="lead">55 – Ubiretama – RS</p></li>
          <li><p class="lead">55 – Unistalda – RS</p></li>
          <li><p class="lead">55 – Uruguaiana – RS</p></li>
          <li><p class="lead">55 – Vicente Dutra – RS</p></li>
          <li><p class="lead">55 – Vila Nova Do Sul – RS</p></li>
          <li><p class="lead">55 – Vista Alegre – RS</p></li>
          <li><p class="lead">55 – Vista Gaúcha – RS</p></li>
          <li><p class="lead">55 – Vitória Das Missões – RS</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>