<div id="comoacessar" class="card p-4">
  <h2 class="text-primary">
    Como acessar o webservice do ViaDDD?
  </h2>
  <br>
  <br>
  <p class="lead">
    Para ter a acesso ao serviço basta você informar o DDD no formato de {3} dígitos, por exemplo: "013".
    Após informado corretamente você terá o retorno em formato "<a
      href="https://pt.wikipedia.org/wiki/JSON">JSON</a>".
  </p>
  <p class="lead">
    Exemplo de pesquisa por DDD:
    <a href="https://viaddd.com.br/api/13" target="_blank" class="lead">viadd.com.br/api/<span class="ddd">13</span></a>
  </p>
</div>