<div id="estados" class="card p-4">
  <div>
    <h2 class="text-primary">
      Todos os DDDs nacionais
    </h2>
    <br>
    <br>
    <p class="lead">
      A Discagem Direta a Distância (DDD) é o sistema empregado para ligações interurbanas a partir da inserção de
      prefixos regionais. No Brasil, são utilizados 67 códigos de área diferentes, espalhados por todo o território
      nacional. Com tantos números diferentes, é fácil fazer confusão. Para te ajudar, listamos abaixo todos os DDDs do
      país e os Estados aos quais eles correspondem:
    </p>
  </div>
  <br>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Centro-Oeste
      </h2>
      <ul>
        <li><p class="lead">Distrito Federal (61)</p></li>
        <li><p class="lead">Goiás (62 e 64)</p></li>
        <li><p class="lead">Mato Grosso (65 e 66)</p></li>
        <li><p class="lead">Mato Grosso do Sul (67)</p></li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Nordeste
       </h2>
      <ul>
        <li><p class="lead">Alagoas (82)</p></li>
        <li><p class="lead">Bahia (71, 73, 74, 75 e 77)</p></li>
        <li><p class="lead">Ceará (85 e 88)</p></li>
        <li><p class="lead">Maranhão (98 e 99)</p></li>
        <li><p class="lead">Paraíba (83)</p></li>
        <li><p class="lead">Pernambuco (81 e 87)</p></li>
        <li><p class="lead">Piauí (86 e 89)</p></li>
        <li><p class="lead">Rio Grande do Norte (84)</p></li>
        <li><p class="lead">Sergipe (79)</p></li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Norte
       </h2>
      <ul>
        <li><p class="lead">Acre (68)</p></li>
        <li><p class="lead">Amapá (96)</p></li>
        <li><p class="lead">Amazonas (92 e 97)</p></li>
        <li><p class="lead">Pará (91, 93 e 94)</p></li>
        <li><p class="lead">Rondônia (69)</p></li>
        <li><p class="lead">Roraima (95)</p></li>
        <li><p class="lead">Tocantins (63)</p></li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Sudeste
       </h2>
      <ul>
        <li><p class="lead">Espírito Santo (27 e 28)</p></li>
        <li><p class="lead">Minas Gerais (31, 32, 33, 34, 35, 37 e 38)</p></li>
        <li><p class="lead">Rio de Janeiro (21, 22 e 24)</p></li>
        <li><p class="lead">São Paulo (11, 12, 13, 14, 15, 16, 17, 18 e 19)</p></li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Sul
       </h2>
      <ul>
        <li><p class="lead">Paraná (41, 42, 43, 44, 45 e 46)</p></li>
        <li><p class="lead">Rio Grande do Sul (51, 53, 54 e 55)</p></li>
        <li><p class="lead">Santa Catarina (47, 48 e 49)</p></li>
      </ul>
    </div>
  </div>
</div>