{% include "modalGit.html" %}

<div class="bg-light border-top border-primary m-0 mt-5 p-4">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 d-flex flex-column justify-content-center">
      <a class="navbar-brand d-flex justify-content-center m-0" href="/">
        <img src="/DDD-blue.png" alt="ddd" style="width: 345px;">
      </a>
      <h2 class="lead text-primary text-center">
        <strong>De todos para todos!</strong>
      </h2>
    </div>
    <div class="col-12 col-sm-12 col-md-4 d-flex flex-column justify-content-end">
      <div class="p-1 text-center">
        <!-- <a class="text-primary fa-2x mr-2" target="_blank" href="https://www.facebook.com/rolofeiraonline"><i
                class="fa fa-facebook-official" aria-hidden="true"></i></a> -->
        <!-- <a class="text-primary fa-2x mr-2" target="_blank"
              href="https://chat.whatsapp.com/F4IlBSHeTvzKUFbpYZd8FG"><i class="fa fa-whatsapp"
                aria-hidden="true"></i></a> -->
        <a class="text-primary fa-2x mr-2" target="_blank" href="https://www.instagram.com/?hl=pt-br"><i
            class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="text-primary fa-2x mr-2" data-toggle="modal" href="#github"><i class="fa fa-github-alt"
            aria-hidden="true"></i></a>
      </div>
      <div class="p-1 text-center">
        <a href="https://app.picpay.com/user/lsferreira934">
          <img src="/btpicpay.png" class="donatebutton" alt="PicPay">
        </a>
      </div>
      <div class="text-center text-primary">
        Via DDD © 2021
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
    </div>
  </div>
</div>