<div id="invalido" class="card p-4">
  <h2 id="validacaododdd" class="text-primary">
    Validação do DDD
  </h2>
  <br><br>
  <h5 id="formatoinvalido" class="text-primary">
    Formato inválido
  </h5>
  <p class="lead">
    Quando consultado um DDD de formato inválido, por exemplo: "A13" (alfanumérico),"0 13" (espaço), o código de
    retorno da consulta será um 400 (Bad Request). Antes de acessar o webservice, valide o formato do DDD e
    certifique-se que o mesmo possua {2} "13" ou {3} "013" dígitos.
  </p>
  <p class="lead">Exemplos de formatos inválidos do DDD no exemplo abaixo.</p>

  <div class="card">
    <div class="card-body p-4">
      <h2>JSON</h2>
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/ddd/A13" target="_blank" class="lead">viaddd.com.br/api/ddd/<span class="cep">A13</span></a>
      <br>
      ou
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/ddd/0 13" target="_blank" class="lead">viaddd.com.br/api/ddd/<span class="cep">0 13</span></a>
    </div>
    <div class="container">
      <pre class="bg-light mt-4 ">
        <code>
          {
            erro: "Formato inválido!"
          }
        </code>
      </pre>
    </div>
  </div>
  <br><br>
  <h5 id="dadoinexistente" class="text-primary">
    Dado inexistente
  </h5>
  <p class="lead">
    Quando consultado um DDD de formato válido, porém inexistente, por exemplo: "100" ou "999", o retorno conterá
    um valor de "erro". Isso significa que o DDD consultado não foi encontrado na base de dados. Veja como manipular este "erro" em javascript nos exemplos abaixo.
  </p>
  <p class="lead">Exemplo de formato inválido do DDD no exemplo abaixo.</p>
  <div class="card">
    <div class="card-body p-4">
      <h2>JSON</h2>
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/ddd/999" target="_blank" class="lead">viaddd.com.br/api/ddd/<span class="cep">999</span></a>
      <br>
      ou
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/ddd/00001000" target="_blank" class="lead">viaddd.com.br/api/ddd/<span class="cep">000010000</span></a>
      <br>
      <div class="container">
        <pre class="bg-light mt-4 ">
        <code>
          {
            erro: "DDD informado não encontrado na base de dados!"
          }
        </code>
      </pre>
      </div>
    </div>
  </div>
</div>

