<div class="modal fade" id="github">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white">GitHub</h4>
        <button type="button" class="close  text-white" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-6" style="text-align: center;">
              <a href="https://github.com/brunoaugustosp" target="_blank" rel="noopener noreferrer">
                <img
                  src="https://avatars0.githubusercontent.com/u/54317589?s=400&u=5883d633da9d90f6a918ade5a99157fe743ef31a&v=4"
                  class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" role="img"
                  aria-label="Placeholder: 140x140">
              </a>
              <br>
              <p class="text-primary lead"><strong>Bruno Augusto</strong>
              <p>
                <small class="lead">Desenvolvedor e analista de sistemas com expertise em projetos web e mobile / Administrador de
                  banco de dados SQL / Social Media</small>
            </div>
            <div class="col-lg-6" style="text-align: center;">
              <a href="https://github.com/lsferreira934" target="_blank" rel="noopener noreferrer">
                <img
                  src="https://avatars2.githubusercontent.com/u/56802012?s=400&u=9b58854874588c702be31e1cc92e2f7b4dc28b28&v=4"
                  class="bd-placeholder-img rounded-circle" width="140" height="140" focusable="false" role="img"
                  aria-label="Placeholder: 140x140">
              </a>
              <br>
              <p class="text-primary lead"><strong>Leandro</strong>
              <p>
                <small class="lead">Desenvolvedor e analista de sistemas com conhecimento em desenvolvimento Frontend / Fullstack /
                  NodeJs / React / nextJs / MongoDB</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>