
<div class="  bg-primary border-bottom border-light m-0 p-4">
  <div class="row d-flex justify-content-center ">
    <div class="col-12 col-sm-12 col-md-4 d-flex flex-column justify-content-center">
      <a class="navbar-brand d-flex justify-content-center m-0" href="/">
        <img src="/DDD-white.png" alt="ddd" style="width: 345px;">
      </a>
      <h2 class="lead text-white text-center"><strong>De todos para
          todos!</strong></h2>
    </div>
    <div class="col-12 col-sm-12 col-md-8">
      <div class="border border-white"
        style="height: 220px;background: #b1a8a8;display: flex;justify-content: center;align-items: center;">
        <h1>Seu anuncio aqui!</h1>
      </div>
    </div>
   
  </div>
  <hr>
  <h2 class="lead text-white text-center">
    Já pensou em consultar Municipios pelo código da operado (DDD) do
    Brasil? Utilize o nosso <a class="text-white" href="https://pt.wikipedia.org/wiki/Web_service"><strong>Webservice</strong></a> e de a melhor
    qualidade as suas aplicações web!
  </h2>
</div>
