<div class="mt-5">
  <div id="Apresentacao" class="card p-4">

    <h2 class="text-primary">Acesso rápido</h2>
    <br>
    <br>
    <div class="card">
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <h5 ><a class="list-group-item list-group-item-action active" href="#formatoderetorno">Formato de Retorno
                </a>
              </h5>
              <ul>
                <li><a class="list-group-item list-group-item-action lead" href="#formatovalido">Formato válido</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <h5><a class="list-group-item list-group-item-action active" href="#validacaododdd">Validação do DDD</a>
              </h5>
              <ul>
                <ol><a class="list-group-item list-group-item-action lead mb-2" href="#formatoinvalido">Formato inválido</a></ol>
                <ol><a class="list-group-item list-group-item-action lead mb-2" href="#dadoinexistente">Dado inexistente</a></ol>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <h5><a class="list-group-item list-group-item-action active" href="#requisicao">Requisição</a>
              </h5>
              <ul>
                <ol><a class="list-group-item list-group-item-action lead mb-2" href="#ajax">Ajax</a></ol>
                <ol><a class="list-group-item list-group-item-action lead mb-2" href="#fetch">Fetch</a></ol>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>