<div id="requisicao" class="card p-4">
  <h2 class="text-primary">
    Requição
  </h2>
  <br><br>
  <h5 id="ajax" class="text-primary">
    Formato AJAX
  </h5>
  <p class="lead">Veja exemplo de uma requisição com AJAX:</p>

  <div class="card">
    <div class="card-body p-4">
      <h2>JQUERY</h2>
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/ddd/13" target="_blank" class="lead">viaddd.com.br/api/ddd<span
          class="ddd">013</span></a>
    </div>
    <div class="container">
      <pre class="bg-light mt-4 ">
          <code>
            $.ajax({
              type: "GET",
              url: "http://viaddd.com.br/api/ddd/" + "013",
              dataType: "json",
              success: function (response) {
                  console.log(response)
              }
            });
          </code>
        </pre>
    </div>
  </div>

  <br><br>
  <h5 id="fetch" class="text-primary">
    Formato Fetch
  </h5>
  <p class="lead">Veja exemplo de uma requisição com Fetch:</p>

  <div class="card">
    <div class="card-body p-4">
      <h2>JavaScript</h2>
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/ddd/13" target="_blank" class="lead">viaddd.com.br/api/ddd/<span
          class="ddd">013</span></a>
    </div>
    <div class="container">
      <pre class="bg-light mt-4 ">
          <code>
          fetch("http://viaddd.com.br/api/ddd/" + "013")
            .then((res) => { return res.json(); })
            .then((data) => { console.log(data) })
            .catch((err) => { console.log(err) })
          </code>
        </pre>
    </div>
  </div>
  <br>
  <br>
  <div class="card">
    <div class="card-body p-4">
      <h2>JavaScript (async await + try/catch)</h2>
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/ddd/13" target="_blank" class="lead">viaddd.com.br/api/ddd/<span
          class="ddd">013</span></a>
    </div>
    <div class="container">
      <pre class="bg-light mt-4 ">
        <code>
          async function getDDD() {
            try{
              const response = await fetch(`http://viaddd.com.br/api/ddd/${013}`)
              const data = await response.json()
              console.log(data)
            }catch(err){
              console.log(err)
            }
          }

          getDDD()
          </code>
        </pre>
    </div>
  </div>
</div>