<!DOCTYPE html>
<html lang="pt-br">
  {% include "head.html" %}
<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div id="comoacessar" class="card p-4">
      <h2 class="text-primary">
        O serviço ViaDDD
      </h2>
      <br>
      <br>
      <p class="lead">
        Nosso serviço irá te ajudar a encontrar DDD (Discagem direta a distância) de todo o Brasil de uma forma simples
        e bem robusta.
        Acreditamos que o fornecimento de dados como o DDD é de extrema importância para aplicações em geral e por isso
        decidimos reunir em uma simples API
        todos os códigos nacional e que poderá se utilizado livremente nas suas aplicações.
        Para manter de pé o nosso serviço nós contamos com uma <a target="_blank" class="lead"
          href="https://app.picpay.com/user/lsferreira934">doação</a> simbólica para ajudar com custos
        de hospedagem e manutenções.
      </p>
      <p class="lead">
        Agradecemos a todos por utilizarem o nosso serviço!
      </p>
    </div>
    <br>
    <br>
    {% include "estados.html" %}
  </div>
    {% include "footer.html" %}
</body>

</html>