<div id="valido" class="card p-4">
  <h2 id="formatoderetorno" class="text-primary">
    Formato de Retorno
  </h2>
  <br><br>
  <h5 id="formatovalido" class="text-primary">
    Formato válido
  </h5>
  <p class="lead">Veja os exemplos de acesso ao webservice e o seu retorno:</p>

  <div class="card">
    <div class="card-body p-4">
      <h2>JSON</h2>
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/13" target="_blank" class="lead">viadd.com.br/api/<span class="ddd">13</span></a>
      <br>
      <span class="lead">URL: </span><a href="https://viaddd.com.br/api/013" target="_blank" class="lead">viadd.com.br/api/<span class="ddd">013</span></a>
    </div>
    <div class="container">
      <pre class="bg-light mt-4 ">
          <code>
            {
              DDD: 13,
              Estado: "São Paulo",
              Municipios: [
                  "Bertioga",
                  "Cubatão",
                  "Iguape",
                  "Itariri",
                  "Miracatu",
                  "Pedro de Toledo",
                  "Sete Barras",
                  "Cajati",
                  "Eldorado",
                  "Ilha Comprida",
                  "Jacupiranga",
                  "Cananeia",
                  "Juquia",
                  "Pariquera-Açu",
                  "Registro",
                  "Guarujá",
                  "Mongaguá",
                  "Peruíbe",
                  "Praia Grande",
                  "Santos",
                  "São Vicente"
                ]
              }
          </code>
        </pre>
    </div>
  </div>
</div>