{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 81 – Recife
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">81 – Abreu E Lima – PE</p>
        </li>
        <li>
          <p class="lead">81 – Agrestina – PE</p>
        </li>
        <li>
          <p class="lead">81 – Água Preta – PE</p>
        </li>
        <li>
          <p class="lead">81 – Aliança – PE</p>
        </li>
        <li>
          <p class="lead">81 – Altinho – PE</p>
        </li>
        <li>
          <p class="lead">81 – Amaraji – PE</p>
        </li>
        <li>
          <p class="lead">81 – Araçoiaba – PE</p>
        </li>
        <li>
          <p class="lead">81 – Barra De Guabiraba – PE</p>
        </li>
        <li>
          <p class="lead">81 – Barreiros – PE</p>
        </li>
        <li>
          <p class="lead">81 – Belém De Maria – PE</p>
        </li>
        <li>
          <p class="lead">81 – Belo Jardim – PE</p>
        </li>
        <li>
          <p class="lead">81 – Bezerros – PE</p>
        </li>
        <li>
          <p class="lead">81 – Bom Jardim – PE</p>
        </li>
        <li>
          <p class="lead">81 – Bonito – PE</p>
        </li>
        <li>
          <p class="lead">81 – Brejo Da Madre De Deus – PE</p>
        </li>
        <li>
          <p class="lead">81 – Buenos Aires – PE</p>
        </li>
        <li>
          <p class="lead">81 – Cabo De Santo Agostinho – PE</p>
        </li>
        <li>
          <p class="lead">81 – Cachoeirinha – PE</p>
        </li>
        <li>
          <p class="lead">81 – Camaragibe – PE</p>
        </li>
        <li>
          <p class="lead">81 – Camocim De São Félix – PE</p>
        </li>
        <li>
          <p class="lead">81 – Camutanga – PE</p>
        </li>
        <li>
          <p class="lead">81 – Carpina – PE</p>
        </li>
        <li>
          <p class="lead">81 – Caruaru – PE</p>
        </li>
        <li>
          <p class="lead">81 – Casinhas – PE</p>
        </li>
        <li>
          <p class="lead">81 – Catende – PE</p>
        </li>
        <li>
          <p class="lead">81 – Chã De Alegria – PE</p>
        </li>
        <li>
          <p class="lead">81 – Chã Grande – PE</p>
        </li>
        <li>
          <p class="lead">81 – Condado – PE</p>
        </li>
        <li>
          <p class="lead">81 – Cortês – PE</p>
        </li>
        <li>
          <p class="lead">81 – Cumaru – PE</p>
        </li>
        <li>
          <p class="lead">81 – Cupira – PE</p>
        </li>
        <li>
          <p class="lead">81 – Escada – PE</p>
        </li>
        <li>
          <p class="lead">81 – Feira Nova – PE</p>
        </li>
        <li>
          <p class="lead">81 – Fernando De Noronha – PE</p>
        </li>
        <li>
          <p class="lead">81 – Ferreiros – PE</p>
        </li>
        <li>
          <p class="lead">81 – Frei Miguelinho – PE</p>
        </li>
        <li>
          <p class="lead">81 – Gameleira – PE</p>
        </li>
        <li>
          <p class="lead">81 – Glória Do Goitá – PE</p>
        </li>
        <li>
          <p class="lead">81 – Goiana – PE</p>
        </li>
        <li>
          <p class="lead">81 – Gravatá – PE</p>
        </li>
        <li>
          <p class="lead">81 – Igarassu – PE</p>
        </li>
        <li>
          <p class="lead">81 – Ipojuca – PE</p>
        </li>
        <li>
          <p class="lead">81 – Itamaracá – PE</p>
        </li>
        <li>
          <p class="lead">81 – Itambé – PE</p>
        </li>
        <li>
          <p class="lead">81 – Itapissuma – PE</p>
        </li>
        <li>
          <p class="lead">81 – Itaquitinga – PE</p>
        </li>
        <li>
          <p class="lead">81 – Jaboatão Dos Guararapes – PE</p>
        </li>
        <li>
          <p class="lead">81 – Jaqueira – PE</p>
        </li>
        <li>
          <p class="lead">81 – Jataúba – PE</p>
        </li>
        <li>
          <p class="lead">81 – João Alfredo – PE</p>
        </li>
        <li>
          <p class="lead">81 – Joaquim Nabuco – PE</p>
        </li>
        <li>
          <p class="lead">81 – Lagoa Do Carro – PE</p>
        </li>
        <li>
          <p class="lead">81 – Lagoa Do Itaenga – PE</p>
        </li>
        <li>
          <p class="lead">81 – Lagoa Dos Gatos – PE</p>
        </li>
        <li>
          <p class="lead">81 – Limoeiro – PE</p>
        </li>
        <li>
          <p class="lead">81 – Macaparana – PE</p>
        </li>
        <li>
          <p class="lead">81 – Machados – PE</p>
        </li>
        <li>
          <p class="lead">81 – Maraial – PE</p>
        </li>
        <li>
          <p class="lead">81 – Moreno – PE</p>
        </li>
        <li>
          <p class="lead">81 – Nazaré Da Mata – PE</p>
        </li>
        <li>
          <p class="lead">81 – Olinda – PE</p>
        </li>
        <li>
          <p class="lead">81 – Orobó – PE</p>
        </li>
        <li>
          <p class="lead">81 – Palmares – PE</p>
        </li>
        <li>
          <p class="lead">81 – Panelas – PE</p>
        </li>
        <li>
          <p class="lead">81 – Passira – PE</p>
        </li>
        <li>
          <p class="lead">81 – Paudalho – PE</p>
        </li>
        <li>
          <p class="lead">81 – Paulista – PE</p>
        </li>
        <li>
          <p class="lead">81 – Pombos – PE</p>
        </li>
        <li>
          <p class="lead">81 – Primavera – PE</p>
        </li>
        <li>
          <p class="lead">81 – Quipapá – PE</p>
        </li>
        <li>
          <p class="lead">81 – Recife – PE</p>
        </li>
        <li>
          <p class="lead">81 – Riacho Das Almas – PE</p>
        </li>
        <li>
          <p class="lead">81 – Ribeirão – PE</p>
        </li>
        <li>
          <p class="lead">81 – Rio Formoso – PE</p>
        </li>
        <li>
          <p class="lead">81 – Sairé – PE</p>
        </li>
        <li>
          <p class="lead">81 – Salgadinho – PE</p>
        </li>
        <li>
          <p class="lead">81 – Santa Cruz Do Capibaribe – PE</p>
        </li>
        <li>
          <p class="lead">81 – Santa Maria Do Cambucá – PE</p>
        </li>
        <li>
          <p class="lead">81 – São Benedito Do Sul – PE</p>
        </li>
        <li>
          <p class="lead">81 – São Bento Do Una – PE</p>
        </li>
        <li>
          <p class="lead">81 – São Caitano – PE</p>
        </li>
        <li>
          <p class="lead">81 – São Joaquim Do Monte – PE</p>
        </li>
        <li>
          <p class="lead">81 – São José Da Coroa Grande – PE</p>
        </li>
        <li>
          <p class="lead">81 – São Lourenço Da Mata – PE</p>
        </li>
        <li>
          <p class="lead">81 – São Vicente Ferrer – PE</p>
        </li>
        <li>
          <p class="lead">81 – Sirinhaém – PE</p>
        </li>
        <li>
          <p class="lead">81 – Surubim – PE</p>
        </li>
        <li>
          <p class="lead">81 – Tacaimbó – PE</p>
        </li>
        <li>
          <p class="lead">81 – Tamandaré – PE</p>
        </li>
        <li>
          <p class="lead">81 – Taquaritinga Do Norte – PE</p>
        </li>
        <li>
          <p class="lead">81 – Timbaúba – PE</p>
        </li>
        <li>
          <p class="lead">81 – Toritama – PE</p>
        </li>
        <li>
          <p class="lead">81 – Tracunhaém – PE</p>
        </li>
        <li>
          <p class="lead">81 – Vertente Do Lério – PE</p>
        </li>
        <li>
          <p class="lead">81 – Vertentes – PE</p>
        </li>
        <li>
          <p class="lead">81 – Vicência – PE</p>
        </li>
        <li>
          <p class="lead">81 – Vitória De Santo Antão – PE</p>
        </li>
        <li>
          <p class="lead">81 – Xexéu – PE</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}