{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 62 – Goiânia
      </h2>
      <br>
      <br>
      <ul>

        <li>
          <p class="lead">62 – Abadia De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Abadiânia – GO</p>
        </li>
        <li>
          <p class="lead">62 – Água Fria De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Alexânia – GO</p>
        </li>
        <li>
          <p class="lead">62 – Alto Horizonte – GO</p>
        </li>
        <li>
          <p class="lead">62 – Alto Paraíso De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Alvorada Do Norte – GO</p>
        </li>
        <li>
          <p class="lead">62 – Amaralina – GO</p>
        </li>
        <li>
          <p class="lead">62 – Anápolis – GO</p>
        </li>
        <li>
          <p class="lead">62 – Aparecida De Goiânia – GO</p>
        </li>
        <li>
          <p class="lead">62 – Araçu – GO</p>
        </li>
        <li>
          <p class="lead">62 – Aragoiânia – GO</p>
        </li>
        <li>
          <p class="lead">62 – Araguapaz – GO</p>
        </li>
        <li>
          <p class="lead">62 – Aruanã – GO</p>
        </li>
        <li>
          <p class="lead">62 – Barro Alto – GO</p>
        </li>
        <li>
          <p class="lead">62 – Bela Vista De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Bonfinópolis – GO</p>
        </li>
        <li>
          <p class="lead">62 – Bonópolis – GO</p>
        </li>
        <li>
          <p class="lead">62 – Brazabrantes – GO</p>
        </li>
        <li>
          <p class="lead">62 – Britânia – GO</p>
        </li>
        <li>
          <p class="lead">62 – Buritinópolis – GO</p>
        </li>
        <li>
          <p class="lead">62 – Caldazinha – GO</p>
        </li>
        <li>
          <p class="lead">62 – Campestre De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Campinaçu – GO</p>
        </li>
        <li>
          <p class="lead">62 – Campinorte – GO</p>
        </li>
        <li>
          <p class="lead">62 – Campo Limpo De Goias – GO</p>
        </li>
        <li>
          <p class="lead">62 – Campos Belos – GO</p>
        </li>
        <li>
          <p class="lead">62 – Campos Verdes – GO</p>
        </li>
        <li>
          <p class="lead">62 – Carmo Do Rio Verde – GO</p>
        </li>
        <li>
          <p class="lead">62 – Caturaí – GO</p>
        </li>
        <li>
          <p class="lead">62 – Cavalcante – GO</p>
        </li>
        <li>
          <p class="lead">62 – Ceres – GO</p>
        </li>
        <li>
          <p class="lead">62 – Cocalzinho De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Colinas Do Sul – GO</p>
        </li>
        <li>
          <p class="lead">62 – Corumbá De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Crixás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Damianópolis – GO</p>
        </li>
        <li>
          <p class="lead">62 – Damolândia – GO</p>
        </li>
        <li>
          <p class="lead">62 – Divinópolis De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Estrela Do Norte – GO</p>
        </li>
        <li>
          <p class="lead">62 – Faina – GO</p>
        </li>
        <li>
          <p class="lead">62 – Fazenda Nova – GO</p>
        </li>
        <li>
          <p class="lead">62 – Flores De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">62 – Formoso – GO</p>
        </li>
        <li>
          <p class="lead">62 – Gameleira De Goias – GO</p>
        </li>
        <li>
          <p class="lead">62 – Go</p>
        </li>ianápolis – GO</p>
    </li>
    <li>
      <p class="lead">62 – Go</p>
    </li>ianésia – GO</p>
</li>
<li>
  <p class="lead">62 – Go</p>
</li>iânia – GO</p>
</li>
<li>
<p class="lead">62 – Go</p>
</li>ianira – GO</p>
</li>
<li>
<p class="lead">62 – Go</p>
</li>iás – GO</p>
</li>
<li>
<p class="lead">62 – Guapó – GO</p>
</li>
<li>
<p class="lead">62 – Guaraíta – GO</p>
</li>
<li>
<p class="lead">62 – Guarani De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Guarinos – GO</p>
</li>
<li>
<p class="lead">62 – Heitoraí – GO</p>
</li>
<li>
<p class="lead">62 – Hidrolândia – GO</p>
</li>
<li>
<p class="lead">62 – Hidrolina – GO</p>
</li>
<li>
<p class="lead">62 – Iaciara – GO</p>
</li>
<li>
<p class="lead">62 – Inhumas – GO</p>
</li>
<li>
<p class="lead">62 – Ipiranga De Goias – GO</p>
</li>
<li>
<p class="lead">62 – Itaberaí – GO</p>
</li>
<li>
<p class="lead">62 – Itaguari – GO</p>
</li>
<li>
<p class="lead">62 – Itaguaru – GO</p>
</li>
<li>
<p class="lead">62 – Itapaci – GO</p>
</li>
<li>
<p class="lead">62 – Itapirapuã – GO</p>
</li>
<li>
<p class="lead">62 – Itapuranga – GO</p>
</li>
<li>
<p class="lead">62 – Itauçu – GO</p>
</li>
<li>
<p class="lead">62 – Jaraguá – GO</p>
</li>
<li>
<p class="lead">62 – Jesúpolis – GO</p>
</li>
<li>
<p class="lead">62 – Jussara – GO</p>
</li>
<li>
<p class="lead">62 – Leopoldo De Bulhões – GO</p>
</li>
<li>
<p class="lead">62 – Mambaí – GO</p>
</li>
<li>
<p class="lead">62 – Mara Rosa – GO</p>
</li>
<li>
<p class="lead">62 – Matrinchã – GO</p>
</li>
<li>
<p class="lead">62 – Mimoso De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Minaçu – GO</p>
</li>
<li>
<p class="lead">62 – Monte Alegre De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Montes Claros De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Montividiu Do Norte – GO</p>
</li>
<li>
<p class="lead">62 – Morro Agudo De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Mozarlândia – GO</p>
</li>
<li>
<p class="lead">62 – Mundo Novo – GO</p>
</li>
<li>
<p class="lead">62 – Mutunópolis – GO</p>
</li>
<li>
<p class="lead">62 – Nerópolis – GO</p>
</li>
<li>
<p class="lead">62 – Niquelândia – GO</p>
</li>
<li>
<p class="lead">62 – Nova América – GO</p>
</li>
<li>
<p class="lead">62 – Nova Crixás – GO</p>
</li>
<li>
<p class="lead">62 – Nova Glória – GO</p>
</li>
<li>
<p class="lead">62 – Nova Iguaçu De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Nova Roma – GO</p>
</li>
<li>
<p class="lead">62 – Nova Veneza – GO</p>
</li>
<li>
<p class="lead">62 – Novo Brasil – GO</p>
</li>
<li>
<p class="lead">62 – Novo Planalto – GO</p>
</li>
<li>
<p class="lead">62 – Ouro Verde De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Petrolina De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Pilar De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Pirenópolis – GO</p>
</li>
<li>
<p class="lead">62 – Porangatu – GO</p>
</li>
<li>
<p class="lead">62 – Posse – GO</p>
</li>
<li>
<p class="lead">62 – Rialma – GO</p>
</li>
<li>
<p class="lead">62 – Rianápolis – GO</p>
</li>
<li>
<p class="lead">62 – Rubiataba – GO</p>
</li>
<li>
<p class="lead">62 – Santa Bárbara De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Santa Fé De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Santa Isabel – GO</p>
</li>
<li>
<p class="lead">62 – Santa Rita Do Novo Destino – GO</p>
</li>
<li>
<p class="lead">62 – Santa Rosa De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Santa Tereza De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Santa Terezinha De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Santo Antônio De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – São Domingos – GO</p>
</li>
<li>
<p class="lead">62 – São Francisco De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – São João D’aliança – GO</p>
</li>
<li>
<p class="lead">62 – São Luíz Do Norte – GO</p>
</li>
<li>
<p class="lead">62 – São Miguel Do Araguaia – GO</p>
</li>
<li>
<p class="lead">62 – São Miguel Do Passa Quatro – GO</p>
</li>
<li>
<p class="lead">62 – São Patrício – GO</p>
</li>
<li>
<p class="lead">62 – Senador Canedo – GO</p>
</li>
<li>
<p class="lead">62 – Silvânia – GO</p>
</li>
<li>
<p class="lead">62 – Simolândia – GO</p>
</li>
<li>
<p class="lead">62 – Sítio D’abadia – GO</p>
</li>
<li>
<p class="lead">62 – Taquaral De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Teresina De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Terezópolis De Goiás – GO</p>
</li>
<li>
<p class="lead">62 – Trindade – GO</p>
</li>
<li>
<p class="lead">62 – Trombas – GO</p>
</li>
<li>
<p class="lead">62 – Uirapuru – GO</p>
</li>
<li>
<p class="lead">62 – Uruaçu – GO</p>
</li>
<li>
<p class="lead">62 – Uruana – GO</p>
</li>
<li>
<p class="lead">62 – Varjão – GO</p>
</li>
<li>
<p class="lead">62 – Vianópolis – GO</p>
</li>
<li>
<p class="lead">62 – Vila Propicio – GO</p>
</li>
</ul>
</div>
{% include "history/states.njk" %}</div> {% endblock %}