{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 64 – Rio Verde
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">64 – Acreúna – GO</p>
        </li>
        <li>
          <p class="lead">64 – Adelândia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Água Limpa – GO</p>
        </li>
        <li>
          <p class="lead">64 – Aloândia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Americano Do Brasil – GO</p>
        </li>
        <li>
          <p class="lead">64 – Amorinópolis – GO</p>
        </li>
        <li>
          <p class="lead">64 – Anhanguera – GO</p>
        </li>
        <li>
          <p class="lead">64 – Anicuns – GO</p>
        </li>
        <li>
          <p class="lead">64 – Aparecida Do Rio Doce – GO</p>
        </li>
        <li>
          <p class="lead">64 – Aporé – GO</p>
        </li>
        <li>
          <p class="lead">64 – Aragarças – GO</p>
        </li>
        <li>
          <p class="lead">64 – Arenópolis – GO</p>
        </li>
        <li>
          <p class="lead">64 – Aurilândia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Avelinópolis – GO</p>
        </li>
        <li>
          <p class="lead">64 – Baliza – GO</p>
        </li>
        <li>
          <p class="lead">64 – Bom Jardim De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">64 – Bom Jesus – GO</p>
        </li>
        <li>
          <p class="lead">64 – Buriti Alegre – GO</p>
        </li>
        <li>
          <p class="lead">64 – Buriti De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">64 – Cachoeira Alta – GO</p>
        </li>
        <li>
          <p class="lead">64 – Cachoeira De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">64 – Cachoeira Dourada – GO</p>
        </li>
        <li>
          <p class="lead">64 – Caçu – GO</p>
        </li>
        <li>
          <p class="lead">64 – Caiapônia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Caldas Novas – GO</p>
        </li>
        <li>
          <p class="lead">64 – Campo Alegre De Goiás – GO</p>
        </li>
        <li>
          <p class="lead">64 – Castelândia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Catalão – GO</p>
        </li>
        <li>
          <p class="lead">64 – Cezarina – GO</p>
        </li>
        <li>
          <p class="lead">64 – Chapadão Do Céu – GO</p>
        </li>
        <li>
          <p class="lead">64 – Córrego Do Ouro – GO</p>
        </li>
        <li>
          <p class="lead">64 – Corumbaíba – GO</p>
        </li>
        <li>
          <p class="lead">64 – Cristianópolis – GO</p>
        </li>
        <li>
          <p class="lead">64 – Cromínia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Cumari – GO</p>
        </li>
        <li>
          <p class="lead">64 – Davinópolis – GO</p>
        </li>
        <li>
          <p class="lead">64 – Diorama – GO</p>
        </li>
        <li>
          <p class="lead">64 – Doverlândia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Edealina – GO</p>
        </li>
        <li>
          <p class="lead">64 – Edéia – GO</p>
        </li>
        <li>
          <p class="lead">64 – Firminópolis – GO</p>
        </li>
        <li>
          <p class="lead">64 – Go</p>
        </li>iandira – GO</p>
    </li>
    <li>
      <p class="lead">64 – Go</p>
    </li>iatuba – GO</p>
</li>
<li>
  <p class="lead">64 – Go</p>
</li>uvelândia – GO</p>
</li>
<li>
<p class="lead">64 – Inaciolândia – GO</p>
</li>
<li>
<p class="lead">64 – Indiara – GO</p>
</li>
<li>
<p class="lead">64 – Ipameri – GO</p>
</li>
<li>
<p class="lead">64 – Iporá – GO</p>
</li>
<li>
<p class="lead">64 – Israelândia – GO</p>
</li>
<li>
<p class="lead">64 – Itajá – GO</p>
</li>
<li>
<p class="lead">64 – Itarumã – GO</p>
</li>
<li>
<p class="lead">64 – Itumbiara – GO</p>
</li>
<li>
<p class="lead">64 – Ivolândia – GO</p>
</li>
<li>
<p class="lead">64 – Jandaia – GO</p>
</li>
<li>
<p class="lead">64 – Jataí – GO</p>
</li>
<li>
<p class="lead">64 – Jaupaci – GO</p>
</li>
<li>
<p class="lead">64 – Joviânia – GO</p>
</li>
<li>
<p class="lead">64 – Lagoa Santa – GO</p>
</li>
<li>
<p class="lead">64 – Mairipotaba – GO</p>
</li>
<li>
<p class="lead">64 – Marzagão – GO</p>
</li>
<li>
<p class="lead">64 – Maurilândia – GO</p>
</li>
<li>
<p class="lead">64 – Mineiros – GO</p>
</li>
<li>
<p class="lead">64 – Moiporá – GO</p>
</li>
<li>
<p class="lead">64 – Montividiu – GO</p>
</li>
<li>
<p class="lead">64 – Morrinhos – GO</p>
</li>
<li>
<p class="lead">64 – Mossâmedes – GO</p>
</li>
<li>
<p class="lead">64 – Nazário – GO</p>
</li>
<li>
<p class="lead">64 – Nova Aurora – GO</p>
</li>
<li>
<p class="lead">64 – Orizona – GO</p>
</li>
<li>
<p class="lead">64 – Ouvidor – GO</p>
</li>
<li>
<p class="lead">64 – Palestina De Goiás – GO</p>
</li>
<li>
<p class="lead">64 – Palmeiras De Goiás – GO</p>
</li>
<li>
<p class="lead">64 – Palmelo – GO</p>
</li>
<li>
<p class="lead">64 – Palminópolis – GO</p>
</li>
<li>
<p class="lead">64 – Panamá – GO</p>
</li>
<li>
<p class="lead">64 – Paranaiguara – GO</p>
</li>
<li>
<p class="lead">64 – Paraúna – GO</p>
</li>
<li>
<p class="lead">64 – Perolândia – GO</p>
</li>
<li>
<p class="lead">64 – Piracanjuba – GO</p>
</li>
<li>
<p class="lead">64 – Piranhas – GO</p>
</li>
<li>
<p class="lead">64 – Pires Do Rio – GO</p>
</li>
<li>
<p class="lead">64 – Pontalina – GO</p>
</li>
<li>
<p class="lead">64 – Porteirão – GO</p>
</li>
<li>
<p class="lead">64 – Portelândia – GO</p>
</li>
<li>
<p class="lead">64 – Professor Jamil – GO</p>
</li>
<li>
<p class="lead">64 – Quirinópolis – GO</p>
</li>
<li>
<p class="lead">64 – Rio Quente – GO</p>
</li>
<li>
<p class="lead">64 – Rio Verde – GO</p>
</li>
<li>
<p class="lead">64 – Sanclerlândia – GO</p>
</li>
<li>
<p class="lead">64 – Santa Cruz De Goiás – GO</p>
</li>
<li>
<p class="lead">64 – Santa Helena De Goiás – GO</p>
</li>
<li>
<p class="lead">64 – Santa Rita Do Araguaia – GO</p>
</li>
<li>
<p class="lead">64 – Santo Antônio Da Barra – GO</p>
</li>
<li>
<p class="lead">64 – São João Da Paraúna – GO</p>
</li>
<li>
<p class="lead">64 – São Luís De Montes Belos – GO</p>
</li>
<li>
<p class="lead">64 – São Simão – GO</p>
</li>
<li>
<p class="lead">64 – Serranópolis – GO</p>
</li>
<li>
<p class="lead">64 – Três Ranchos – GO</p>
</li>
<li>
<p class="lead">64 – Turvânia – GO</p>
</li>
<li>
<p class="lead">64 – Turvelândia – GO</p>
</li>
<li>
<p class="lead">64 – Urutaí – GO</p>
</li>
<li>
<p class="lead">64 – Vicentinópolis – GO</p>
</li>
</ul>
</div>
{% include "history/states.njk" %}
</div>
{% endblock %}