{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 89 – Picos
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">89 – Acauã – PI</p>
        </li>
        <li>
          <p class="lead">89 – Alagoinha Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Alegrete Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Alvorada Do Gurguéia – PI</p>
        </li>
        <li>
          <p class="lead">89 – Anísio De Abreu – PI</p>
        </li>
        <li>
          <p class="lead">89 – Antônio Almeida – PI</p>
        </li>
        <li>
          <p class="lead">89 – Aroazes – PI</p>
        </li>
        <li>
          <p class="lead">89 – Arraial – PI</p>
        </li>
        <li>
          <p class="lead">89 – Avelino Lopes – PI</p>
        </li>
        <li>
          <p class="lead">89 – Baixa Grande Do Ribeiro – PI</p>
        </li>
        <li>
          <p class="lead">89 – Barra D’alcântara – PI</p>
        </li>
        <li>
          <p class="lead">89 – Barreiras Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Bela Vista Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Belém Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Bertolínia – PI</p>
        </li>
        <li>
          <p class="lead">89 – Betânia Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Bocaina – PI</p>
        </li>
        <li>
          <p class="lead">89 – Bom Jesus – PI</p>
        </li>
        <li>
          <p class="lead">89 – Bonfim Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Brejo Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Cajazeiras Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Caldeirão Grande Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Campinas Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Campo Alegre Do Fidalgo – PI</p>
        </li>
        <li>
          <p class="lead">89 – Campo Grande Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Canavieira – PI</p>
        </li>
        <li>
          <p class="lead">89 – Canto Do Buriti – PI</p>
        </li>
        <li>
          <p class="lead">89 – Capitão Gervásio De Oliveira – PI</p>
        </li>
        <li>
          <p class="lead">89 – Caracol – PI</p>
        </li>
        <li>
          <p class="lead">89 – Caridade Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Colônia Do Gurguéia – PI</p>
        </li>
        <li>
          <p class="lead">89 – Colônia Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Conceição Do Canindé – PI</p>
        </li>
        <li>
          <p class="lead">89 – Coronel José Dias – PI</p>
        </li>
        <li>
          <p class="lead">89 – Corrente – PI</p>
        </li>
        <li>
          <p class="lead">89 – Cristalândia Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Cristino Castro – PI</p>
        </li>
        <li>
          <p class="lead">89 – Curimatá – PI</p>
        </li>
        <li>
          <p class="lead">89 – Currais – PI</p>
        </li>
        <li>
          <p class="lead">89 – Curral Novo Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Dirceu Arcoverde – PI</p>
        </li>
        <li>
          <p class="lead">89 – Dom Expedito Lopes – PI</p>
        </li>
        <li>
          <p class="lead">89 – Dom Inocêncio – PI</p>
        </li>
        <li>
          <p class="lead">89 – Eliseu Martins – PI</p>
        </li>
        <li>
          <p class="lead">89 – Fartura Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Flores Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Floresta Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Floriano – PI</p>
        </li>
        <li>
          <p class="lead">89 – Francinópolis – PI</p>
        </li>
        <li>
          <p class="lead">89 – Francisco Ayres – PI</p>
        </li>
        <li>
          <p class="lead">89 – Francisco Macedo – PI</p>
        </li>
        <li>
          <p class="lead">89 – Francisco Santos – PI</p>
        </li>
        <li>
          <p class="lead">89 – Fronteiras – PI</p>
        </li>
        <li>
          <p class="lead">89 – Geminiano – PI</p>
        </li>
        <li>
          <p class="lead">89 – Gilbués – PI</p>
        </li>
        <li>
          <p class="lead">89 – Guadalupe – PI</p>
        </li>
        <li>
          <p class="lead">89 – Guaribas – PI</p>
        </li>
        <li>
          <p class="lead">89 – Inhuma – PI</p>
        </li>
        <li>
          <p class="lead">89 – Ipiranga Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Isaías Coelho – PI</p>
        </li>
        <li>
          <p class="lead">89 – Itainópolis – PI</p>
        </li>
        <li>
          <p class="lead">89 – Itaueira – PI</p>
        </li>
        <li>
          <p class="lead">89 – Jacobina Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Jaicós – PI</p>
        </li>
        <li>
          <p class="lead">89 – Jerumenha – PI</p>
        </li>
        <li>
          <p class="lead">89 – João Costa – PI</p>
        </li>
        <li>
          <p class="lead">89 – Júlio Borges – PI</p>
        </li>
        <li>
          <p class="lead">89 – Jurema – PI</p>
        </li>
        <li>
          <p class="lead">89 – Lagoa Do Barro Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Lagoa Do Sítio – PI</p>
        </li>
        <li>
          <p class="lead">89 – Landri Sales – PI</p>
        </li>
        <li>
          <p class="lead">89 – Manoel Emídio – PI</p>
        </li>
        <li>
          <p class="lead">89 – Marcolândia – PI</p>
        </li>
        <li>
          <p class="lead">89 – Marcos Parente – PI</p>
        </li>
        <li>
          <p class="lead">89 – Massâpe Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Monsenhor Hipólito – PI</p>
        </li>
        <li>
          <p class="lead">89 – Monte Alegre Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Morro Cabeça No Tempo – PI</p>
        </li>
        <li>
          <p class="lead">89 – Nazaré Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Nova Santa Rita – PI</p>
        </li>
        <li>
          <p class="lead">89 – Novo Oriente Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Oeiras – PI</p>
        </li>
        <li>
          <p class="lead">89 – Padre Marcos – PI</p>
        </li>
        <li>
          <p class="lead">89 – Paes Landim – PI</p>
        </li>
        <li>
          <p class="lead">89 – Pajeú Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Palmeira Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Paquetá – PI</p>
        </li>
        <li>
          <p class="lead">89 – Parnaguá – PI</p>
        </li>
        <li>
          <p class="lead">89 – Patos Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Paulistana – PI</p>
        </li>
        <li>
          <p class="lead">89 – Pavussu – PI</p>
        </li>
        <li>
          <p class="lead">89 – Pedro Laurentino – PI</p>
        </li>
        <li>
          <p class="lead">89 – Picos – PI</p>
        </li>
        <li>
          <p class="lead">89 – Pimenteiras – PI</p>
        </li>
        <li>
          <p class="lead">89 – Pio Ix – PI</p>
        </li>
        <li>
          <p class="lead">89 – Porto Alegre Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Queimada Nova – PI</p>
        </li>
        <li>
          <p class="lead">89 – Redenção Do Gurguéia – PI</p>
        </li>
        <li>
          <p class="lead">89 – Riacho Frio – PI</p>
        </li>
        <li>
          <p class="lead">89 – Ribeira Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Ribeiro Gonçalves – PI</p>
        </li>
        <li>
          <p class="lead">89 – Rio Grande Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santa Cruz Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santa Cruz Dos Milagres – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santa Filomena – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santa Luz – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santa Rosa Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santana Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santo Antônio De Lisboa – PI</p>
        </li>
        <li>
          <p class="lead">89 – Santo Inácio Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Braz Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Francisco De Assis Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Francisco Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Gonçalo Do Gurguéia – PI</p>
        </li>
        <li>
          <p class="lead">89 – São João Da Canabrava – PI</p>
        </li>
        <li>
          <p class="lead">89 – São João Da Varjota – PI</p>
        </li>
        <li>
          <p class="lead">89 – São João Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São José Do Peixe – PI</p>
        </li>
        <li>
          <p class="lead">89 – São José Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Julião – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Lourenço Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Luis Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Miguel Do Fidalgo – PI</p>
        </li>
        <li>
          <p class="lead">89 – São Raimundo Nonato – PI</p>
        </li>
        <li>
          <p class="lead">89 – Sebastião Barros – PI</p>
        </li>
        <li>
          <p class="lead">89 – Sebastião Leal – PI</p>
        </li>
        <li>
          <p class="lead">89 – Simões – PI</p>
        </li>
        <li>
          <p class="lead">89 – Simplício Mendes – PI</p>
        </li>
        <li>
          <p class="lead">89 – Socorro Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Sussuapara – PI</p>
        </li>
        <li>
          <p class="lead">89 – Tamboril Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Tanque Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Uruçuí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Valença Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Várzea Branca – PI</p>
        </li>
        <li>
          <p class="lead">89 – Várzea Grande – PI</p>
        </li>
        <li>
          <p class="lead">89 – Vera Mendes – PI</p>
        </li>
        <li>
          <p class="lead">89 – Vila Nova Do Piauí – PI</p>
        </li>
        <li>
          <p class="lead">89 – Wall Ferraz – PI</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}