<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 79 – Aracaju
      </h2>
      <br>
      <br>
      <ul>
        <li><p class="lead">79 – Amparo De São Francisco – SE</p></li>
        <li><p class="lead">79 – Aquidabã – SE</p></li>
        <li><p class="lead">79 – Aracaju – SE</p></li>
        <li><p class="lead">79 – Arauá – SE</p></li>
        <li><p class="lead">79 – Areia Branca – SE</p></li>
        <li><p class="lead">79 – Barra Dos Coqueiros – SE</p></li>
        <li><p class="lead">79 – Boquim – SE</p></li>
        <li><p class="lead">79 – Brejo Grande – SE</p></li>
        <li><p class="lead">79 – Campo Do Brito – SE</p></li>
        <li><p class="lead">79 – Canhoba – SE</p></li>
        <li><p class="lead">79 – Canindé De São Francisco – SE</p></li>
        <li><p class="lead">79 – Capela – SE</p></li>
        <li><p class="lead">79 – Carira – SE</p></li>
        <li><p class="lead">79 – Carmópolis – SE</p></li>
        <li><p class="lead">79 – Cedro De São João – SE</p></li>
        <li><p class="lead">79 – Cristinápolis – SE</p></li>
        <li><p class="lead">79 – Cumbe – SE</p></li>
        <li><p class="lead">79 – Divina Pastora – SE</p></li>
        <li><p class="lead">79 – Estância – SE</p></li>
        <li><p class="lead">79 – Feira Nova – SE</p></li>
        <li><p class="lead">79 – Frei Paulo – SE</p></li>
        <li><p class="lead">79 – Gararu – SE</p></li>
        <li><p class="lead">79 – General Maynard – SE</p></li>
        <li><p class="lead">79 – Gracho Cardoso – SE</p></li>
        <li><p class="lead">79 – Ilha Das Flores – SE</p></li>
        <li><p class="lead">79 – Indiaroba – SE</p></li>
        <li><p class="lead">79 – Itabaiana – SE</p></li>
        <li><p class="lead">79 – Itabaianinha – SE</p></li>
        <li><p class="lead">79 – Itabi – SE</p></li>
        <li><p class="lead">79 – Itaporanga D’ajuda – SE</p></li>
        <li><p class="lead">79 – Japaratuba – SE</p></li>
        <li><p class="lead">79 – Japoatã – SE</p></li>
        <li><p class="lead">79 – Lagarto – SE</p></li>
        <li><p class="lead">79 – Laranjeiras – SE</p></li>
        <li><p class="lead">79 – Macambira – SE</p></li>
        <li><p class="lead">79 – Malhada Dos Bois – SE</p></li>
        <li><p class="lead">79 – Malhador – SE</p></li>
        <li><p class="lead">79 – Maruim – SE</p></li>
        <li><p class="lead">79 – Moita Bonita – SE</p></li>
        <li><p class="lead">79 – Monte Alegre De Sergipe – SE</p></li>
        <li><p class="lead">79 – Muribeca – SE</p></li>
        <li><p class="lead">79 – Neópolis – SE</p></li>
        <li><p class="lead">79 – Nossa Senhora Aparecida – SE</p></li>
        <li><p class="lead">79 – Nossa Senhora Da Glória – SE</p></li>
        <li><p class="lead">79 – Nossa Senhora Das Dores – SE</p></li>
        <li><p class="lead">79 – Nossa Senhora De Lourdes – SE</p></li>
        <li><p class="lead">79 – Nossa Senhora Do Socorro – SE</p></li>
        <li><p class="lead">79 – Pacatuba – SE</p></li>
        <li><p class="lead">79 – Pedra Mole – SE</p></li>
        <li><p class="lead">79 – Pedrinhas – SE</p></li>
        <li><p class="lead">79 – Pinhão – SE</p></li>
        <li><p class="lead">79 – Pirambu – SE</p></li>
        <li><p class="lead">79 – Poço Redondo – SE</p></li>
        <li><p class="lead">79 – Poço Verde – SE</p></li>
        <li><p class="lead">79 – Porto Da Folha – SE</p></li>
        <li><p class="lead">79 – Propriá – SE</p></li>
        <li><p class="lead">79 – Riachão Do Dantas – SE</p></li>
        <li><p class="lead">79 – Riachuelo – SE</p></li>
        <li><p class="lead">79 – Ribeirópolis – SE</p></li>
        <li><p class="lead">79 – Rosário Do Catete – SE</p></li>
        <li><p class="lead">79 – Salgado – SE</p></li>
        <li><p class="lead">79 – Santa Luzia Do Itanhy – SE</p></li>
        <li><p class="lead">79 – Santa Rosa De Lima – SE</p></li>
        <li><p class="lead">79 – Santana Do São Francisco – SE</p></li>
        <li><p class="lead">79 – Santo Amaro Das Brotas – SE</p></li>
        <li><p class="lead">79 – São Cristóvão – SE</p></li>
        <li><p class="lead">79 – São Domingos – SE</p></li>
        <li><p class="lead">79 – São Francisco – SE</p></li>
        <li><p class="lead">79 – São Miguel Do Aleixo – SE</p></li>
        <li><p class="lead">79 – Simão Dias – SE</p></li>
        <li><p class="lead">79 – Siriri – SE</p></li>
        <li><p class="lead">79 – Telha – SE</p></li>
        <li><p class="lead">79 – Tobias Barreto – SE</p></li>
        <li><p class="lead">79 – Tomar Do Geru – SE</p></li>
        <li><p class="lead">79 – Umbaúba – SE</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>