<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 84 – Natal
      </h2>
      <br>
      <br>
      <ul>
          <li><p class="lead">84 – Acari – RN</p></li>
          <li><p class="lead">84 – Açu – RN</p></li>
          <li><p class="lead">84 – Afonso Bezerra – RN</p></li>
          <li><p class="lead">84 – Água Nova – RN</p></li>
          <li><p class="lead">84 – Alexandria – RN</p></li>
          <li><p class="lead">84 – Almino Afonso – RN</p></li>
          <li><p class="lead">84 – Alto Do Rodrigues – RN</p></li>
          <li><p class="lead">84 – Angicos – RN</p></li>
          <li><p class="lead">84 – Antônio Martins – RN</p></li>
          <li><p class="lead">84 – Apodi – RN</p></li>
          <li><p class="lead">84 – Areia Branca – RN</p></li>
          <li><p class="lead">84 – Arês – RN</p></li>
          <li><p class="lead">84 – Baía Formosa – RN</p></li>
          <li><p class="lead">84 – Baraúna – RN</p></li>
          <li><p class="lead">84 – Barcelona – RN</p></li>
          <li><p class="lead">84 – Bento Fernandes – RN</p></li>
          <li><p class="lead">84 – Boa Saude – RN</p></li>
          <li><p class="lead">84 – Bodó – RN</p></li>
          <li><p class="lead">84 – Bom Jesus – RN</p></li>
          <li><p class="lead">84 – Brejinho – RN</p></li>
          <li><p class="lead">84 – Caiçara Do Norte – RN</p></li>
          <li><p class="lead">84 – Caiçara Do Rio Do Vento – RN</p></li>
          <li><p class="lead">84 – Caicó – RN</p></li>
          <li><p class="lead">84 – Campo Grande – RN</p></li>
          <li><p class="lead">84 – Campo Redondo – RN</p></li>
          <li><p class="lead">84 – Canguaretama – RN</p></li>
          <li><p class="lead">84 – Caraúbas – RN</p></li>
          <li><p class="lead">84 – Carnaúba Dos Dantas – RN</p></li>
          <li><p class="lead">84 – Carnaubais – RN</p></li>
          <li><p class="lead">84 – Ceará-Mirim – RN</p></li>
          <li><p class="lead">84 – Cerro Corá – RN</p></li>
          <li><p class="lead">84 – Coronel Ezequiel – RN</p></li>
          <li><p class="lead">84 – Coronel João Pessoa – RN</p></li>
          <li><p class="lead">84 – Cruzeta – RN</p></li>
          <li><p class="lead">84 – Currais Novos – RN</p></li>
          <li><p class="lead">84 – Doutor Severiano – RN</p></li>
          <li><p class="lead">84 – Encanto – RN</p></li>
          <li><p class="lead">84 – Equador – RN</p></li>
          <li><p class="lead">84 – Espírito Santo – RN</p></li>
          <li><p class="lead">84 – Espírito Santo Do Oeste – RN</p></li>
          <li><p class="lead">84 – Extremoz – RN</p></li>
          <li><p class="lead">84 – Felipe Guerra – RN</p></li>
          <li><p class="lead">84 – Fernando Pedroza – RN</p></li>
          <li><p class="lead">84 – Florânia – RN</p></li>
          <li><p class="lead">84 – Francisco Dantas – RN</p></li>
          <li><p class="lead">84 – Frutuoso Gomes – RN</p></li>
          <li><p class="lead">84 – Galinhos – RN</p></li>
          <li><p class="lead">84 – Goianinha – RN</p></li>
          <li><p class="lead">84 – Governador Dix-Sept Rosado – RN</p></li>
          <li><p class="lead">84 – Grossos – RN</p></li>
          <li><p class="lead">84 – Guamaré – RN</p></li>
          <li><p class="lead">84 – Ielmo Marinho – RN</p></li>
          <li><p class="lead">84 – Ipanguaçu – RN</p></li>
          <li><p class="lead">84 – Ipueira – RN</p></li>
          <li><p class="lead">84 – Itajá – RN</p></li>
          <li><p class="lead">84 – Itaú – RN</p></li>
          <li><p class="lead">84 – Jaçanã – RN</p></li>
          <li><p class="lead">84 – Jandaíra – RN</p></li>
          <li><p class="lead">84 – Janduís – RN</p></li>
          <li><p class="lead">84 – Japi – RN</p></li>
          <li><p class="lead">84 – Jardim De Angicos – RN</p></li>
          <li><p class="lead">84 – Jardim De Piranhas – RN</p></li>
          <li><p class="lead">84 – Jardim Do Seridó – RN</p></li>
          <li><p class="lead">84 – João Câmara – RN</p></li>
          <li><p class="lead">84 – João Dias – RN</p></li>
          <li><p class="lead">84 – José Da Penha – RN</p></li>
          <li><p class="lead">84 – Jucurutu – RN</p></li>
          <li><p class="lead">84 – Jundia – RN</p></li>
          <li><p class="lead">84 – Lagoa D’anta – RN</p></li>
          <li><p class="lead">84 – Lagoa De Pedras – RN</p></li>
          <li><p class="lead">84 – Lagoa De Velhos – RN</p></li>
          <li><p class="lead">84 – Lagoa Nova – RN</p></li>
          <li><p class="lead">84 – Lagoa Salgada – RN</p></li>
          <li><p class="lead">84 – Lajes – RN</p></li>
          <li><p class="lead">84 – Lajes Pintadas – RN</p></li>
          <li><p class="lead">84 – Lucrécia – RN</p></li>
          <li><p class="lead">84 – Luís Gomes – RN</p></li>
          <li><p class="lead">84 – Macaíba – RN</p></li>
          <li><p class="lead">84 – Macau – RN</p></li>
          <li><p class="lead">84 – Major Sales – RN</p></li>
          <li><p class="lead">84 – Marcelino Vieira – RN</p></li>
          <li><p class="lead">84 – Martins – RN</p></li>
          <li><p class="lead">84 – Maxaranguape – RN</p></li>
          <li><p class="lead">84 – Messias Targino – RN</p></li>
          <li><p class="lead">84 – Montanhas – RN</p></li>
          <li><p class="lead">84 – Monte Alegre – RN</p></li>
          <li><p class="lead">84 – Monte Das Gameleiras – RN</p></li>
          <li><p class="lead">84 – Mossoró – RN</p></li>
          <li><p class="lead">84 – Natal – RN</p></li>
          <li><p class="lead">84 – Nísia Floresta – RN</p></li>
          <li><p class="lead">84 – Nova Cruz – RN</p></li>
          <li><p class="lead">84 – Olho-D’água Do Borges – RN</p></li>
          <li><p class="lead">84 – Ouro Branco – RN</p></li>
          <li><p class="lead">84 – Paraná – RN</p></li>
          <li><p class="lead">84 – Parazinho – RN</p></li>
          <li><p class="lead">84 – Parelhas – RN</p></li>
          <li><p class="lead">84 – Parnamirim – RN</p></li>
          <li><p class="lead">84 – Passa E Fica – RN</p></li>
          <li><p class="lead">84 – Passagem – RN</p></li>
          <li><p class="lead">84 – Patú – RN</p></li>
          <li><p class="lead">84 – Pau Dos Ferros – RN</p></li>
          <li><p class="lead">84 – Pedra Grande – RN</p></li>
          <li><p class="lead">84 – Pedra Preta – RN</p></li>
          <li><p class="lead">84 – Pedro Avelino – RN</p></li>
          <li><p class="lead">84 – Pedro Velho – RN</p></li>
          <li><p class="lead">84 – Pendências – RN</p></li>
          <li><p class="lead">84 – Pilões – RN</p></li>
          <li><p class="lead">84 – Poço Branco – RN</p></li>
          <li><p class="lead">84 – Portalegre – RN</p></li>
          <li><p class="lead">84 – Porto Do Mangue – RN</p></li>
          <li><p class="lead">84 – Pureza – RN</p></li>
          <li><p class="lead">84 – Rafael Fernandes – RN</p></li>
          <li><p class="lead">84 – Rafael Godeiro – RN</p></li>
          <li><p class="lead">84 – Riacho Da Cruz – RN</p></li>
          <li><p class="lead">84 – Riacho De Santana – RN</p></li>
          <li><p class="lead">84 – Riachuelo – RN</p></li>
          <li><p class="lead">84 – Rio Do Fogo – RN</p></li>
          <li><p class="lead">84 – Rodolfo Fernandes – RN</p></li>
          <li><p class="lead">84 – Ruy Barbosa – RN</p></li>
          <li><p class="lead">84 – Santa Cruz – RN</p></li>
          <li><p class="lead">84 – Santa Maria – RN</p></li>
          <li><p class="lead">84 – Santana Do Matos – RN</p></li>
          <li><p class="lead">84 – Santana Do Seridó – RN</p></li>
          <li><p class="lead">84 – Santo Antônio – RN</p></li>
          <li><p class="lead">84 – São Bento Do Norte – RN</p></li>
          <li><p class="lead">84 – São Bento Do Trairí – RN</p></li>
          <li><p class="lead">84 – São Fernando – RN</p></li>
          <li><p class="lead">84 – São Francisco Do Oeste – RN</p></li>
          <li><p class="lead">84 – São Gonçalo Do Amarante – RN</p></li>
          <li><p class="lead">84 – São João Do Sabugi – RN</p></li>
          <li><p class="lead">84 – São José De Campestre – RN</p></li>
          <li><p class="lead">84 – São José De Mipibu – RN</p></li>
          <li><p class="lead">84 – São José Do Seridó – RN</p></li>
          <li><p class="lead">84 – São Miguel – RN</p></li>
          <li><p class="lead">84 – São Miguel De Touros – RN</p></li>
          <li><p class="lead">84 – São Paulo Do Potengi – RN</p></li>
          <li><p class="lead">84 – São Pedro – RN</p></li>
          <li><p class="lead">84 – São Rafael – RN</p></li>
          <li><p class="lead">84 – São Tomé – RN</p></li>
          <li><p class="lead">84 – São Vicente – RN</p></li>
          <li><p class="lead">84 – Senador Elói De Souza – RN</p></li>
          <li><p class="lead">84 – Senador Georgino Avelino – RN</p></li>
          <li><p class="lead">84 – Serra Caiada – RN</p></li>
          <li><p class="lead">84 – Serra De São Bento – RN</p></li>
          <li><p class="lead">84 – Serra Do Mel – RN</p></li>
          <li><p class="lead">84 – Serra Negra Do Norte – RN</p></li>
          <li><p class="lead">84 – Serrinha – RN</p></li>
          <li><p class="lead">84 – Serrinha Dos Pintos – RN</p></li>
          <li><p class="lead">84 – Severiano Melo – RN</p></li>
          <li><p class="lead">84 – Sítio Novo – RN</p></li>
          <li><p class="lead">84 – Taboleiro Grande – RN</p></li>
          <li><p class="lead">84 – Taipu – RN</p></li>
          <li><p class="lead">84 – Tangará – RN</p></li>
          <li><p class="lead">84 – Tenente Ananias – RN</p></li>
          <li><p class="lead">84 – Tenente Laurentino Cruz – RN</p></li>
          <li><p class="lead">84 – Tibau – RN</p></li>
          <li><p class="lead">84 – Tibau Do Sul – RN</p></li>
          <li><p class="lead">84 – Timbaúba Dos Batistas – RN</p></li>
          <li><p class="lead">84 – Touros – RN</p></li>
          <li><p class="lead">84 – Triunfo Potiguar – RN</p></li>
          <li><p class="lead">84 – Umarizal – RN</p></li>
          <li><p class="lead">84 – Upanema – RN</p></li>
          <li><p class="lead">84 – Várzea – RN</p></li>
          <li><p class="lead">84 – Venha-Ver – RN</p></li>
          <li><p class="lead">84 – Vera Cruz – RN</p></li>
          <li><p class="lead">84 – Viçosa – RN</p></li>
          <li><p class="lead">84 – Vila Flôr – RN</p></li>
      
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>