<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Minas Gerais
      </h2>
      <br>
      <br>
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol><a class="list-group-item list-group-item-action lead" href="/MinasGerais/31">DDD 31 – Belo Horizonte</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/MinasGerais/32">DDD 32 – Juiz de Fora</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/MinasGerais/33">DDD 33 – Governador Valadares</a></ol>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol><a class="list-group-item list-group-item-action lead" href="/MinasGerais/34">DDD 34 – Uberlândia</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/MinasGerais/35">DDD 35 – Poços de Caldas</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/MinasGerais/37">DDD 37 – Divinópolis</a></ol>
            
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol><a class="list-group-item list-group-item-action lead" href="/MinasGerais/38">DDD 38 – Montes Claros</a></ol>
            </div>
          </div>
        </div>
      </div>
      <ul>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>