<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        São Paulo
      </h2>
      <br>
      <br>
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/11">DDD 11 – São Paulo</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/12">DDD 12 – São José dos Campos</a>
              </ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/13">DDD 13 – Santos</a></ol>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/14">DDD 14 – Bauru</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/15">DDD 15 – Sorocaba</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/16">DDD 16 – Ribeirão Preto</a></ol>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/17">DDD 17 – São José do Rio Preto</a></ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/18">DDD 18 – Presidente Prudente</a>
              </ol>
              <ol><a class="list-group-item list-group-item-action lead" href="/SaoPaulo/19">DDD 19 – Campinas</a></ol>
            </div>
          </div>
        </div>
      </div>
      <ul>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>