{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 67 – Campo Grande
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">67 – Água Clara – MS</p>
        </li>
        <li>
          <p class="lead">67 – Alcinópolis – MS</p>
        </li>
        <li>
          <p class="lead">67 – Amambaí – MS</p>
        </li>
        <li>
          <p class="lead">67 – Anastácio – MS</p>
        </li>
        <li>
          <p class="lead">67 – Anaurilândia – MS</p>
        </li>
        <li>
          <p class="lead">67 – Angélica – MS</p>
        </li>
        <li>
          <p class="lead">67 – Antônio João – MS</p>
        </li>
        <li>
          <p class="lead">67 – Aparecida Do Taboado – MS</p>
        </li>
        <li>
          <p class="lead">67 – Aquidauana – MS</p>
        </li>
        <li>
          <p class="lead">67 – Aral Moreira – MS</p>
        </li>
        <li>
          <p class="lead">67 – Bandeirantes – MS</p>
        </li>
        <li>
          <p class="lead">67 – Bataguassu – MS</p>
        </li>
        <li>
          <p class="lead">67 – Bataiporã – MS</p>
        </li>
        <li>
          <p class="lead">67 – Bela Vista – MS</p>
        </li>
        <li>
          <p class="lead">67 – Bodoquena – MS</p>
        </li>
        <li>
          <p class="lead">67 – Bonito – MS</p>
        </li>
        <li>
          <p class="lead">67 – Brasilândia – MS</p>
        </li>
        <li>
          <p class="lead">67 – Caarapó – MS</p>
        </li>
        <li>
          <p class="lead">67 – Camapuã – MS</p>
        </li>
        <li>
          <p class="lead">67 – Campo Grande – MS</p>
        </li>
        <li>
          <p class="lead">67 – Caracol – MS</p>
        </li>
        <li>
          <p class="lead">67 – Cassilândia – MS</p>
        </li>
        <li>
          <p class="lead">67 – Chapadão Do Sul – MS</p>
        </li>
        <li>
          <p class="lead">67 – Corguinho – MS</p>
        </li>
        <li>
          <p class="lead">67 – Coronel Sapucaia – MS</p>
        </li>
        <li>
          <p class="lead">67 – Corumbá – MS</p>
        </li>
        <li>
          <p class="lead">67 – Costa Rica – MS</p>
        </li>
        <li>
          <p class="lead">67 – Coxim – MS</p>
        </li>
        <li>
          <p class="lead">67 – Deodápolis – MS</p>
        </li>
        <li>
          <p class="lead">67 – Dois Irmãos Do Buriti – MS</p>
        </li>
        <li>
          <p class="lead">67 – Douradina – MS</p>
        </li>
        <li>
          <p class="lead">67 – Dourados – MS</p>
        </li>
        <li>
          <p class="lead">67 – Eldorado – MS</p>
        </li>
        <li>
          <p class="lead">67 – Fátima Do Sul – MS</p>
        </li>
        <li>
          <p class="lead">67 – Glória De Dourados – MS</p>
        </li>
        <li>
          <p class="lead">67 – Guia Lopes Da Laguna – MS</p>
        </li>
        <li>
          <p class="lead">67 – Iguatemi – MS</p>
        </li>
        <li>
          <p class="lead">67 – Inocência – MS</p>
        </li>
        <li>
          <p class="lead">67 – Itaporã – MS</p>
        </li>
        <li>
          <p class="lead">67 – Itaquiraí – MS</p>
        </li>
        <li>
          <p class="lead">67 – Ivinhema – MS</p>
        </li>
        <li>
          <p class="lead">67 – Japorã – MS</p>
        </li>
        <li>
          <p class="lead">67 – Jaraguari – MS</p>
        </li>
        <li>
          <p class="lead">67 – Jardim – MS</p>
        </li>
        <li>
          <p class="lead">67 – Jateí – MS</p>
        </li>
        <li>
          <p class="lead">67 – Juti – MS</p>
        </li>
        <li>
          <p class="lead">67 – Ladário – MS</p>
        </li>
        <li>
          <p class="lead">67 – Laguna Carapã – MS</p>
        </li>
        <li>
          <p class="lead">67 – Maracaju – MS</p>
        </li>
        <li>
          <p class="lead">67 – Miranda – MS</p>
        </li>
        <li>
          <p class="lead">67 – Mundo Novo – MS</p>
        </li>
        <li>
          <p class="lead">67 – Naviraí – MS</p>
        </li>
        <li>
          <p class="lead">67 – Nioaque – MS</p>
        </li>
        <li>
          <p class="lead">67 – Nova Alvorada Do Sul – MS</p>
        </li>
        <li>
          <p class="lead">67 – Nova Andradina – MS</p>
        </li>
        <li>
          <p class="lead">67 – Novo Horizonte Do Sul – MS</p>
        </li>
        <li>
          <p class="lead">67 – Paraíso Das Águas – MS</p>
        </li>
        <li>
          <p class="lead">67 – Paranaíba – MS</p>
        </li>
        <li>
          <p class="lead">67 – Paranhos – MS</p>
        </li>
        <li>
          <p class="lead">67 – Pedro Gomes – MS</p>
        </li>
        <li>
          <p class="lead">67 – Ponta Porã – MS</p>
        </li>
        <li>
          <p class="lead">67 – Porto Murtinho – MS</p>
        </li>
        <li>
          <p class="lead">67 – Ribas Do Rio Pardo – MS</p>
        </li>
        <li>
          <p class="lead">67 – Rio Brilhante – MS</p>
        </li>
        <li>
          <p class="lead">67 – Rio Negro – MS</p>
        </li>
        <li>
          <p class="lead">67 – Rio Verde De Mato Grosso – MS</p>
        </li>
        <li>
          <p class="lead">67 – Rochedo – MS</p>
        </li>
        <li>
          <p class="lead">67 – Santa Rita Do Pardo – MS</p>
        </li>
        <li>
          <p class="lead">67 – São Gabriel Do Oeste – MS</p>
        </li>
        <li>
          <p class="lead">67 – Selvíria – MS</p>
        </li>
        <li>
          <p class="lead">67 – Sete Quedas – MS</p>
        </li>
        <li>
          <p class="lead">67 – Sidrolândia – MS</p>
        </li>
        <li>
          <p class="lead">67 – Sonora – MS</p>
        </li>
        <li>
          <p class="lead">67 – Tacuru – MS</p>
        </li>
        <li>
          <p class="lead">67 – Taquarussu – MS</p>
        </li>
        <li>
          <p class="lead">67 – Terenos – MS</p>
        </li>
        <li>
          <p class="lead">67 – Três Lagoas – MS</p>
        </li>
        <li>
          <p class="lead">67 – Vicentina – MS</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
  {% endblock %}