<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 69 – Porto Velho
      </h2>
      <br>
      <br>
      <ul>
        <li><p class="lead">69 – Alta Floresta D’oeste – RO</p></li>
        <li><p class="lead">69 – Alto Alegre Do Parecis – RO</p></li>
        <li><p class="lead">69 – Alto Paraíso – RO</p></li>
        <li><p class="lead">69 – Alvorada D’oeste – RO</p></li>
        <li><p class="lead">69 – Ariquemes – RO</p></li>
        <li><p class="lead">69 – Buritis – RO</p></li>
        <li><p class="lead">69 – Cabixi – RO</p></li>
        <li><p class="lead">69 – Cacaulândia – RO</p></li>
        <li><p class="lead">69 – Cacoal – RO</p></li>
        <li><p class="lead">69 – Campo Novo De Rondônia – RO</p></li>
        <li><p class="lead">69 – Candeias Do Jamari – RO</p></li>
        <li><p class="lead">69 – Castanheiras – RO</p></li>
        <li><p class="lead">69 – Cerejeiras – RO</p></li>
        <li><p class="lead">69 – Chupinguaia – RO</p></li>
        <li><p class="lead">69 – Colorado Do Oeste – RO</p></li>
        <li><p class="lead">69 – Corumbiara – RO</p></li>
        <li><p class="lead">69 – Costa Marques – RO</p></li>
        <li><p class="lead">69 – Cujubim – RO</p></li>
        <li><p class="lead">69 – Espigão D’oeste – RO</p></li>
        <li><p class="lead">69 – Governador Jorge Teixeira – RO</p></li>
        <li><p class="lead">69 – Guajará-Mirim – RO</p></li>
        <li><p class="lead">69 – Itapuã Do Oeste – RO</p></li>
        <li><p class="lead">69 – Jaru – RO</p></li>
        <li><p class="lead">69 – Ji-Paraná – RO</p></li>
        <li><p class="lead">69 – Machadinho D’oeste – RO</p></li>
        <li><p class="lead">69 – Ministro Andreazza – RO</p></li>
        <li><p class="lead">69 – Mirante Da Serra – RO</p></li>
        <li><p class="lead">69 – Monte Negro – RO</p></li>
        <li><p class="lead">69 – Nova Brasilândia D’oeste – RO</p></li>
        <li><p class="lead">69 – Nova Mamoré – RO</p></li>
        <li><p class="lead">69 – Nova União – RO</p></li>
        <li><p class="lead">69 – Novo Horizonte Do Oeste – RO</p></li>
        <li><p class="lead">69 – Ouro Preto Do Oeste – RO</p></li>
        <li><p class="lead">69 – Parecis – RO</p></li>
        <li><p class="lead">69 – Pimenta Bueno – RO</p></li>
        <li><p class="lead">69 – Pimenteiras Do Oeste – RO</p></li>
        <li><p class="lead">69 – Porto Velho – RO</p></li>
        <li><p class="lead">69 – Presidente Médici – RO</p></li>
        <li><p class="lead">69 – Primavera De Rondônia – RO</p></li>
        <li><p class="lead">69 – Rio Crespo – RO</p></li>
        <li><p class="lead">69 – Rolim De Moura – RO</p></li>
        <li><p class="lead">69 – Santa Luzia D’oeste – RO</p></li>
        <li><p class="lead">69 – São Felipe D’oeste – RO</p></li>
        <li><p class="lead">69 – São Francisco Do Guaporé – RO</p></li>
        <li><p class="lead">69 – São Miguel Do Guaporé – RO</p></li>
        <li><p class="lead">69 – Seringueiras – RO</p></li>
        <li><p class="lead">69 – Teixeirópolis – RO</p></li>
        <li><p class="lead">69 – Theobroma – RO</p></li>
        <li><p class="lead">69 – Urupá – RO</p></li>
        <li><p class="lead">69 – Vale Do Anari – RO</p></li>
        <li><p class="lead">69 – Vale Do Paraíso – RO</p></li>
        <li><p class="lead">69 – Vilhena – RO</p></li> 
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>