<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 61 – Brasília
      </h2>
      <br>
      <br>
      <ul>
            <li><p class="lead">61 – Ceilândia – DF</p></li>
            <li><p class="lead">61 – Samambaia – DF</p></li>
            <li><p class="lead">61 – Taguatinga – DF</p></li>
            <li><p class="lead">61 – Plano Piloto – DF</p></li>
            <li><p class="lead">61 – Planaltina – DF</p></li>
            <li><p class="lead">61 – Águas Claras – DF</p></li>
            <li><p class="lead">61 – Recanto das Emas – DF</p></li>
            <li><p class="lead">61 – Gama – DF</p></li>
            <li><p class="lead">61 – Guará – DF</p></li>
            <li><p class="lead">61 – Santa Maria – DF</p></li>
            <li><p class="lead">61 – Sobradinho II – DF</p></li>
            <li><p class="lead">61 – São Sebastião – DF</p></li>
            <li><p class="lead">61 – Vicente Pires – DF</p></li>
            <li><p class="lead">61 – Itapoã – DF</p></li>
            <li><p class="lead">61 – Sobradinho – DF</p></li>
            <li><p class="lead">61 – Sudoeste/Octagonal – DF</p></li>
            <li><p class="lead">61 – Brazlândia – DF</p></li>
            <li><p class="lead">61 – Riacho Fundo II – DF</p></li>
            <li><p class="lead">61 – Paranoá – DF</p></li>
            <li><p class="lead">61 – Riacho Fundo – DF</p></li>
            <li><p class="lead">61 – SCIA – DF</p></li>
            <li><p class="lead">61 – Lago Norte – DF</p></li>
            <li><p class="lead">61 – Cruzeiro – DF</p></li>
            <li><p class="lead">61 – Lago Sul – DF</p></li>
            <li><p class="lead">61 – Jardim Botânico – DF</p></li>
            <li><p class="lead">61 – Núcleo Bandeirante – DF</p></li>
            <li><p class="lead">61 – Park Way – DF</p></li>
            <li><p class="lead">61 – Candangolândia – DF</p></li>
            <li><p class="lead">61 – Varjão – DF</p></li>
            <li><p class="lead">61 – Fercal – DF</p></li>
            <li><p class="lead">61 – SIA</p></li>
        
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>