{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 85 – Fortaleza
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">85 – Acarapé – CE</p>
        </li>
        <li>
          <p class="lead">85 – Apuiarés – CE</p>
        </li>
        <li>
          <p class="lead">85 – Aquiraz – CE</p>
        </li>
        <li>
          <p class="lead">85 – Aracoiaba – CE</p>
        </li>
        <li>
          <p class="lead">85 – Aratuba – CE</p>
        </li>
        <li>
          <p class="lead">85 – Barreira – CE</p>
        </li>
        <li>
          <p class="lead">85 – Baturité – CE</p>
        </li>
        <li>
          <p class="lead">85 – Beberibe – CE</p>
        </li>
        <li>
          <p class="lead">85 – Canindé – CE</p>
        </li>
        <li>
          <p class="lead">85 – Capistrano – CE</p>
        </li>
        <li>
          <p class="lead">85 – Caridade – CE</p>
        </li>
        <li>
          <p class="lead">85 – Cascavel – CE</p>
        </li>
        <li>
          <p class="lead">85 – Caucaia – CE</p>
        </li>
        <li>
          <p class="lead">85 – Chorozinho – CE</p>
        </li>
        <li>
          <p class="lead">85 – Eusébio – CE</p>
        </li>
        <li>
          <p class="lead">85 – Fortaleza – CE</p>
        </li>
        <li>
          <p class="lead">85 – General Sampaio – CE</p>
        </li>
        <li>
          <p class="lead">85 – Guaiúba – CE</p>
        </li>
        <li>
          <p class="lead">85 – Guaramiranga – CE</p>
        </li>
        <li>
          <p class="lead">85 – Horizonte – CE</p>
        </li>
        <li>
          <p class="lead">85 – Itaitinga – CE</p>
        </li>
        <li>
          <p class="lead">85 – Itapagé – CE</p>
        </li>
        <li>
          <p class="lead">85 – Maracanaú – CE</p>
        </li>
        <li>
          <p class="lead">85 – Maranguape – CE</p>
        </li>
        <li>
          <p class="lead">85 – Mulungu – CE</p>
        </li>
        <li>
          <p class="lead">85 – Ocara – CE</p>
        </li>
        <li>
          <p class="lead">85 – Pacajus – CE</p>
        </li>
        <li>
          <p class="lead">85 – Pacatuba – CE</p>
        </li>
        <li>
          <p class="lead">85 – Pacoti – CE</p>
        </li>
        <li>
          <p class="lead">85 – Palmácia – CE</p>
        </li>
        <li>
          <p class="lead">85 – Paracuru – CE</p>
        </li>
        <li>
          <p class="lead">85 – Paraipaba – CE</p>
        </li>
        <li>
          <p class="lead">85 – Paramoti – CE</p>
        </li>
        <li>
          <p class="lead">85 – Pentecoste – CE</p>
        </li>
        <li>
          <p class="lead">85 – Pindoretama – CE</p>
        </li>
        <li>
          <p class="lead">85 – Redenção – CE</p>
        </li>
        <li>
          <p class="lead">85 – São Gonçalo Do Amarante – CE</p>
        </li>
        <li>
          <p class="lead">85 – São Luís Do Curu – CE</p>
        </li>
        <li>
          <p class="lead">85 – Tejuçuoca – CE</p>
        </li>
        <li>
          <p class="lead">85 – Trairi – CE</p>
        </li>
        <li>
          <p class="lead">85 – Tururu – CE</p>
        </li>
        <li>
          <p class="lead">85 – Umirim – CE</p>
        </li>
        <li>
          <p class="lead">85 – Uruburetama – CE</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}