{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 88 – Juazeiro do Norte
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">88 – Abaiara – CE</p>
        </li>
        <li>
          <p class="lead">88 – Acaraú – CE</p>
        </li>
        <li>
          <p class="lead">88 – Acopiara – CE</p>
        </li>
        <li>
          <p class="lead">88 – Aiuaba – CE</p>
        </li>
        <li>
          <p class="lead">88 – Alcântaras – CE</p>
        </li>
        <li>
          <p class="lead">88 – Altaneira – CE</p>
        </li>
        <li>
          <p class="lead">88 – Alto Santo – CE</p>
        </li>
        <li>
          <p class="lead">88 – Amontada – CE</p>
        </li>
        <li>
          <p class="lead">88 – Antonina Do Norte – CE</p>
        </li>
        <li>
          <p class="lead">88 – Aracati – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ararendá – CE</p>
        </li>
        <li>
          <p class="lead">88 – Araripe – CE</p>
        </li>
        <li>
          <p class="lead">88 – Arneiroz – CE</p>
        </li>
        <li>
          <p class="lead">88 – Assaré – CE</p>
        </li>
        <li>
          <p class="lead">88 – Aurora – CE</p>
        </li>
        <li>
          <p class="lead">88 – Baixio – CE</p>
        </li>
        <li>
          <p class="lead">88 – Banabuiú – CE</p>
        </li>
        <li>
          <p class="lead">88 – Barbalha – CE</p>
        </li>
        <li>
          <p class="lead">88 – Barro – CE</p>
        </li>
        <li>
          <p class="lead">88 – Barroquinha – CE</p>
        </li>
        <li>
          <p class="lead">88 – Bela Cruz – CE</p>
        </li>
        <li>
          <p class="lead">88 – Boa Viagem – CE</p>
        </li>
        <li>
          <p class="lead">88 – Brejo Santo – CE</p>
        </li>
        <li>
          <p class="lead">88 – Camocim – CE</p>
        </li>
        <li>
          <p class="lead">88 – Campos Sales – CE</p>
        </li>
        <li>
          <p class="lead">88 – Cariré – CE</p>
        </li>
        <li>
          <p class="lead">88 – Caririaçu – CE</p>
        </li>
        <li>
          <p class="lead">88 – Cariús – CE</p>
        </li>
        <li>
          <p class="lead">88 – Carnaubal – CE</p>
        </li>
        <li>
          <p class="lead">88 – Catarina – CE</p>
        </li>
        <li>
          <p class="lead">88 – Catunda – CE</p>
        </li>
        <li>
          <p class="lead">88 – Cedro – CE</p>
        </li>
        <li>
          <p class="lead">88 – Chaval – CE</p>
        </li>
        <li>
          <p class="lead">88 – Choró – CE</p>
        </li>
        <li>
          <p class="lead">88 – Coreaú – CE</p>
        </li>
        <li>
          <p class="lead">88 – Crateús – CE</p>
        </li>
        <li>
          <p class="lead">88 – Crato – CE</p>
        </li>
        <li>
          <p class="lead">88 – Croatá – CE</p>
        </li>
        <li>
          <p class="lead">88 – Cruz – CE</p>
        </li>
        <li>
          <p class="lead">88 – Deputado Irapuan Pinheiro – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ererê – CE</p>
        </li>
        <li>
          <p class="lead">88 – Farias Brito – CE</p>
        </li>
        <li>
          <p class="lead">88 – Forquilha – CE</p>
        </li>
        <li>
          <p class="lead">88 – Fortim – CE</p>
        </li>
        <li>
          <p class="lead">88 – Frecheirinha – CE</p>
        </li>
        <li>
          <p class="lead">88 – Graça – CE</p>
        </li>
        <li>
          <p class="lead">88 – Granja – CE</p>
        </li>
        <li>
          <p class="lead">88 – Granjeiro – CE</p>
        </li>
        <li>
          <p class="lead">88 – Groaíras – CE</p>
        </li>
        <li>
          <p class="lead">88 – Guaraciaba Do Norte – CE</p>
        </li>
        <li>
          <p class="lead">88 – Hidrolândia – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ibaretama – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ibiapina – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ibicuitinga – CE</p>
        </li>
        <li>
          <p class="lead">88 – Icapuí – CE</p>
        </li>
        <li>
          <p class="lead">88 – Icó – CE</p>
        </li>
        <li>
          <p class="lead">88 – Iguatu – CE</p>
        </li>
        <li>
          <p class="lead">88 – Independência – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ipaporanga – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ipaumirim – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ipu – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ipueiras – CE</p>
        </li>
        <li>
          <p class="lead">88 – Iracema – CE</p>
        </li>
        <li>
          <p class="lead">88 – Irauçuba – CE</p>
        </li>
        <li>
          <p class="lead">88 – Itaiçaba – CE</p>
        </li>
        <li>
          <p class="lead">88 – Itapipoca – CE</p>
        </li>
        <li>
          <p class="lead">88 – Itapiúna – CE</p>
        </li>
        <li>
          <p class="lead">88 – Itarema – CE</p>
        </li>
        <li>
          <p class="lead">88 – Itatira – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jaguaretama – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jaguaribara – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jaguaribe – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jaguaruana – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jardim – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jati – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jijoca De Jericoacoara – CE</p>
        </li>
        <li>
          <p class="lead">88 – Juazeiro Do Norte – CE</p>
        </li>
        <li>
          <p class="lead">88 – Jucás – CE</p>
        </li>
        <li>
          <p class="lead">88 – Lavras Da Mangabeira – CE</p>
        </li>
        <li>
          <p class="lead">88 – Limoeiro Do Norte – CE</p>
        </li>
        <li>
          <p class="lead">88 – Madalena – CE</p>
        </li>
        <li>
          <p class="lead">88 – Marco – CE</p>
        </li>
        <li>
          <p class="lead">88 – Martinópole – CE</p>
        </li>
        <li>
          <p class="lead">88 – Massapê – CE</p>
        </li>
        <li>
          <p class="lead">88 – Mauriti – CE</p>
        </li>
        <li>
          <p class="lead">88 – Meruoca – CE</p>
        </li>
        <li>
          <p class="lead">88 – Milagres – CE</p>
        </li>
        <li>
          <p class="lead">88 – Milhã – CE</p>
        </li>
        <li>
          <p class="lead">88 – Miraíma – CE</p>
        </li>
        <li>
          <p class="lead">88 – Missão Velha – CE</p>
        </li>
        <li>
          <p class="lead">88 – Mombaça – CE</p>
        </li>
        <li>
          <p class="lead">88 – Monsenhor Tabosa – CE</p>
        </li>
        <li>
          <p class="lead">88 – Morada Nova – CE</p>
        </li>
        <li>
          <p class="lead">88 – Moraújo – CE</p>
        </li>
        <li>
          <p class="lead">88 – Morrinhos – CE</p>
        </li>
        <li>
          <p class="lead">88 – Mucambo – CE</p>
        </li>
        <li>
          <p class="lead">88 – Nova Olinda – CE</p>
        </li>
        <li>
          <p class="lead">88 – Nova Russas – CE</p>
        </li>
        <li>
          <p class="lead">88 – Novo Oriente – CE</p>
        </li>
        <li>
          <p class="lead">88 – Orós – CE</p>
        </li>
        <li>
          <p class="lead">88 – Pacujá – CE</p>
        </li>
        <li>
          <p class="lead">88 – Palhano – CE</p>
        </li>
        <li>
          <p class="lead">88 – Parambu – CE</p>
        </li>
        <li>
          <p class="lead">88 – Pedra Branca – CE</p>
        </li>
        <li>
          <p class="lead">88 – Penaforte – CE</p>
        </li>
        <li>
          <p class="lead">88 – Pereiro – CE</p>
        </li>
        <li>
          <p class="lead">88 – Piquet Carneiro – CE</p>
        </li>
        <li>
          <p class="lead">88 – Pires Ferreira – CE</p>
        </li>
        <li>
          <p class="lead">88 – Poranga – CE</p>
        </li>
        <li>
          <p class="lead">88 – Porteiras – CE</p>
        </li>
        <li>
          <p class="lead">88 – Potengi – CE</p>
        </li>
        <li>
          <p class="lead">88 – Potiretama – CE</p>
        </li>
        <li>
          <p class="lead">88 – Quiterianópolis – CE</p>
        </li>
        <li>
          <p class="lead">88 – Quixadá – CE</p>
        </li>
        <li>
          <p class="lead">88 – Quixelô – CE</p>
        </li>
        <li>
          <p class="lead">88 – Quixeramobim – CE</p>
        </li>
        <li>
          <p class="lead">88 – Quixeré – CE</p>
        </li>
        <li>
          <p class="lead">88 – Reriutaba – CE</p>
        </li>
        <li>
          <p class="lead">88 – Russas – CE</p>
        </li>
        <li>
          <p class="lead">88 – Saboeiro – CE</p>
        </li>
        <li>
          <p class="lead">88 – Salitre – CE</p>
        </li>
        <li>
          <p class="lead">88 – Santa Quitéria – CE</p>
        </li>
        <li>
          <p class="lead">88 – Santana Do Acaraú – CE</p>
        </li>
        <li>
          <p class="lead">88 – Santana Do Cariri – CE</p>
        </li>
        <li>
          <p class="lead">88 – São Benedito – CE</p>
        </li>
        <li>
          <p class="lead">88 – São João Do Jaguaribe – CE</p>
        </li>
        <li>
          <p class="lead">88 – Senador Pompeu – CE</p>
        </li>
        <li>
          <p class="lead">88 – Senador Sá – CE</p>
        </li>
        <li>
          <p class="lead">88 – Sobral – CE</p>
        </li>
        <li>
          <p class="lead">88 – Solonópole – CE</p>
        </li>
        <li>
          <p class="lead">88 – Tabuleiro Do Norte – CE</p>
        </li>
        <li>
          <p class="lead">88 – Tamboril – CE</p>
        </li>
        <li>
          <p class="lead">88 – Tarrafas – CE</p>
        </li>
        <li>
          <p class="lead">88 – Tauá – CE</p>
        </li>
        <li>
          <p class="lead">88 – Tianguá – CE</p>
        </li>
        <li>
          <p class="lead">88 – Ubajara – CE</p>
        </li>
        <li>
          <p class="lead">88 – Umari – CE</p>
        </li>
        <li>
          <p class="lead">88 – Uruoca – CE</p>
        </li>
        <li>
          <p class="lead">88 – Varjota – CE</p>
        </li>
        <li>
          <p class="lead">88 – Várzea Alegre – CE</p>
        </li>
        <li>
          <p class="lead">88 – Viçosa Do Ceará – CE</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}