{% extends "base/base.njk" %}

{% block base %}

{% include "home/reference.njk" %}
<br><br>
{% include "home/howToAccess.njk" %}
<br><br>
{% include "home/valid.njk" %}
<br><br>
{% include "home/invalid.njk" %}
<br><br>
{% include "home/request.njk" %}


{% endblock %}