{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Paraná 
      </h2>
      <br>
      <br>
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/Parana/41">DDD 41 – Curitiba</a>
              </ol>
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/Parana/42">DDD 42 – Ponta Grossa</a>
              </ol>
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/Parana/43">DDD 43 – Londrina</a>
              </ol>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/Parana/44">DDD 44 – Maringá</a>
              </ol>
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/Parana/45">DDD 45 – Foz do Iguaçú</a>
              </ol>
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/Parana/46">DDD 46 – Francisco Beltrão/Pato Branco</a>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "history/states.njk" %}
</div>
{% endblock %}