{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Paraíba 
      </h2>
      <br>
      <br>
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/Paraiba/83">DDD 83 – João Pessoa</a>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "history/states.njk" %}
</div>
{% endblock %}