{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Rio Grande do Sul
      </h2>
      <br>
      <br>
      <div class="card-body p-4">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/RioGrandeDoSul/51">DDD 51 – Porto Alegre </a>
              </ol>
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/RioGrandeDoSul/53">DDD 53 – Pelotas</a>
              </ol>
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/RioGrandeDoSul/54">DDD 54 – Caxias do Sul</a>
              </ol>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4">
            <div class="list-group">
              <ol>
                <a class="list-group-item list-group-item-action lead" href="/RioGrandeDoSul/55">DDD 55 – Santa Maria</a>
              </ol>

            </div>
          </div>
        </div>
      </div>
      <ul></ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}