{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div id="politica" class="card p-4">
      <h2 class="text-primary">
        Política de Privacidade
      </h2>
      <br>
      <br>
      <p class="lead">
        O ViaDDD coleta informações de seu browser. Esta informação será somente usada para gerar dados estatísticos de
        sua visita para serem analisados e utilizados para a melhoria dos serviços oferecidos pelo site. As informações
        coletadas são o endereço IP, a página pesquisada, a página de origem e qualquer outra informação fornecida em
        nossos formulários de contato.
      </p>
      <p class="lead">
        O ViaDDD nunca irá fornecer estas informações para outras pessoas.
      </p>
      <p class="lead">
        O ViaDDD utiliza o sistema de anúncios do Google Adsense. O Google, como fornecedor de terceiros, utiliza
        cookies
        para exibir anúncios no seu site. Com o cookie DART, o Google pode exibir anúncios para seus usuários com base
        nas
        visitas feitas aos seus e a outros sites na Internet.
        Os usuários podem desativar o cookie DART visitando a Política de privacidade da rede de conteúdo e dos anúncios
        do Google.
        Para obter mais informações sobre essa prática e saber como impedir que as empresas utilizem esses dados, <a
          href="https://policies.google.com/technologies/partner-sites">aqui</a>.
      </p>
      <p class="lead">
        Agradecemos a todos por utilizarem o nosso serviço!
      </p>
    </div>
    <br>
    <br>
    {% include "history/states.njk" %}
  {% endblock %}