<div id="estados" class="card p-4">
  <div>
    <h2 class="text-primary">
      Todos os DDDs nacionais
    </h2>
    <br>
    <br>
    <p class="lead">
    Pode ser confuso saber como discar o número de longa distância correto. Para ajudá-lo, listamos abaixo todos os códigos de área no país e os estados aos quais eles correspondem:
    </p>
  </div>
  <br>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Centro-Oeste
      </h2>
      <ul>
        <li>
          <p class="lead">
            <a href='/DistritoFederal'>Distrito Federal (61)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Goias'>Goiás (62 e 64)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/MatoGrosso'>Mato Grosso (65 e 66)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/MatoGrossoDoSul'>Mato Grosso do Sul (67)</a>
          </p>
        </li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Nordeste
       </h2>
      <ul>
        <li>
          <p class="lead">
            <a href='/Alagoas'>Alagoas (82)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Bahia'>Bahia (71, 73, 74, 75 e 77)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Ceara'>Ceará (85 e 88)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Maranhao'>Maranhão (98 e 99)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Paraiba'>Paraíba (83)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Pernambuco'>Pernambuco (81 e 87)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Piaui'>Piauí (86 e 89)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/RioGrandeDoNorte'>Rio Grande do Norte (84)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Sergipe'>Sergipe (79)</a>
          </p>
        </li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Norte
       </h2>
      <ul>
        <li>
          <p class="lead">
            <a href='/Acre'>Acre (68)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Amapa'>Amapá (96)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Amazonas'>Amazonas (92 e 97)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Para'>Pará (91, 93 e 94)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Rondonia'>Rondônia (69)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Roraima'>Roraima (95)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/Tocantins'>Tocantins (63)</a>
          </p>
        </li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Sudeste
       </h2>
      <ul>
        <li>
          <p class="lead">
            <a href='/EspiritoSanto'>Espírito Santo (27 e 28)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/MinasGerais'>Minas Gerais (31, 32, 33, 34, 35, 37 e 38)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/RioDeJaneiro'>Rio de Janeiro (21, 22 e 24)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/SaoPaulo'>São Paulo (11, 12, 13, 14, 15, 16, 17, 18 e 19)</a>
          </p>
        </li>
      </ul>
    </div>
    <br>
    <div class="col-12 col-sm-12 col-md-4 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        Sul
       </h2>
      <ul>
        <li>
          <p class="lead">
            <a href='/Parana'>Paraná (41, 42, 43, 44, 45 e 46)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/RioGrandeDoSul'>Rio Grande do Sul (51, 53, 54 e 55)</a>
          </p>
        </li>
        <li>
          <p class="lead">
            <a href='/SantaCatarina'>Santa Catarina (47, 48 e 49)</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>