{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 91 – Belém
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">91 – Abaetetuba – PA</p>
        </li>
        <li>
          <p class="lead">91 – Acará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Afuá – PA</p>
        </li>
        <li>
          <p class="lead">91 – Anajás – PA</p>
        </li>
        <li>
          <p class="lead">91 – Ananindeua – PA</p>
        </li>
        <li>
          <p class="lead">91 – Anapu – PA</p>
        </li>
        <li>
          <p class="lead">91 – Augusto Corrêa – PA</p>
        </li>
        <li>
          <p class="lead">91 – Aurora Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Bagre – PA</p>
        </li>
        <li>
          <p class="lead">91 – Baião – PA</p>
        </li>
        <li>
          <p class="lead">91 – Barcarena – PA</p>
        </li>
        <li>
          <p class="lead">91 – Belém – PA</p>
        </li>
        <li>
          <p class="lead">91 – Benevides – PA</p>
        </li>
        <li>
          <p class="lead">91 – Bonito – PA</p>
        </li>
        <li>
          <p class="lead">91 – Bragança – PA</p>
        </li>
        <li>
          <p class="lead">91 – Breves – PA</p>
        </li>
        <li>
          <p class="lead">91 – Bujaru – PA</p>
        </li>
        <li>
          <p class="lead">91 – Cachoeira Do Arari – PA</p>
        </li>
        <li>
          <p class="lead">91 – Cachoeira Do Piriá – PA</p>
        </li>
        <li>
          <p class="lead">91 – Cametá – PA</p>
        </li>
        <li>
          <p class="lead">91 – Capanema – PA</p>
        </li>
        <li>
          <p class="lead">91 – Capitão Poço – PA</p>
        </li>
        <li>
          <p class="lead">91 – Castanhal – PA</p>
        </li>
        <li>
          <p class="lead">91 – Chaves – PA</p>
        </li>
        <li>
          <p class="lead">91 – Colares – PA</p>
        </li>
        <li>
          <p class="lead">91 – Concórdia Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Curralinho – PA</p>
        </li>
        <li>
          <p class="lead">91 – Curuçá – PA</p>
        </li>
        <li>
          <p class="lead">91 – Garrafão Do Norte – PA</p>
        </li>
        <li>
          <p class="lead">91 – Gurupá – PA</p>
        </li>
        <li>
          <p class="lead">91 – Igarapé-Açu – PA</p>
        </li>
        <li>
          <p class="lead">91 – Igarapé-Miri – PA</p>
        </li>
        <li>
          <p class="lead">91 – Inhangapi – PA</p>
        </li>
        <li>
          <p class="lead">91 – Ipixuna Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Irituia – PA</p>
        </li>
        <li>
          <p class="lead">91 – Limoeiro Do Ajuru – PA</p>
        </li>
        <li>
          <p class="lead">91 – Mãe Do Rio – PA</p>
        </li>
        <li>
          <p class="lead">91 – Magalhães Barata – PA</p>
        </li>
        <li>
          <p class="lead">91 – Maracanã – PA</p>
        </li>
        <li>
          <p class="lead">91 – Marapanim – PA</p>
        </li>
        <li>
          <p class="lead">91 – Marituba – PA</p>
        </li>
        <li>
          <p class="lead">91 – Melgaço – PA</p>
        </li>
        <li>
          <p class="lead">91 – Mocajuba – PA</p>
        </li>
        <li>
          <p class="lead">91 – Moju – PA</p>
        </li>
        <li>
          <p class="lead">91 – Muaná – PA</p>
        </li>
        <li>
          <p class="lead">91 – Nova Esperança Do Piriá – PA</p>
        </li>
        <li>
          <p class="lead">91 – Nova Timboteua – PA</p>
        </li>
        <li>
          <p class="lead">91 – Oeiras Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Ourém – PA</p>
        </li>
        <li>
          <p class="lead">91 – Pacajá – PA</p>
        </li>
        <li>
          <p class="lead">91 – Paragominas – PA</p>
        </li>
        <li>
          <p class="lead">91 – Peixe-Boi – PA</p>
        </li>
        <li>
          <p class="lead">91 – Ponta De Pedras – PA</p>
        </li>
        <li>
          <p class="lead">91 – Portel – PA</p>
        </li>
        <li>
          <p class="lead">91 – Primavera – PA</p>
        </li>
        <li>
          <p class="lead">91 – Quatipuru – PA</p>
        </li>
        <li>
          <p class="lead">91 – Salinópolis – PA</p>
        </li>
        <li>
          <p class="lead">91 – Salvaterra – PA</p>
        </li>
        <li>
          <p class="lead">91 – Santa Bárbara Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Santa Cruz Do Arari – PA</p>
        </li>
        <li>
          <p class="lead">91 – Santa Isabel Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Santa Luzia Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Santa Maria Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – Santarém Novo – PA</p>
        </li>
        <li>
          <p class="lead">91 – Santo Antônio Do Tauá – PA</p>
        </li>
        <li>
          <p class="lead">91 – São Caetano De Odivelas – PA</p>
        </li>
        <li>
          <p class="lead">91 – São Domingos Do Capim – PA</p>
        </li>
        <li>
          <p class="lead">91 – São Francisco Do Pará – PA</p>
        </li>
        <li>
          <p class="lead">91 – São João Da Ponta – PA</p>
        </li>
        <li>
          <p class="lead">91 – São João De Pirabas – PA</p>
        </li>
        <li>
          <p class="lead">91 – São Miguel Do Guamá – PA</p>
        </li>
        <li>
          <p class="lead">91 – São Sebastião Da Boa Vista – PA</p>
        </li>
        <li>
          <p class="lead">91 – Senador José Porfírio – PA</p>
        </li>
        <li>
          <p class="lead">91 – Soure – PA</p>
        </li>
        <li>
          <p class="lead">91 – Tailândia – PA</p>
        </li>
        <li>
          <p class="lead">91 – Terra Alta – PA</p>
        </li>
        <li>
          <p class="lead">91 – Tomé-Açu – PA</p>
        </li>
        <li>
          <p class="lead">91 – Tracuateua – PA</p>
        </li>
        <li>
          <p class="lead">91 – Ulianópolis – PA</p>
        </li>
        <li>
          <p class="lead">91 – Vigia – PA</p>
        </li>
        <li>
          <p class="lead">91 – Viseu – PA</p>
        </li>

      </ul>
      {% include "history/states.njk" %}
    </div>
  {% endblock %}