{% extends "base/base.njk" %}

{% block base %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 93 – Santarém
      </h2>
      <br>
      <br>
      <ul>
        <li>
          <p class="lead">93 – Alenquer – PA</p>
        </li>
        <li>
          <p class="lead">93 – Almeirim – PA</p>
        </li>
        <li>
          <p class="lead">93 – Altamira – PA</p>
        </li>
        <li>
          <p class="lead">93 – Aveiro – PA</p>
        </li>
        <li>
          <p class="lead">93 – Belterra – PA</p>
        </li>
        <li>
          <p class="lead">93 – Brasil Novo – PA</p>
        </li>
        <li>
          <p class="lead">93 – Curuá – PA</p>
        </li>
        <li>
          <p class="lead">93 – Faro – PA</p>
        </li>
        <li>
          <p class="lead">93 – Itaituba – PA</p>
        </li>
        <li>
          <p class="lead">93 – Jacareacanga – PA</p>
        </li>
        <li>
          <p class="lead">93 – Juruti – PA</p>
        </li>
        <li>
          <p class="lead">93 – Medicilândia – PA</p>
        </li>
        <li>
          <p class="lead">93 – Mojuí Dos Campos – PA</p>
        </li>
        <li>
          <p class="lead">93 – Monte Alegre – PA</p>
        </li>
        <li>
          <p class="lead">93 – Novo Progresso – PA</p>
        </li>
        <li>
          <p class="lead">93 – Óbidos – PA</p>
        </li>
        <li>
          <p class="lead">93 – Oriximiná – PA</p>
        </li>
        <li>
          <p class="lead">93 – Placas – PA</p>
        </li>
        <li>
          <p class="lead">93 – Porto De Moz – PA</p>
        </li>
        <li>
          <p class="lead">93 – Prainha – PA</p>
        </li>
        <li>
          <p class="lead">93 – Rurópolis – PA</p>
        </li>
        <li>
          <p class="lead">93 – Santarém – PA</p>
        </li>
        <li>
          <p class="lead">93 – Terra Santa – PA</p>
        </li>
        <li>
          <p class="lead">93 – Trairão – PA</p>
        </li>
        <li>
          <p class="lead">93 – Uruará – PA</p>
        </li>
        <li>
          <p class="lead">93 – Vitória Do Xingu – PA</p>
        </li>
      </ul>
      {% include "history/states.njk" %}
    </div>
  </div>
{% endblock %}