<!DOCTYPE html>
<html lang="pt-br">
{% include "head.html" %}

<body>
  {% include "navbar.html" %}
  <br><br>
  <div class="container">
    <div class="col-12 col-sm-12 col-md-12 card p-4 mb-2 mr-2">
      <h2 class="text-primary">
        DDD 94 – Marabá
      </h2>
      <br>
      <br>
      <ul>
             <li><p class="lead">94 – Abel Figueiredo – PA</p></li>
             <li><p class="lead">94 – Água Azul Do Norte – PA</p></li>
             <li><p class="lead">94 – Bannach – PA</p></li>
             <li><p class="lead">94 – Bom Jesus Do Tocantins – PA</p></li>
             <li><p class="lead">94 – Brejo Grande Do Araguaia – PA</p></li>
             <li><p class="lead">94 – Breu Branco – PA</p></li>
             <li><p class="lead">94 – Canaã Dos Carajás – PA</p></li>
             <li><p class="lead">94 – Conceição Do Araguaia – PA</p></li>
             <li><p class="lead">94 – Cumaru Do Norte – PA</p></li>
             <li><p class="lead">94 – Curionópolis – PA</p></li>
             <li><p class="lead">94 – Dom Eliseu – PA</p></li>
             <li><p class="lead">94 – Eldorado Dos Carajás – PA</p></li>
             <li><p class="lead">94 – Floresta Do Araguaia – PA</p></li>
             <li><p class="lead">94 – Goianésia Do Pará – PA</p></li>
             <li><p class="lead">94 – Itupiranga – PA</p></li>
             <li><p class="lead">94 – Jacundá – PA</p></li>
             <li><p class="lead">94 – Marabá – PA</p></li>
             <li><p class="lead">94 – Nova Ipixuna – PA</p></li>
             <li><p class="lead">94 – Novo Repartimento – PA</p></li>
             <li><p class="lead">94 – Ourilândia Do Norte – PA</p></li>
             <li><p class="lead">94 – Palestina Do Pará – PA</p></li>
             <li><p class="lead">94 – Parauapebas – PA</p></li>
             <li><p class="lead">94 – Pau D’arco – PA</p></li>
             <li><p class="lead">94 – Piçarra – PA</p></li>
             <li><p class="lead">94 – Redenção – PA</p></li>
             <li><p class="lead">94 – Rio Maria – PA</p></li>
             <li><p class="lead">94 – Rondon Do Pará – PA</p></li>
             <li><p class="lead">94 – Santa Maria Das Barreiras – PA</p></li>
             <li><p class="lead">94 – Santana Do Araguaia – PA</p></li>
             <li><p class="lead">94 – São Domingos Do Araguaia – PA</p></li>
             <li><p class="lead">94 – São Félix Do Xingu – PA</p></li>
             <li><p class="lead">94 – São Geraldo Do Araguaia – PA</p></li>
             <li><p class="lead">94 – São João Do Araguaia – PA</p></li>
             <li><p class="lead">94 – Sapucaia – PA</p></li>
             <li><p class="lead">94 – Tucumã – PA</p></li>
             <li><p class="lead">94 – Tucuruí – PA</p></li>
             <li><p class="lead">94 – Xinguara – PA</p></li>
      </ul>
    </div>
    {% include "estados.html" %}
  </div>
  {% include "footer.html" %}
</body>

</html>